force-app/main/default/flows/AccountPhoneCodeCalculation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Country_Code</name>
        <label>Assign Country Code</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.PhoneCountryCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DialCodeWithPhone</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <formulas>
        <name>BelgiumPhoneCodeFormula</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.PhoneCountry__c})&amp;{!$Record.Phone}</expression>
    </formulas>
    <formulas>
        <name>DialCodeWithPhone</name>
        <dataType>String</dataType>
        <expression>{!Get_Country_Code_Metadata.PhoneCountryDialCode__c}&amp;RIGHT({!$Record.Phone},(LEN( {!$Record.Phone})-FIND(&quot;0&quot;, {!$Record.Phone})))</expression>
    </formulas>
    <interviewLabel>Account Phone Code Calculation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Phone Code Calculation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Country_Code_Metadata</name>
        <label>Get Country Code Metadata</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Country_Code</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PhoneCountry__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PhoneCountryDialCode__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Country__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Country_Code_Metadata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PhoneCountry__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
