force-app/main/default/flows/Account_Handler_New.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Liber</name>
        <label>Assign Liber</label>
        <locationX>662</locationX>
        <locationY>353</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.SalesAdminLiber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Noordhoff</name>
        <label>Assign Noordhoff</label>
        <locationX>666</locationX>
        <locationY>463</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.SalesAdminNoordhoff</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Plantyn</name>
        <label>Assign Plantyn</label>
        <locationX>668</locationX>
        <locationY>229</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.SalesAdminPlantyn</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Action</name>
        <label>Action</label>
        <locationX>169</locationX>
        <locationY>357</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assign_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedById</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0053V000001EyOzQAK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Operating_Company</targetReference>
            </connector>
            <label>Assign Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Operating_Company</name>
        <label>Operating Company</label>
        <locationX>469</locationX>
        <locationY>353</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Plantyn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Plantyn</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Plantyn</targetReference>
            </connector>
            <label>Plantyn</label>
        </rules>
        <rules>
            <name>Liber</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Liber</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Liber</targetReference>
            </connector>
            <label>Liber</label>
        </rules>
        <rules>
            <name>Noordhoff</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Noordhoff</targetReference>
            </connector>
            <label>Noordhoff</label>
        </rules>
    </decisions>
    <interviewLabel>Account Handler New {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Handler New</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_account</name>
        <label>Update account</label>
        <locationX>841</locationX>
        <locationY>353</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Action</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
