force-app/main/default/flows/Account_Manual_Sync_ILAddress_values_to_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Billing</name>
        <label>Assign Billing</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.BillingStreetName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingAddress__r.Street__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingHouseNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingAddress__r.HouseNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingHouseNumberAddition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingAddress__r.HouseNumberAddition__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingAddress__r.City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingAddress__r.PostalCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingAddress__r.Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingCountryCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingAddress__r.CountryCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillToAddressValidated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingAddress__r.Validated_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingAddressStatusCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingAddress__r.rv2Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Shipping</name>
        <label>Assign Shipping</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.ShippingStreetName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ShippingAddress__r.Street__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingHouseNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ShippingAddress__r.HouseNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingHouseNumberAddition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ShippingAddress__r.HouseNumberAddition__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ShippingAddress__r.City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ShippingAddress__r.PostalCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ShippingAddress__r.Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingCountryCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ShippingAddress__r.CountryCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShipToAddressValidated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ShippingAddress__r.Validated_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingAddressStatusCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ShippingAddress__r.rv2Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Shipping_Billing</name>
        <label>Assign Shipping &amp; Billing</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.ShippingStreetName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ShippingAddress__r.Street__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingHouseNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ShippingAddress__r.HouseNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingHouseNumberAddition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ShippingAddress__r.HouseNumberAddition__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ShippingAddress__r.City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ShippingAddress__r.PostalCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ShippingAddress__r.Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingCountryCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ShippingAddress__r.CountryCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShipToAddressValidated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ShippingAddress__r.Validated_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingAddressStatusCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ShippingAddress__r.rv2Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingStreetName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingAddress__r.Street__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingHouseNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingAddress__r.HouseNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingHouseNumberAddition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingAddress__r.HouseNumberAddition__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingAddress__r.City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingAddress__r.PostalCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingAddress__r.Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingCountryCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingAddress__r.CountryCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillToAddressValidated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingAddress__r.Validated_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingAddressStatusCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingAddress__r.rv2Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Address</name>
        <label>Address</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Assign_Shipping_Billing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Both</defaultConnectorLabel>
        <rules>
            <name>Shipping</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Manual_Sync_Shippin_ILAddress_to_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Shipping</targetReference>
            </connector>
            <label>Shipping</label>
        </rules>
        <rules>
            <name>Billing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Manual_Sync_Billing_ILAddress_to_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Billing</targetReference>
            </connector>
            <label>Billing</label>
        </rules>
    </decisions>
    <description>This flow will sync the ILAddress values in the Address lookup back to the address fields of the Account</description>
    <environments>Default</environments>
    <formulas>
        <name>BillingStreet</name>
        <dataType>String</dataType>
        <expression>{!$Record.BillingAddress__r.Street__c} &amp; &apos; &apos; &amp; {!$Record.BillingAddress__r.HouseNumber__c} &amp; &apos; &apos; &amp; {!$Record.BillingAddress__r.HouseNumberAddition__c}</expression>
    </formulas>
    <formulas>
        <name>ShippingStreet</name>
        <dataType>String</dataType>
        <expression>{!$Record.ShippingAddress__r.Street__c} &amp; &apos; &apos; &amp; {!$Record.ShippingAddress__r.HouseNumber__c} &amp; &apos; &apos; &amp; {!$Record.ShippingAddress__r.HouseNumberAddition__c}</expression>
    </formulas>
    <interviewLabel>Account_Manual Sync ILAddress values to Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account_Manual Sync ILAddress values to Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>314</locationX>
        <locationY>623</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Manual_Sync_ILAddress_to_Account__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Manual_Sync_ILAddress_to_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
