force-app/main/default/flows/Asset_Discount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Set_Asset_Values_for_Revert</name>
        <label>Set Asset Values for Revert</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>Get_Asset.ManualDiscount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecurringAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Asset.ManualDiscountValue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DiscountAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>AssetDiscountScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Asset_Values_for_Revert_0</name>
        <label>Set Asset Values for Revert</label>
        <locationX>842</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>Get_Asset.ManualDiscount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecurringPercentage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Asset.ManualDiscountPercent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DiscountPercent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>AssetDiscountScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Discount_Amount_As_Invalid</name>
        <label>Set Discount Amount As Invalid</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>DiscountAmountValid</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Asset_Values_for_Revert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Discount_Amount_As_Valid</name>
        <label>Set Discount Amount As Valid</label>
        <locationX>644</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>DiscountAmountValid</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Discount_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Percentage_Amount_As_Invalid</name>
        <label>Set Percentage Amount As Invalid</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>PercentageAmountValid</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Asset_Values_for_Revert_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Percentage_Amount_As_Valid</name>
        <label>Set Percentage Amount As Valid</label>
        <locationX>644</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>PercentageAmountValid</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Discount_Amount_As_Valid</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>RecurringAmount</name>
        <choiceText>Recurring Amount</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Recurring Amount</stringValue>
        </value>
    </choices>
    <choices>
        <name>RecurringPercentage</name>
        <choiceText>&lt;p style=&quot;user-select: auto;&quot;&gt;Recurring Percentage&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Recurring Percentage</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Discount_Amount_Valid</name>
        <label>Discount Amount Valid</label>
        <locationX>182</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Set_Discount_Amount_As_Invalid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DiscountAmount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>AssetTotalPrice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DiscountAmount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DiscountAmount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Asset</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Discount_Type</name>
        <label>Discount Type</label>
        <locationX>644</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Update_Asset_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Amount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecurringAmount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Discount_Amount_Valid</targetReference>
            </connector>
            <label>Amount</label>
        </rules>
        <rules>
            <name>Percentage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecurringPercentage</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Percentage_is_Valid</targetReference>
            </connector>
            <label>Percentage</label>
        </rules>
    </decisions>
    <decisions>
        <name>Percentage_is_Valid</name>
        <label>Percentage is Valid</label>
        <locationX>710</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Set_Percentage_Amount_As_Invalid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Percentage_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DiscountPercent</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DiscountPercent</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DiscountPercent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Asset_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>AssetTotalPrice</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Asset.Price} * {!Get_Asset.Quantity}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Asset Discount {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Asset Discount</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Asset</name>
        <label>Get Asset</label>
        <locationX>644</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Item</name>
        <label>Get Order Item</label>
        <locationX>644</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssetDiscountScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Asset__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Asset</name>
        <label>Update Asset</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ManualDiscountPercent__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ManualDiscountValue__c</field>
            <value>
                <elementReference>DiscountAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ManualDiscount__c</field>
            <value>
                <stringValue>Recurring Amount</stringValue>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Asset_0</name>
        <label>Update Asset</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ManualDiscountPercent__c</field>
            <value>
                <elementReference>DiscountPercent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ManualDiscountValue__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ManualDiscount__c</field>
            <value>
                <stringValue>Recurring Percentage</stringValue>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Asset_0_0</name>
        <label>Update Asset</label>
        <locationX>1106</locationX>
        <locationY>878</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ManualDiscountPercent__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ManualDiscountValue__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ManualDiscount__c</field>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>AssetDiscountScreen</name>
        <label>AssetDiscountScreen</label>
        <locationX>644</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Percentage_Amount_As_Valid</targetReference>
        </connector>
        <fields>
            <name>AssetDiscountScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>AssetDiscountScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Type</name>
                    <choiceReferences>RecurringAmount</choiceReferences>
                    <choiceReferences>RecurringPercentage</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Asset.ManualDiscount__c</elementReference>
                    </defaultValue>
                    <fieldText>Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>DiscountAmount</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Asset.ManualDiscountValue__c</elementReference>
                    </defaultValue>
                    <fieldText>Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>RecurringAmount</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>DiscountPercent</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Asset.ManualDiscountPercent__c</elementReference>
                    </defaultValue>
                    <fieldText>Percent</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>RecurringPercentage</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ValidationErrAmount</name>
                    <fieldText>&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(254, 0, 1); user-select: auto;&quot;&gt;The amount specified is invalid. The amount cannot be 0 and cannot be greater than the total amount.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>DiscountAmountValid</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ValidationErrPercent</name>
                    <fieldText>&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;span style=&quot;color: rgb(254, 0, 1); background-color: rgb(255, 255, 255); user-select: auto;&quot;&gt;The discount amount is invalid. The discount amount cannot be less than 0 and cannot be higher than 100.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>PercentageAmountValid</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>AssetDiscountScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AssetInfo</name>
                    <fieldText>&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;u style=&quot;color: rgb(1, 1, 0); user-select: auto;&quot;&gt;Asset Information:&lt;/u&gt;&lt;/p&gt;&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;i style=&quot;color: rgb(1, 1, 0); user-select: auto;&quot;&gt;Price:&lt;/i&gt;&lt;span style=&quot;color: rgb(1, 1, 0); user-select: auto;&quot;&gt; {!Get_Asset.Price}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;i style=&quot;color: rgb(1, 1, 0); user-select: auto;&quot;&gt;Quantity:&lt;/i&gt;&lt;span style=&quot;color: rgb(1, 1, 0); user-select: auto;&quot;&gt; {!Get_Asset.Quantity}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;i style=&quot;color: rgb(1, 1, 0); user-select: auto;&quot;&gt;Total Amount:&lt;/i&gt;&lt;span style=&quot;color: rgb(1, 1, 0); user-select: auto;&quot;&gt; {!LineItemTotal}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;br style=&quot;user-select: auto;&quot;&gt;&lt;/p&gt;&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;i style=&quot;color: rgb(1, 1, 0); user-select: auto;&quot;&gt;Note: If this asset should not be discounted, set the &apos;Type&apos; to &apos;None&apos;.&lt;/i&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Asset</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DiscountAmountValid</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LineItemTotal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>Get_Order_Item.LineItemTotal__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>PercentageAmountValid</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
