force-app/main/default/flows/AutoConvert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>IL_LeadConversion</name>
        <label>IL_LeadConversion</label>
        <locationX>1634</locationX>
        <locationY>1898</locationY>
        <actionName>IL_LeadConversion</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Accounts</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>leadListCollection</name>
            <value>
                <elementReference>soc_Leads</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IL_LeadConversion</nameSegment>
        <outputParameters>
            <assignToReference>soc_Accounts</assignToReference>
            <name>Accounts</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>soc_Contacts</assignToReference>
            <name>Contacts</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>soc_Opportunities</assignToReference>
            <name>Opportunities</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>AccountAssignment</name>
        <label>Account Assignment</label>
        <locationX>1722</locationX>
        <locationY>2114</locationY>
        <assignmentItems>
            <assignToReference>sov_ConvertAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Accounts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddVariabletoCollection</name>
        <label>AddVariabletoCollection</label>
        <locationX>1634</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>soc_Leads</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sov_Lead</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IL_LeadConversion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_to_Lead</name>
        <label>Assign Opportunity to Lead</label>
        <locationX>1700</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>sov_Lead.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_CreatedOpportunity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.AutoConvertOpportunityMatchStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsLeadReadyToConvert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignContactToLead</name>
        <label>Assign Contact to Lead</label>
        <locationX>1502</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>sov_Lead.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_CreatedContact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.AutoConvertContactMatchStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Auto_convert_create_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignError</name>
        <label>Assign Error</label>
        <locationX>2030</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>sov_Lead.AutoConvertError__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_Error</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.ReadytoConvert__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateLeadAfterMatching</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ContactAssignment</name>
        <label>Contact Assignment</label>
        <locationX>1722</locationX>
        <locationY>2414</locationY>
        <assignmentItems>
            <assignToReference>sov_ConvertContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Contacs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contacs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OpportunityAssignment</name>
        <label>Opportunity Assignment</label>
        <locationX>1722</locationX>
        <locationY>2714</locationY>
        <assignmentItems>
            <assignToReference>sov_ConvertOpportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opportunities</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opportunities</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Auto_convert_create_Opportunity</name>
        <label>Auto convert create Opportunity</label>
        <locationX>1832</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>IsLeadReadyToConvert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CreateOpportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Lead.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_Lead.AutoConvertCreateOpportunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_OpCo_Opportunity_RecordTypeId</targetReference>
            </connector>
            <label>Create Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>AutoConvertCreateContact</name>
        <label>Auto convert create Contact?</label>
        <locationX>1832</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Auto_convert_create_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CreateContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Lead.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_Lead.AutoConvertCreateContact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Should_contact_be_NH_Prof</targetReference>
            </connector>
            <label>Create Contact</label>
        </rules>
        <rules>
            <name>UpdateAccountOnContact</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>sov_Lead.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetContact.Account.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Marketing Cloud</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetContact.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_Lead.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateContactAccount</targetReference>
            </connector>
            <label>Update Account on Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>DoesAccountContactRelationshipExist</name>
        <label>Does Account Contact Relationship exist?</label>
        <locationX>1634</locationX>
        <locationY>3014</locationY>
        <defaultConnector>
            <targetReference>UpdatePrivacyPermissionAfterConvert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoAccountContactRelationship</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soc_AccountContactRelationship</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_ConvertAccount.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_ConvertContact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetConvertedAccount</targetReference>
            </connector>
            <label>No Account Contact Relationship</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Lead_NH_Professional</name>
        <label>Is Lead NH Professional?</label>
        <locationX>1634</locationX>
        <locationY>3638</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesNHProf</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Lead.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff Professional</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Auto_Convert_Post_Processing</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsLeadReadyToConvert</name>
        <label>Is Lead ready to convert?</label>
        <locationX>1832</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>AssignError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not ready to convert</defaultConnectorLabel>
        <rules>
            <name>ReadyToConvert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Lead.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_Lead.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_Lead.ReadytoConvert__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateLeadBeforeConvert</targetReference>
            </connector>
            <label>Ready to convert</label>
        </rules>
    </decisions>
    <decisions>
        <name>Match</name>
        <label>Match</label>
        <locationX>1194</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Lead.AutoConvertAccountMatchStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Don&apos;t match</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MatchAccount</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_Lead.AutoConvertAccountMatchStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_Lead.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_Lead.Account__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>MatchAccount</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Lead.AutoConvertContactMatchStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Don&apos;t match</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MatchContact</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_Lead.AutoConvertContactMatchStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MatchContact</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>Campaign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Lead.AutoConvertCampaignMatchStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Don&apos;t match</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MatchCampaign</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_Lead.AutoConvertCampaignMatchStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MatchCampaign</targetReference>
            </connector>
            <label>Campaign</label>
        </rules>
        <rules>
            <name>Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Lead.AutoConvertProductMatchStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Don&apos;t match</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_Lead.AutoConvertProductMatchStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MatchProduct</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MatchProduct</targetReference>
            </connector>
            <label>Product</label>
        </rules>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>1 AND 3 AND 4 AND (2 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>sov_Lead.AutoConvertOpportunityMatchStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Don&apos;t match</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_Lead.Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MatchLeadsToOpportunity</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_Lead.AutoConvertOpportunityMatchStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_Lead.Method__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MatchLeadsToOpportunity</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
        <rules>
            <name>MatchingCompleted</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>sov_Lead.ReadytoConvert__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_Lead.ReadytoConvert__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetContact</targetReference>
            </connector>
            <label>Matching Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_contact_be_NH_Prof</name>
        <label>Should contact be NH Prof?</label>
        <locationX>1502</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Create_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesNHProfContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Lead.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff Professional</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>05-03-2024 JK: updated the Create Opportunity to also populate the Account and Primary Contact fields
15/03/2023 DB: Removed Get Leads element to reduce queries. Lead record is passed in.
                          Update Lead element now in parent flow (Auto Convert). Lead no longer converted per subflow.
09/03/2023 CH: Updated Lead professional checks
16/10/2023 CH: changed contact owner for NH Professional
24/01/2023: DB create Opportunity before Lead auto convert (if auto convert create opportunity is true)</description>
    <environments>Default</environments>
    <formulas>
        <name>forLeadConversionAccountLiber</name>
        <dataType>String</dataType>
        <expression>{!$Label.LeadConversionAccountLiber}</expression>
    </formulas>
    <formulas>
        <name>form_AccountId</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!sov_Lead.Account__c})),{!sov_Lead.Account__c},
IF( ISPICKVAL({!sov_Lead.OperatingCompany__c}, &quot;Plantyn&quot;) , {!$Label.LeadConversionAccountPlantyn} , 
IF( ISPICKVAL({!sov_Lead.OperatingCompany__c}, &quot;Liber&quot;),{!$Label.LeadConversionAccountLiber} ,
IF( ISPICKVAL({!sov_Lead.OperatingCompany__c}, &quot;Noordhoff Professional&quot;),{!$Label.LeadConversionAccountNHProfessional} ,
IF( ISPICKVAL({!sov_Lead.OperatingCompany__c}, &quot;Noordhoff&quot;),{!$Label.LeadConversionAccountNoordhoff} ,&quot;&quot;)))))</expression>
    </formulas>
    <formulas>
        <name>form_Error</name>
        <dataType>String</dataType>
        <expression>IF(AND(ISNULL({!sov_Lead.Account__c}),ISNULL({!sov_Lead.Contact__c})),&quot;No Account and Contact found&quot;,
IF(AND(ISNULL({!sov_Lead.Account__c}),NOT(ISNULL({!sov_Lead.Contact__c}))),&quot;No Account found&quot;,
IF(AND(NOT(ISNULL({!sov_Lead.Account__c})),ISNULL({!sov_Lead.Contact__c})),&quot;No Contact found&quot;,&quot;&quot;)))</expression>
    </formulas>
    <formulas>
        <name>OpportunityCloseDateFormula</name>
        <dataType>Date</dataType>
        <expression>IF(
    NOT(ISBLANK(TEXT({!sov_Lead.Sales_season__c}))),
    DATE(VALUE(RIGHT(TEXT({!sov_Lead.Sales_season__c}), 4)),07,31),
    IF(
        TODAY() &lt; DATE(YEAR(TODAY()),07,31), 
        DATE(Year(TODAY()),07,31),
        DATE(Year(TODAY())+1,07,31)
    )
)</expression>
    </formulas>
    <interviewLabel>Auto Convert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Convert</label>
    <loops>
        <name>Loop_Accounts</name>
        <label>Loop Accounts</label>
        <locationX>1634</locationX>
        <locationY>2006</locationY>
        <collectionReference>soc_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AccountAssignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Contacs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Contacs</name>
        <label>Loop Contacs</label>
        <locationX>1634</locationX>
        <locationY>2306</locationY>
        <collectionReference>soc_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ContactAssignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Opportunities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Opportunities</name>
        <label>Loop Opportunities</label>
        <locationX>1634</locationX>
        <locationY>2606</locationY>
        <collectionReference>soc_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>OpportunityAssignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetAccountContactRelationship</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Contact</name>
        <label>Create Contact</label>
        <locationX>1370</locationX>
        <locationY>674</locationY>
        <assignRecordIdToReference>var_CreatedContact</assignRecordIdToReference>
        <connector>
            <targetReference>AssignContactToLead</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>form_AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CommunicationLanguage__c</field>
            <value>
                <elementReference>sov_Lead.Communication_Language__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>sov_Lead.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>sov_Lead.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>sov_Lead.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MiddleName</field>
            <value>
                <elementReference>sov_Lead.MiddleName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OperatingCompany__c</field>
            <value>
                <stringValue>Noordhoff Professional</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Account.Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>1634</locationX>
        <locationY>566</locationY>
        <assignRecordIdToReference>var_CreatedContact</assignRecordIdToReference>
        <connector>
            <targetReference>AssignContactToLead</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>form_AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CommunicationLanguage__c</field>
            <value>
                <elementReference>sov_Lead.Communication_Language__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>sov_Lead.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>sov_Lead.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>sov_Lead.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>sov_Lead.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCountryCode</field>
            <value>
                <elementReference>sov_Lead.CountryCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>sov_Lead.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>sov_Lead.State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>sov_Lead.Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MiddleName</field>
            <value>
                <elementReference>sov_Lead.MiddleName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OperatingCompany__c</field>
            <value>
                <elementReference>sov_Lead.OperatingCompany__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherCity</field>
            <value>
                <elementReference>sov_Lead.PrivateAddress__City__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherCountryCode</field>
            <value>
                <elementReference>sov_Lead.PrivateAddress__CountryCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherPostalCode</field>
            <value>
                <elementReference>sov_Lead.PrivateAddress__PostalCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherStreet</field>
            <value>
                <elementReference>sov_Lead.PrivateAddress__Street__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>sov_Lead.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>1700</locationX>
        <locationY>1274</locationY>
        <assignRecordIdToReference>var_CreatedOpportunity</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_Opportunity_to_Lead</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>sov_Lead.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>OpportunityCloseDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerRelationship__c</field>
            <value>
                <elementReference>sov_Lead.Default_AutoConvert_CustomerRelationship__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Method__c</field>
            <value>
                <elementReference>sov_Lead.Method__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>sov_Lead.Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OperatingCompany__c</field>
            <value>
                <elementReference>sov_Lead.OperatingCompany__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrimaryContact__c</field>
            <value>
                <elementReference>sov_Lead.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_OpCo_Opportunity_RecordTypeId.defaultLeadConvertedOppRecordTypeId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salesseason__c</field>
            <value>
                <elementReference>sov_Lead.Sales_season__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>Get_OpCo_Opportunity_RecordTypeId.defaultOpportunityStage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year1__c</field>
            <value>
                <elementReference>sov_Lead.Year1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year2__c</field>
            <value>
                <elementReference>sov_Lead.Year2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year3__c</field>
            <value>
                <elementReference>sov_Lead.Year3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year4__c</field>
            <value>
                <elementReference>sov_Lead.Year4__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year5__c</field>
            <value>
                <elementReference>sov_Lead.Year5__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year6__c</field>
            <value>
                <elementReference>sov_Lead.Year6__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>CreateAccountContactRelationship</name>
        <label>Create Account Contact Relationship</label>
        <locationX>1502</locationX>
        <locationY>3230</locationY>
        <connector>
            <targetReference>UpdatePrivacyPermissionAfterConvert</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>sov_ConvertAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>sov_ConvertContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>sov_ConvertAccount.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>1370</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Create_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>form_AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OpCo_Opportunity_RecordTypeId</name>
        <label>Get OpCo Opportunity RecordTypeId</label>
        <locationX>1700</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Lead.OperatingCompany__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Operating_Company__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAccountContactRelationship</name>
        <label>Get Account Contact Relationship</label>
        <locationX>1634</locationX>
        <locationY>2906</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DoesAccountContactRelationshipExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_ConvertAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_ConvertContact.Id</elementReference>
            </value>
        </filters>
        <object>AccountContactRelation</object>
        <outputReference>soc_AccountContactRelationship</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetContact</name>
        <label>Get Contact</label>
        <locationX>1832</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AutoConvertCreateContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Lead.Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetConvertedAccount</name>
        <label>Get Converted Account</label>
        <locationX>1502</locationX>
        <locationY>3122</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateAccountContactRelationship</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_ConvertAccount.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>sov_ConvertAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>updateContactAccount</name>
        <label>Update Contact Account</label>
        <locationX>1898</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Auto_convert_create_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Lead.Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>sov_Lead.Account__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateLeadAfterMatching</name>
        <label>Update Lead after matching</label>
        <locationX>2030</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>UpdatePrivacyPermissionAfterMatching</targetReference>
        </connector>
        <inputReference>sov_Lead</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateLeadBeforeConvert</name>
        <label>Update Lead before convert</label>
        <locationX>1634</locationX>
        <locationY>1682</locationY>
        <connector>
            <targetReference>AddVariabletoCollection</targetReference>
        </connector>
        <inputReference>sov_Lead</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatePrivacyPermissionAfterConvert</name>
        <label>Update Privacy Permission after convert</label>
        <locationX>1634</locationX>
        <locationY>3422</locationY>
        <connector>
            <targetReference>UpdateInteractionAfterConvert</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Lead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>sov_ConvertContact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PrivacyPermission__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatePrivacyPermissionAfterMatching</name>
        <label>Update Privacy Permission after matching</label>
        <locationX>2030</locationX>
        <locationY>1898</locationY>
        <connector>
            <targetReference>UpdateInteractionAfterMatching</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Lead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>sov_Lead.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <object>PrivacyPermission__c</object>
    </recordUpdates>
    <start>
        <locationX>1068</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Match</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Auto_Convert_Post_Processing</name>
        <label>Auto Convert Post Processing</label>
        <locationX>1502</locationX>
        <locationY>3746</locationY>
        <flowName>Auto_Convert_Post_Processing</flowName>
        <inputAssignments>
            <name>comingFromAutoConvert</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sov_Opportunity</name>
            <value>
                <elementReference>sov_ConvertOpportunity</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>MatchAccount</name>
        <label>Match Account</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Match</targetReference>
        </connector>
        <flowName>MatchLeadsToAccount</flowName>
        <inputAssignments>
            <name>sov_Lead</name>
            <value>
                <elementReference>sov_Lead</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>sov_Lead</assignToReference>
            <name>sov_Lead</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>MatchCampaign</name>
        <label>Match Campaign</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Match</targetReference>
        </connector>
        <flowName>MatchLeadToCampaign</flowName>
        <inputAssignments>
            <name>sov_Lead</name>
            <value>
                <elementReference>sov_Lead</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>sov_Lead</assignToReference>
            <name>sov_Lead</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>MatchContact</name>
        <label>Match Contact</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Match</targetReference>
        </connector>
        <flowName>MatchLeadsToContact</flowName>
        <inputAssignments>
            <name>sov_Lead</name>
            <value>
                <elementReference>sov_Lead</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>sov_Lead</assignToReference>
            <name>sov_Lead</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>MatchLeadsToOpportunity</name>
        <label>Match Leads To Opportunity</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Match</targetReference>
        </connector>
        <flowName>MatchLeadsToOpportunityV2</flowName>
        <inputAssignments>
            <name>sov_Lead</name>
            <value>
                <elementReference>sov_Lead</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>sov_Lead</assignToReference>
            <name>sov_Lead</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>MatchProduct</name>
        <label>Match Leads To Product</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Match</targetReference>
        </connector>
        <flowName>MatchLeadsToProduct</flowName>
        <inputAssignments>
            <name>sov_Lead</name>
            <value>
                <elementReference>sov_Lead</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>sov_Lead</assignToReference>
            <name>sov_Lead</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>UpdateInteractionAfterConvert</name>
        <label>Update Interaction after convert</label>
        <locationX>1634</locationX>
        <locationY>3530</locationY>
        <connector>
            <targetReference>Is_Lead_NH_Professional</targetReference>
        </connector>
        <flowName>InteractionLead</flowName>
        <inputAssignments>
            <name>sov_Lead</name>
            <value>
                <elementReference>sov_Lead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_ConvertedAccount</name>
            <value>
                <elementReference>sov_ConvertAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_ConvertedContact</name>
            <value>
                <elementReference>sov_ConvertContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_ConvertedOpportunity</name>
            <value>
                <elementReference>sov_ConvertOpportunity</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>UpdateInteractionAfterMatching</name>
        <label>Update Interaction after matching</label>
        <locationX>2030</locationX>
        <locationY>2006</locationY>
        <flowName>InteractionLead</flowName>
        <inputAssignments>
            <name>sov_Lead</name>
            <value>
                <elementReference>sov_Lead</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>soc_AccountContactRelationship</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>soc_Accounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>soc_Contacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>soc_Leads</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>soc_Opportunities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>sov_ConvertAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>sov_ConvertContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>sov_ConvertOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>sov_Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>sov_PrivacyPermission</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PrivacyPermission__c</objectType>
    </variables>
    <variables>
        <name>var_CreatedContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CreatedOpportunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
