force-app/main/default/flows/Auto_Convert_Post_Processing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Opportunity_variables</name>
        <label>Assign Opportunity variables</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>sov_Opportunity.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.AutoConvertOpportunityUniversity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Opportunity_variables</name>
        <label>Assign Opportunity variables</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>sov_Opportunity.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.OpportunityNoordhoffProfessional</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Lead_NH_Prof</name>
        <label>Is Lead NH Prof</label>
        <locationX>710</locationX>
        <locationY>638</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_NHProf</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Interaction_To_See_if_It_s_NH_Prof.Lead__r.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff Professional</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Opportunity_variables</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Object</name>
        <label>Object</label>
        <locationX>1007</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Operating_Company</name>
        <label>Operating Company</label>
        <locationX>644</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Liber</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Opportunity.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Liber</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>comingFromAutoConvert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_type</targetReference>
            </connector>
            <label>Liber</label>
        </rules>
        <rules>
            <name>Noordhoff</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Opportunity.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>comingFromAutoConvert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Interaction_To_See_if_It_s_NH_Prof</targetReference>
            </connector>
            <label>Noordhoff</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_type</name>
        <label>Record type</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Liber_Sales_University</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Liber_Sales_University</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_Opportunity.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Liber_University_Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Opportunity_variables</targetReference>
            </connector>
            <label>Liber Sales University</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Au {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Convert Post Processing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Interaction_To_See_if_It_s_NH_Prof</name>
        <label>Get Interaction To See if It&apos;s NH Prof</label>
        <locationX>710</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Lead_NH_Prof</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Opportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Lead__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Interaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>644</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Operating_Company</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Opportunity.Id</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>sov_Opportunity</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OperatingCompany__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <inputReference>sov_Opportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <inputReference>sov_Opportunity</inputReference>
    </recordUpdates>
    <start>
        <locationX>881</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Object</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>comingFromAutoConvert</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>sov_Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
