force-app/main/default/flows/AutomaticallyAddUserToPublicGroup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>PEorSE</name>
        <label>PE or SE?</label>
        <locationX>383</locationX>
        <locationY>185</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VARUserMarketGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Primary Education</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddUserToPublicGroupPE</targetReference>
            </connector>
            <label>PE</label>
        </rules>
        <rules>
            <name>SE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VARUserMarketGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Secondary Education</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddUserToPublicGroupSE</targetReference>
            </connector>
            <label>SE</label>
        </rules>
    </decisions>
    <interviewLabel>Automatically Add User To Public Group {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Automatically Add User To Public Group</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>AddUserToPublicGroupPE</name>
        <label>Add User To Public Group PE</label>
        <locationX>244</locationX>
        <locationY>340</locationY>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>$Label.PlantynPrimaryEducationPublicGroup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>VARUserId</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>AddUserToPublicGroupSE</name>
        <label>Add User To Public Group SE</label>
        <locationX>537</locationX>
        <locationY>339</locationY>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>$Label.PlantynSecondaryEducationPublicGroup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>VARUserId</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>PEorSE</targetReference>
        </connector>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>VARUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VARUserMarketGroup</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
