force-app/main/default/flows/Case_Lifecycle.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Calculate_BusinessHours</name>
        <label>Calculate BusinessHours</label>
        <locationX>1722</locationX>
        <locationY>852</locationY>
        <actionName>UTIL_CalculateBusinessHoursDiff</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Current_Status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>businessHoursId</name>
            <value>
                <elementReference>$Record.BusinessHoursId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>endDate</name>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startDate</name>
            <value>
                <elementReference>SV_StartDate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UTIL_CalculateBusinessHoursDiff</nameSegment>
        <outputParameters>
            <assignToReference>SV_BusinessHoursSinceLastStatusChange</assignToReference>
            <name>diffResultHr</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_reminder_e_mail</name>
        <label>Send reminder e-mail</label>
        <locationX>314</locationX>
        <locationY>1500</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Case_record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>noreply@noordhoff.nl</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_e_mail_Template.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_second_Auto_response_E_mail</name>
        <label>Send second Auto-response E-mail</label>
        <locationX>2338</locationX>
        <locationY>1500</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Case_record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>noreply@noordhoff.nl</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_emailTemplate_second_autoresponse.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_to_Liber_CM</name>
        <label>Assign to Liber CM</label>
        <locationX>2338</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>SRV_Liber_CaseManagement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Devide_CaseManagement_per_Opco</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Devide_CaseManagement_per_Opco</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Noordhoff_CM</name>
        <label>Assign to Noordhoff CM</label>
        <locationX>1810</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>SRV_Noordhoff_CaseManagement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Devide_CaseManagement_per_Opco</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Devide_CaseManagement_per_Opco</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Plantyn_CM</name>
        <label>Assign to Plantyn CM</label>
        <locationX>2074</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>SRV_Plantyn_CaseManagement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Devide_CaseManagement_per_Opco</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Devide_CaseManagement_per_Opco</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Professional_CM</name>
        <label>Assign to Professional CM</label>
        <locationX>2602</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>SRV_Professional_CaseManagement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Devide_CaseManagement_per_Opco</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Devide_CaseManagement_per_Opco</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_from_OnHold_to_Open</name>
        <label>Set Status to Open</label>
        <locationX>1018</locationX>
        <locationY>1176</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_from_Pending_to_Solved</name>
        <label>Set Status to Solved</label>
        <locationX>50</locationX>
        <locationY>1176</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Solved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_to_Closed</name>
        <label>Set Status to Closed</label>
        <locationX>1810</locationX>
        <locationY>1176</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_to_open_and_clear_DueDate</name>
        <label>Set Status to open and clear DueDate</label>
        <locationX>1282</locationX>
        <locationY>1176</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DueDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_origin</name>
        <label>Case origin</label>
        <locationX>2668</locationX>
        <locationY>1068</locationY>
        <defaultConnector>
            <targetReference>Update_Case_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WebOrEmail</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Sent_E_mail</targetReference>
            </connector>
            <label>Web or Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_Status</name>
        <label>Current Status</label>
        <locationX>1722</locationX>
        <locationY>960</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Max_time_in_Pending_reached</targetReference>
            </connector>
            <label>Pending</label>
        </rules>
        <rules>
            <name>On_Hold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Due_Date_or_Max_time_reached</targetReference>
            </connector>
            <label>On Hold</label>
        </rules>
        <rules>
            <name>Solved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Max_time_in_Solved_reached</targetReference>
            </connector>
            <label>Solved</label>
        </rules>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_origin</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Due_Date_or_Max_time_reached</name>
        <label>On Hold actions</label>
        <locationX>1282</locationX>
        <locationY>1068</locationY>
        <defaultConnectorLabel>Do nothing</defaultConnectorLabel>
        <rules>
            <name>Yes_OnHold_Time_Limit_Reached</name>
            <conditionLogic>1 AND ((2 AND 3) OR (4 AND 5) OR (6 AND 7) OR (8 AND 9))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DueDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SV_BusinessHoursSinceLastStatusChange</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>SRV_Noordhoff_CaseManagement.Max_Hours_Allowed_In_Status_On_Hold__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Plantyn</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SV_BusinessHoursSinceLastStatusChange</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>SRV_Plantyn_CaseManagement.Max_Hours_Allowed_In_Status_On_Hold__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Liber</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SV_BusinessHoursSinceLastStatusChange</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>SRV_Liber_CaseManagement.Max_Hours_Allowed_In_Status_On_Hold__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff Professional</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SV_BusinessHoursSinceLastStatusChange</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>SRV_Professional_CaseManagement.Max_Hours_Allowed_In_Status_On_Hold__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_from_OnHold_to_Open</targetReference>
            </connector>
            <label>Max time reched</label>
        </rules>
        <rules>
            <name>Due_Date_filled_and_reached</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DueDate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DueDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_to_open_and_clear_DueDate</targetReference>
            </connector>
            <label>Due Date reached</label>
        </rules>
    </decisions>
    <decisions>
        <name>Max_time_in_Pending_reached</name>
        <label>Pending actions</label>
        <locationX>402</locationX>
        <locationY>1068</locationY>
        <defaultConnectorLabel>Do nothing</defaultConnectorLabel>
        <rules>
            <name>Yes_max_time_Pending</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6) OR (7 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SV_BusinessHoursSinceLastStatusChange</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>SRV_Noordhoff_CaseManagement.Max_Hours_Allowed_In_Status_Pending__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Plantyn</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SV_BusinessHoursSinceLastStatusChange</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>SRV_Plantyn_CaseManagement.Max_Hours_Allowed_In_Status_Pending__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Liber</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SV_BusinessHoursSinceLastStatusChange</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>SRV_Liber_CaseManagement.Max_Hours_Allowed_In_Status_Pending__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff Professional</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SV_BusinessHoursSinceLastStatusChange</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>SRV_Professional_CaseManagement.Max_Hours_Allowed_In_Status_Pending__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_from_Pending_to_Solved</targetReference>
            </connector>
            <label>Max time reached</label>
        </rules>
        <rules>
            <name>Send_Reminder_Mail</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6) OR (7 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SV_BusinessHoursSinceLastStatusChange</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>SRV_Noordhoff_CaseManagement.Reminder_after_X_Hours_In_Status_Pending__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Plantyn</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SV_BusinessHoursSinceLastStatusChange</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>SRV_Plantyn_CaseManagement.Reminder_after_X_Hours_In_Status_Pending__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Liber</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SV_BusinessHoursSinceLastStatusChange</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>SRV_Liber_CaseManagement.Reminder_after_X_Hours_In_Status_Pending__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff Professional</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SV_BusinessHoursSinceLastStatusChange</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>SRV_Professional_CaseManagement.Reminder_after_X_Hours_In_Status_Pending__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_EmailMessages</targetReference>
            </connector>
            <label>Send Reminder Mail</label>
        </rules>
    </decisions>
    <decisions>
        <name>Max_time_in_Solved_reached</name>
        <label>Solved actions</label>
        <locationX>1942</locationX>
        <locationY>1068</locationY>
        <defaultConnectorLabel>Do nothing</defaultConnectorLabel>
        <rules>
            <name>Yes_max_time_in_solved_reached</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6) OR (7 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SV_BusinessHoursSinceLastStatusChange</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>SRV_Noordhoff_CaseManagement.Max_Hours_Allowed_In_Status_Solved__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Plantyn</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SV_BusinessHoursSinceLastStatusChange</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>SRV_Plantyn_CaseManagement.Max_Hours_Allowed_In_Status_Solved__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Liber</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SV_BusinessHoursSinceLastStatusChange</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>SRV_Liber_CaseManagement.Max_Hours_Allowed_In_Status_Solved__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff Professional</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SV_BusinessHoursSinceLastStatusChange</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>SRV_Professional_CaseManagement.Max_Hours_Allowed_In_Status_Solved__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_to_Closed</targetReference>
            </connector>
            <label>Max time reached</label>
        </rules>
    </decisions>
    <decisions>
        <name>OpCo</name>
        <label>OpCo</label>
        <locationX>2338</locationX>
        <locationY>468</locationY>
        <defaultConnector>
            <targetReference>Devide_CaseManagement_per_Opco</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Noordhoff</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Devide_CaseManagement_per_Opco.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Noordhoff_CM</targetReference>
            </connector>
            <label>Noordhoff</label>
        </rules>
        <rules>
            <name>Plantyn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Devide_CaseManagement_per_Opco.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Plantyn</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Plantyn_CM</targetReference>
            </connector>
            <label>Plantyn</label>
        </rules>
        <rules>
            <name>Liber</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Devide_CaseManagement_per_Opco.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Liber</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Liber_CM</targetReference>
            </connector>
            <label>Liber</label>
        </rules>
        <rules>
            <name>Professional</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Devide_CaseManagement_per_Opco.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff Professional</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Professional_CM</targetReference>
            </connector>
            <label>Professional</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_second_auto_response</name>
        <label>Send second auto-response?</label>
        <locationX>2470</locationX>
        <locationY>1284</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6) OR (7 AND 8) AND 9</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SV_BusinessHoursSinceLastStatusChange</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>SRV_Noordhoff_CaseManagement.secondAutoResponseAfterXHrInNew__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Plantyn</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SV_BusinessHoursSinceLastStatusChange</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>SRV_Plantyn_CaseManagement.secondAutoResponseAfterXHrInNew__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Liber</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SV_BusinessHoursSinceLastStatusChange</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>SRV_Liber_CaseManagement.secondAutoResponseAfterXHrInNew__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff Professional</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SV_BusinessHoursSinceLastStatusChange</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>SRV_Professional_CaseManagement.secondAutoResponseAfterXHrInNew__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sent_E_mail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_emailTemplate_second_autoresponse</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SendReminder</name>
        <label>Send Reminder?</label>
        <locationX>446</locationX>
        <locationY>1284</locationY>
        <defaultConnector>
            <targetReference>Update_Case_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Reminder already sent</defaultConnectorLabel>
        <rules>
            <name>SendReminderMail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_EmailMessages</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_e_mail_Template</targetReference>
            </connector>
            <label>Send Reminder Mail</label>
        </rules>
    </decisions>
    <description>JK 2024/03/13 - Added functionality for reminder mails
JK 2024/02/21 - Added BusinessHour Functionality</description>
    <environments>Default</environments>
    <formulas>
        <name>EmptyDate</name>
        <dataType>Date</dataType>
        <expression>NULL</expression>
    </formulas>
    <formulas>
        <name>SV_PendingReminderMailSubject</name>
        <dataType>String</dataType>
        <expression>&apos;Re: &apos; &amp; {!$Record.Subject} &amp; &apos; #&apos; &amp; {!$Record.CaseNumber}</expression>
    </formulas>
    <formulas>
        <name>SV_SatatusNewSecondAutoResponseMailSubject</name>
        <dataType>String</dataType>
        <expression>{!$Record.Subject} &amp; &apos; #&apos; &amp; {!$Record.CaseNumber}</expression>
    </formulas>
    <formulas>
        <name>SV_StartDate</name>
        <dataType>DateTime</dataType>
        <expression>IF(
    OR(
        ISNULL(
            {!$Record.LastStatusChange__c}
        ),
        ISBLANK(
            {!$Record.LastStatusChange__c}
        )
    ),
{!$Record.LastModifiedDate},
{!$Record.LastStatusChange__c}
)</expression>
    </formulas>
    <interviewLabel>Case - Lifecycle {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Lifecycle</label>
    <loops>
        <name>Devide_CaseManagement_per_Opco</name>
        <label>Devide CaseManagement per Opco</label>
        <locationX>1722</locationX>
        <locationY>360</locationY>
        <collectionReference>Get_Case_Management_Metadata</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>OpCo</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Calculate_BusinessHours</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case_Management_Metadata</name>
        <label>Get Case Management Metadata</label>
        <locationX>1722</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Devide_CaseManagement_per_Opco</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CaseManagement__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_e_mail_Template</name>
        <label>Get e-mail Template</label>
        <locationX>314</locationX>
        <locationY>1392</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_reminder_e_mail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NoordhoffPendingCaseReminder</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_EmailMessages</name>
        <label>Get EmailMessages</label>
        <locationX>446</locationX>
        <locationY>1176</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SendReminder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SV_PendingReminderMailSubject</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_emailTemplate_second_autoresponse</name>
        <label>Get emailTemplate for second auro-response</label>
        <locationX>2338</locationX>
        <locationY>1392</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_second_Auto_response_E_mail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Noordhoff_SecondAutoResponseForStatusNew</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sent_E_mail</name>
        <label>Get Sent E-mail</label>
        <locationX>2470</locationX>
        <locationY>1176</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_second_auto_response</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SV_SatatusNewSecondAutoResponseMailSubject</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_record</name>
        <label>Update Case</label>
        <locationX>1722</locationX>
        <locationY>1860</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1596</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Management_Metadata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Merged</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-02-22</startDate>
            <startTime>13:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>SRV_Liber_CaseManagement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseManagement__mdt</objectType>
    </variables>
    <variables>
        <name>SRV_Noordhoff_CaseManagement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseManagement__mdt</objectType>
    </variables>
    <variables>
        <name>SRV_Plantyn_CaseManagement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseManagement__mdt</objectType>
    </variables>
    <variables>
        <name>SRV_Professional_CaseManagement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseManagement__mdt</objectType>
    </variables>
    <variables>
        <name>SV_BusinessHoursSinceLastStatusChange</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
