force-app/main/default/flows/CaseBeforeSaveUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Set_Queue_name</name>
        <label>Set Queue name</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.QueueName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner:Group.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.QueueID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner:Group.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>is_Status_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_QueueName_To_Service_Generic</name>
        <label>Set QueueName To Service Generic</label>
        <locationX>490</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.QueueName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GroupName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.QueueID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GroupID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>is_Status_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_QueueName_to_Service_HE</name>
        <label>Set QueueName to Service HE</label>
        <locationX>1018</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.QueueName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GroupName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.QueueID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GroupID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>is_Status_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_QueueName_to_Service_PE</name>
        <label>Set QueueName to Service PE</label>
        <locationX>754</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.QueueName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GroupName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.QueueID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GroupID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>is_Status_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_QueueName_to_Service_VE_PE</name>
        <label>Set QueueName to Service VE/PE</label>
        <locationX>1282</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.QueueName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GroupName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.QueueID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GroupID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>is_Status_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Last_StatusUpdate_Field</name>
        <label>Update Last StatusUpdate Field</label>
        <locationX>820</locationX>
        <locationY>995</locationY>
        <assignmentItems>
            <assignToReference>$Record.LastStatusChange__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Is_Owner_a_Group</name>
        <label>Is Owner a Group?</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>is_Status_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_is_Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IfGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Queue_name</targetReference>
            </connector>
            <label>Owner is Group</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Status_changed</name>
        <label>is Status changed or LastStatusChange blank?</label>
        <locationX>952</locationX>
        <locationY>887</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Status_Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastStatusChange__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Last_StatusUpdate_Field</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsOwnerChanged</name>
        <label>Is owner changed?</label>
        <locationX>952</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>is_Status_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>OwnerChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Owner_a_Group</targetReference>
            </connector>
            <label>Owner changed</label>
        </rules>
        <rules>
            <name>It_is_new_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IfGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_Segment</targetReference>
            </connector>
            <label>It is new record</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Segment</name>
        <label>What Segment?</label>
        <locationX>1018</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>is_Status_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>General</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IfGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CategoryLevel1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_ID_and_Name</targetReference>
            </connector>
            <label>General</label>
        </rules>
        <rules>
            <name>Primary_Education</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IfGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CategoryLevel1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Primary Education</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_Queue_ID_and_Name</targetReference>
            </connector>
            <label>Primary Education</label>
        </rules>
        <rules>
            <name>Secondary_Education</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IfGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CategoryLevel1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Secondary Education</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Get_Queue_ID_and_Name</targetReference>
            </connector>
            <label>Secondary Education</label>
        </rules>
        <rules>
            <name>Vocational_Education</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>IfGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CategoryLevel1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vocational Education</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CategoryLevel1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Higher Education</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Get_Queue_ID_and_Name</targetReference>
            </connector>
            <label>Vocational/Higher Education</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IfGroup</name>
        <dataType>Boolean</dataType>
        <expression>IF(BEGINS({!$Record.OwnerId}, &quot;00G&quot;), TRUE, False)</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Case - Before Save Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Before Save Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_1_of_Get_Queue_ID_and_Name</name>
        <label>Get Queue ID and Name</label>
        <locationX>754</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_QueueName_to_Service_PE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NoordhoffServicesPE</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>GroupID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GroupName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Copy_2_of_Get_Queue_ID_and_Name</name>
        <label>Get Queue ID and Name</label>
        <locationX>1018</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_QueueName_to_Service_HE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NoordhoffServicesSE</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>GroupID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GroupName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Copy_3_of_Get_Queue_ID_and_Name</name>
        <label>Get Queue ID and Name</label>
        <locationX>1282</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_QueueName_to_Service_VE_PE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NoordhoffServicesVEHE</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>GroupID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GroupName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_ID_and_Name</name>
        <label>Get Queue ID and Name</label>
        <locationX>490</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_QueueName_To_Service_Generic</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NoordhoffServices</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>GroupID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GroupName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>826</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsOwnerChanged</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>GroupID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GroupName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
