force-app/main/default/flows/ContactUniqueEmailIdentifier.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Contact_Email</name>
        <label>Assign Contact Email</label>
        <locationX>314</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>ContactEmailIdentifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact_OpCo_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Id</name>
        <label>Assign Contact Id</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>ContactEmailIdentifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact_OpCo_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Null</name>
        <label>Assign Null</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>OperatingCompany</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NULL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Email_has_a_value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Operating_Company</name>
        <label>Assign Operating Company</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>OperatingCompany</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OperatingCompany__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Email_has_a_value</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Email_has_a_value</name>
        <label>Check if Email has a value</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Assign_Contact_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email Not Null</defaultConnectorLabel>
        <rules>
            <name>Email_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_Id</targetReference>
            </connector>
            <label>Email Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Operating_Company_has_a_Value</name>
        <label>Check if Operating Company has a Value</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Assign_Operating_Company</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Operating Company Not Null</defaultConnectorLabel>
        <rules>
            <name>Operating_Company_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OperatingCompany__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Null</targetReference>
            </connector>
            <label>Operating Company Null</label>
        </rules>
    </decisions>
    <description>This flow creates a unique value the Contact combining the Operating Company and Email values</description>
    <formulas>
        <name>UniqueEmailIdFormula</name>
        <dataType>String</dataType>
        <expression>{!OperatingCompany}&amp;&apos;-&apos;&amp;{!ContactEmailIdentifier}</expression>
    </formulas>
    <interviewLabel>Contact Unique Email Identifier {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Unique Email Identifier</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Contact_OpCo_Email</name>
        <label>Update Contact OpCo Email</label>
        <locationX>182</locationX>
        <locationY>1007</locationY>
        <inputAssignments>
            <field>UniqueEmailId__c</field>
            <value>
                <elementReference>UniqueEmailIdFormula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Operating_Company_has_a_Value</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>ContactEmailIdentifier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OperatingCompany</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
