force-app/main/default/flows/Contract_ShowAssets.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>assAssetId</name>
        <label>assAssetId</label>
        <locationX>450</locationX>
        <locationY>523</locationY>
        <assignmentItems>
            <assignToReference>lstAsset</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopAsset.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopAsset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assOrderId</name>
        <label>assOrderId</label>
        <locationX>742</locationX>
        <locationY>919</locationY>
        <assignmentItems>
            <assignToReference>lstOrder</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>loopOrderItem.OrderId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopOrderItem</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decAssetSize</name>
        <label>decAssetSize</label>
        <locationX>699</locationX>
        <locationY>290</locationY>
        <defaultConnector>
            <targetReference>getOrder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AssetSize</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lstAsset</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopAsset</targetReference>
            </connector>
            <label>AssetSize</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Contract_ShowAssets {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract_ShowAssets</label>
    <loops>
        <name>loopAsset</name>
        <label>loopAsset</label>
        <locationX>348</locationX>
        <locationY>614</locationY>
        <collectionReference>getAsset</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assAssetId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getOrderItem</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopOrderItem</name>
        <label>loopOrderItem</label>
        <locationX>743</locationX>
        <locationY>713</locationY>
        <collectionReference>getOrderItem</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assOrderId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getOrder</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getAsset</name>
        <label>getAsset</label>
        <locationX>639</locationX>
        <locationY>85</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decAssetSize</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOrder</name>
        <label>getOrder</label>
        <locationX>864</locationX>
        <locationY>729</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scrOrder</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>lstOrder</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContractId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOrderItem</name>
        <label>getOrderItem</label>
        <locationX>554</locationX>
        <locationY>714</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopOrderItem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Asset__c</field>
            <operator>In</operator>
            <value>
                <elementReference>lstAsset</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>scrOrder</name>
        <label>scrOrder</label>
        <locationX>1132</locationX>
        <locationY>624</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displayText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Orders&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>shoOrder2</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Order</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatableV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>getOrder</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>OrderNumber,	EffectiveDate,Status, Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>9</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getAsset</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>lstAsset</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
