force-app/main/default/flows/Contract_Cancellation_Screenflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Asset_Cancellation_Data_Assignment</name>
        <label>Asset Cancellation Data Assignment</label>
        <locationX>138</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>Loop_Related_Assets.CancellationReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cancellation_Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Related_Assets.CancellationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cancellation_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Related_Assets</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Related_Assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contract_Cancellation_Assignment</name>
        <label>Contract Cancellation Assignment</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Get_Contract.CancellationReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cancellation_Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contract.CancellationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cancellation_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Assets_Found_Message_Assignment</name>
        <label>No Assets Found Message Assignment</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>No Assets found related to this Contract record. Please contact your System Administrator for assistance. </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Contract_Found_Message_Assignment</name>
        <label>No Contract Found Message Assignment</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unexpected error occurred. No Contract found with recordId: {!recordId}. Please contact your System Administrator.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Message_Populated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Updates_Fault_Path_Error_Assignment</name>
        <label>Updates Fault Path Error Assignment</label>
        <locationX>842</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message_Populated</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>NoChoiceValue</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesChoiceValue</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Continue</name>
        <label>Continue?</label>
        <locationX>1040</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>YesChoiceValue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contract</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Error_Message_Populated</name>
        <label>Error Message Populated</label>
        <locationX>710</locationX>
        <locationY>1928</locationY>
        <defaultConnector>
            <targetReference>SuccessMessageScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Flow Error</defaultConnectorLabel>
        <rules>
            <name>Flow_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ErrorMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorMessageDisplay</targetReference>
            </connector>
            <label>Flow Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Assets_Related</name>
        <label>Found Assets Related</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>No_Assets_Found_Message_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Assets Found</defaultConnectorLabel>
        <rules>
            <name>Assets_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Assets</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Related_Assets</targetReference>
            </connector>
            <label>Assets Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Contract</name>
        <label>Found Contract</label>
        <locationX>710</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>No_Contract_Found_Message_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contract Not Found</defaultConnectorLabel>
        <rules>
            <name>Contract_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contract</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_Cancellation_Assignment</targetReference>
            </connector>
            <label>Contract found</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CancellationReasonChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CancellationReason__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Contract Cancellation Screenflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract Cancellation Screenflow</label>
    <loops>
        <name>Loop_Related_Assets</name>
        <label>Loop Related Assets</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <collectionReference>Get_Assets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asset_Cancellation_Data_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Assets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Assets</name>
        <label>Get Assets</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Assets_Related</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contract</name>
        <label>Get Contract</label>
        <locationX>710</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Assets</name>
        <label>Update Assets</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Update_Contract</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Updates_Fault_Path_Error_Assignment</targetReference>
        </faultConnector>
        <inputReference>AssetsToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contract</name>
        <label>Update Contract</label>
        <locationX>314</locationX>
        <locationY>1538</locationY>
        <connector>
            <targetReference>Error_Message_Populated</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Updates_Fault_Path_Error_Assignment</targetReference>
        </faultConnector>
        <inputReference>Get_Contract</inputReference>
    </recordUpdates>
    <screens>
        <name>CancellationConfirmationScreen</name>
        <label>CancellationConfirmationScreen</label>
        <locationX>1040</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Continue</targetReference>
        </connector>
        <fields>
            <name>CancellationConfirmationMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;You are about to cancel this contract and all of it&apos;s related assets. Are you sure you want to continue?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ChoiceGroup</name>
            <choiceReferences>YesChoiceValue</choiceReferences>
            <choiceReferences>NoChoiceValue</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CancellationDataScreen</name>
        <label>CancellationDataScreen</label>
        <locationX>1040</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CancellationConfirmationScreen</targetReference>
        </connector>
        <fields>
            <name>Cancellation_Reason</name>
            <choiceReferences>CancellationReasonChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Cancellation Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Cancellation_Date</name>
            <dataType>Date</dataType>
            <fieldText>Cancellation Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorMessageDisplay</name>
        <label>ErrorMessageDisplay</label>
        <locationX>578</locationX>
        <locationY>2036</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessageOutput</name>
            <fieldText>&lt;p&gt;An error occured when trying to update the Contract/Assets related to the Contract. Pleas contact your system administrator for further assistance.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!ErrorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SuccessMessageScreen</name>
        <label>SuccessMessageScreen</label>
        <locationX>842</locationX>
        <locationY>2036</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(39, 195, 18);&quot;&gt;Contract and Assets cancellation reason and date was successfully set.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>914</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CancellationDataScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AssetsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
