force-app/main/default/flows/Convert_Book_list_to_Asset.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Asset_variables</name>
        <label>Assign Asset variables</label>
        <locationX>180</locationX>
        <locationY>358</locationY>
        <assignmentItems>
            <assignToReference>sov_Asset.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Asset.Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_Channel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Asset.OperatingCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Operating_Company__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Asset.Year1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Year1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Asset.Year2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Year2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Asset.Year3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Year3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Asset.Year4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Year4__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Asset.Year5__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Year5__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Asset.Year6__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Year6__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Asset.Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_Year</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Asset.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Asset.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Asset.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0123V000000PRZ3QAO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Asset.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Asset.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Asset.IsSalesStatistic__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Asset.CreatedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Asset</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>form_Channel</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.Channel__c}, &quot;Retail&quot;), &quot;Retailer&quot;, TEXT({!$Record.Channel__c}))</expression>
    </formulas>
    <formulas>
        <name>form_Year</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Record.Year__c})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Convert Book list to Asset {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Convert Book list to Asset</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Asset</name>
        <label>Create Asset</label>
        <locationX>181</locationX>
        <locationY>547</locationY>
        <inputReference>sov_Asset</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Assign_Asset_variables</targetReference>
        </connector>
        <object>Book_List__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>sov_Asset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
</Flow>
