force-app/main/default/flows/ConvertLead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ConvertLead</name>
        <label>Convert Lead</label>
        <locationX>644</locationX>
        <locationY>3062</locationY>
        <actionName>IL_LeadConversion</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Converted_AccountIDs</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>leadListCollection</name>
            <value>
                <elementReference>soc_Leads</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IL_LeadConversion</nameSegment>
        <outputParameters>
            <assignToReference>soc_Accounts</assignToReference>
            <name>Accounts</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>soc_Contacts</assignToReference>
            <name>Contacts</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>soc_Opportunities</assignToReference>
            <name>Opportunities</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>GetDefaultOpportunityRecordType</name>
        <label>Get Default Opportunity Record Type</label>
        <locationX>347</locationX>
        <locationY>458</locationY>
        <actionName>ecflc__flowUserRecordType</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Lead_Converted</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>sObjString</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ecflc__flowUserRecordType</nameSegment>
        <outputParameters>
            <assignToReference>varDefaultOpportunityRecordType</assignToReference>
            <name>rtDefault</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_values</name>
        <label>Assign values</label>
        <locationX>644</locationX>
        <locationY>2330</locationY>
        <assignmentItems>
            <assignToReference>sov_Lead.ReadytoConvert__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Converted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.AutoConvert__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.AutoConvertCreateOpportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.AutoConvertCreateContact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignLookups</name>
        <label>Assign Lookups</label>
        <locationX>644</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>sov_Lead.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forOpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forProductId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProduct.Method__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNewContactToLead</name>
        <label>Assign new Contact to Lead</label>
        <locationX>380</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>sov_Lead.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_CreatedContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNewOpportunityToLead</name>
        <label>Assign new Opportunity to Lead</label>
        <locationX>446</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>sov_Lead.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_CreatedOpportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignVariables</name>
        <label>Assign variables</label>
        <locationX>644</locationX>
        <locationY>2954</locationY>
        <assignmentItems>
            <assignToReference>soc_Leads</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sov_Lead</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ConvertLead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_AccountId</name>
        <label>Set AccountId</label>
        <locationX>732</locationX>
        <locationY>3278</locationY>
        <assignmentItems>
            <assignToReference>soc_Account</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Converted_AccountIDs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Converted_AccountIDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ContactIds</name>
        <label>Set ContactIds</label>
        <locationX>732</locationX>
        <locationY>3578</locationY>
        <assignmentItems>
            <assignToReference>soc_Contact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Converted_ContactIDs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Converted_ContactIDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OpportunityIds</name>
        <label>Set OpportunityIds</label>
        <locationX>732</locationX>
        <locationY>3878</locationY>
        <assignmentItems>
            <assignToReference>soc_Opportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Converted_OpportunityIDs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Auto_Convert_Post_Processing</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>convertCreateContact</name>
        <label>Create Contact?</label>
        <locationX>644</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Create_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>createContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Lead.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createContact0</targetReference>
            </connector>
            <label>Create Contact</label>
        </rules>
        <rules>
            <name>UpdateContact</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>sov_Lead.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_Lead.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getContact.IsInactive__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getContact.AccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getContact.Account.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Marketing Cloud</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateContactVaues</targetReference>
            </connector>
            <label>Update Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Is_lead_NH_Professional</name>
        <label>Is lead NH Professional?</label>
        <locationX>446</locationX>
        <locationY>1838</locationY>
        <defaultConnector>
            <targetReference>createOpportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>sov_Lead.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_Lead.Segment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_Lead.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff Professional</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_Opportunity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>644</locationX>
        <locationY>1514</locationY>
        <defaultConnector>
            <targetReference>updatePrimaryContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreateNewOpportunity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_Lead.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Pricebook_Name</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Interaction_Exist</name>
        <label>Does Interaction Exist</label>
        <locationX>644</locationX>
        <locationY>2654</locationY>
        <defaultConnector>
            <targetReference>createInteractionBeforeConvert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_interaction</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignVariables</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>DoesAccountContactRelationshipExist</name>
        <label>Does Account Contact Relationship exist?</label>
        <locationX>490</locationX>
        <locationY>4394</locationY>
        <defaultConnector>
            <targetReference>Update_Privacy_Permissions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>NoAccountContactRelationship</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soc_AccountContactRelationship</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>soc_Account.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>soc_Contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getConvertedAccount</targetReference>
            </connector>
            <label>No Account Contact Relationship</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Lead_Converted</name>
        <label>Is Lead Converted</label>
        <locationX>347</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Convert_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Converted</defaultConnectorLabel>
        <rules>
            <name>Converted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Lead.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>leadConvertedScreen</targetReference>
            </connector>
            <label>Converted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Leadconversion</name>
        <label>Leadconversion</label>
        <locationX>644</locationX>
        <locationY>4178</locationY>
        <defaultConnector>
            <targetReference>Result</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soc_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAccountContactRelationship</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <description>20211101 JK - Get StandardPricebook from get Records instead of fixed Id
20211103 JK - Removed the creation of the Opportunity Product
20211105 JK - Added functionality to set Contact to Active on conversion when if the contact was set to inactive prior to the conversion.
20211108 JK - Updated function to Name the Opportunity the same as the selected Product
20211119 HdG - Added update of Interaction after convert
20211203 HdG - Added creation of Account Contact Relationship
20211216 RF - Change screen component visibility rules, enrich field mapping
20220318 RF - Enrich Create new Opportunity mapping to include Campaign from Lead
20220420 HdG - Add Operating Company to the new opportunity mapping
20220610 MR add Salesseason to Create opportunity
20230123 CH - Update Professional = true for NH Professional leads
20230403 CH - Fixed opportunity opco assignment for professional
20230413 CH - Fixed default opportunity record type for NH Prof &amp; added pricebook assignment for opps</description>
    <environments>Default</environments>
    <formulas>
        <name>forAccountId</name>
        <dataType>String</dataType>
        <expression>IF(OR(ISBLANK({!getContact.AccountId}),CONTAINS({!getContact.Account.Name},&quot;Marketing Cloud&quot;)),{!sov_Lead.Account__c},{!getContact.AccountId})</expression>
    </formulas>
    <formulas>
        <name>forContactId</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Contact.recordId})),{!Contact.recordId},NULL)</expression>
    </formulas>
    <formulas>
        <name>forLeadConversionAccountLiber</name>
        <dataType>String</dataType>
        <expression>{!$Label.LeadConversionAccountLiber}</expression>
    </formulas>
    <formulas>
        <name>forLeadConversionAccountNoordhoff</name>
        <dataType>String</dataType>
        <expression>{!$Label.LeadConversionAccountNoordhoff}</expression>
    </formulas>
    <formulas>
        <name>forLeadConversionAccountPlantyn</name>
        <dataType>String</dataType>
        <expression>{!$Label.LeadConversionAccountPlantyn}</expression>
    </formulas>
    <formulas>
        <name>form_URL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))</expression>
    </formulas>
    <formulas>
        <name>forOpportunityId</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Opportunity.recordId})),{!Opportunity.recordId},NULL)</expression>
    </formulas>
    <formulas>
        <name>forOpportunityRT</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!sov_Lead.OperatingCompany__c}, &quot;Noordhoff Professional&quot;), {!$Label.OpportunityNoordhoffProfessional},CASE({!GetUser.Segment__c},
&quot;Liber University&quot;,{!$Label.OpportunityLiberUniversity},
&quot;Liber School&quot;,{!$Label.OpportunityLiberSchool},
&quot;Noordhoff PE&quot;,{!$Label.OpportunityNoordhoffBao},
&quot;Noordhoff SE&quot;,{!$Label.OpportunityNoordhoffVo},
&quot;Noordhoff HE&quot;,{!$Label.OpportunityNoordhoffHo},
&quot;Noordhoff VE&quot;,{!$Label.OpportunityNoordhoffMbo},
{!varDefaultOpportunityRecordType}))</expression>
    </formulas>
    <formulas>
        <name>forProductId</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Product.recordId})),{!Product.recordId},NULL)</expression>
    </formulas>
    <formulas>
        <name>opportunityAmountCalculation</name>
        <dataType>Currency</dataType>
        <expression>{!sov_Lead.NumberOfEmployees} * {!GetProduct.commercialValue__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>opportunityName</name>
        <dataType>String</dataType>
        <expression>LEFT(
IF(ISBLANK({!sov_Lead.Product__r.Name}),{!sov_Lead.Name},{!sov_Lead.Name} &amp; &quot; - &quot; &amp; {!sov_Lead.Product__r.Name})
,120)</expression>
    </formulas>
    <interviewLabel>Convert Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Convert Lead</label>
    <loops>
        <name>Loop_Converted_AccountIDs</name>
        <label>Loop Converted AccountIDs</label>
        <locationX>644</locationX>
        <locationY>3170</locationY>
        <collectionReference>soc_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_AccountId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Converted_ContactIDs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Converted_ContactIDs</name>
        <label>Loop Converted ContactIDs</label>
        <locationX>644</locationX>
        <locationY>3470</locationY>
        <collectionReference>soc_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_ContactIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Converted_OpportunityIDs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Converted_OpportunityIDs</name>
        <label>Loop Converted OpportunityIDs</label>
        <locationX>644</locationX>
        <locationY>3770</locationY>
        <collectionReference>soc_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_OpportunityIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Leadconversion</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>314</locationX>
        <locationY>1946</locationY>
        <assignRecordIdToReference>var_CreatedOpportunity</assignRecordIdToReference>
        <connector>
            <targetReference>AssignNewOpportunityToLead</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>sov_Lead.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>opportunityAmountCalculation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>OpportunityCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>sov_Lead.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Method__c</field>
            <value>
                <elementReference>sov_Lead.Method__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>opportunityName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumberOfStudents__c</field>
            <value>
                <elementReference>sov_Lead.NumberOfEmployees</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OperatingCompany__c</field>
            <value>
                <stringValue>Noordhoff</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricePerPupil__c</field>
            <value>
                <elementReference>GetProduct.commercialValue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_Pricebook.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrimaryContact__c</field>
            <value>
                <elementReference>sov_Lead.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.OpportunityNoordhoffProfessional</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salesseason__c</field>
            <value>
                <elementReference>sov_Lead.Sales_season__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Segment__c</field>
            <value>
                <stringValue>Professional</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>varSelectedOpportunityStage</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>CreateAccountContactRelationship</name>
        <label>Create Account Contact Relationship</label>
        <locationX>358</locationX>
        <locationY>4610</locationY>
        <connector>
            <targetReference>Update_Privacy_Permissions</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>soc_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>soc_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>getConvertedAccount.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createContact0</name>
        <label>Create Contact</label>
        <locationX>380</locationX>
        <locationY>1214</locationY>
        <assignRecordIdToReference>var_CreatedContact</assignRecordIdToReference>
        <connector>
            <targetReference>AssignNewContactToLead</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>sov_Lead.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CommunicationLanguage__c</field>
            <value>
                <elementReference>sov_Lead.Communication_Language__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>sov_Lead.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>sov_Lead.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>sov_Lead.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>sov_Lead.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCountryCode</field>
            <value>
                <elementReference>sov_Lead.CountryCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>sov_Lead.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>sov_Lead.Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MiddleName</field>
            <value>
                <elementReference>sov_Lead.MiddleName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OperatingCompany__c</field>
            <value>
                <elementReference>sov_Lead.OperatingCompany__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherCity</field>
            <value>
                <elementReference>sov_Lead.PrivateAddress__City__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherCountryCode</field>
            <value>
                <elementReference>sov_Lead.PrivateAddress__CountryCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherPostalCode</field>
            <value>
                <elementReference>sov_Lead.PrivateAddress__PostalCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherStreet</field>
            <value>
                <elementReference>sov_Lead.PrivateAddress__Street__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>sov_Lead.Account__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>createOpportunity</name>
        <label>Create Opportunity</label>
        <locationX>578</locationX>
        <locationY>1946</locationY>
        <assignRecordIdToReference>var_CreatedOpportunity</assignRecordIdToReference>
        <connector>
            <targetReference>AssignNewOpportunityToLead</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>sov_Lead.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>opportunityAmountCalculation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>OpportunityCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>sov_Lead.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Method__c</field>
            <value>
                <elementReference>sov_Lead.Method__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>opportunityName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumberOfStudents__c</field>
            <value>
                <elementReference>sov_Lead.NumberOfEmployees</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OperatingCompany__c</field>
            <value>
                <elementReference>sov_Lead.OperatingCompany__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricePerPupil__c</field>
            <value>
                <elementReference>GetProduct.commercialValue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_Pricebook.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrimaryContact__c</field>
            <value>
                <elementReference>sov_Lead.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>forOpportunityRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salesseason__c</field>
            <value>
                <elementReference>sov_Lead.Sales_season__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>varSelectedOpportunityStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year1__c</field>
            <value>
                <elementReference>sov_Lead.Year1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year2__c</field>
            <value>
                <elementReference>sov_Lead.Year2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year3__c</field>
            <value>
                <elementReference>sov_Lead.Year3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year4__c</field>
            <value>
                <elementReference>sov_Lead.Year4__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year5__c</field>
            <value>
                <elementReference>sov_Lead.Year5__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year6__c</field>
            <value>
                <elementReference>sov_Lead.Year6__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>Get_interaction</name>
        <label>Get interaction</label>
        <locationX>644</locationX>
        <locationY>2546</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Interaction_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Lead.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Interaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pricebook</name>
        <label>Get Pricebook</label>
        <locationX>446</locationX>
        <locationY>1730</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Is_lead_NH_Professional</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Pricebook_Name.Pricebook__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pricebook_Name</name>
        <label>Get Pricebook Name</label>
        <locationX>446</locationX>
        <locationY>1622</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Pricebook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OperatingCompany__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Lead.OperatingCompany__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderRequestPricebook__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAccountContactRelationship</name>
        <label>Get Account Contact Relationship</label>
        <locationX>490</locationX>
        <locationY>4286</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DoesAccountContactRelationshipExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soc_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soc_Contact.Id</elementReference>
            </value>
        </filters>
        <object>AccountContactRelation</object>
        <outputReference>soc_AccountContactRelationship</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getContact</name>
        <label>Get Contact</label>
        <locationX>644</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>convertCreateContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Lead.Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getConvertedAccount</name>
        <label>Get Converted Account</label>
        <locationX>358</locationX>
        <locationY>4502</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateAccountContactRelationship</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_ConvertAccount.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetLead</name>
        <label>Get Lead</label>
        <locationX>347</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>sov_Lead</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>Product__c</queriedFields>
        <queriedFields>Company</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>AutoConvertCreateOpportunity__c</queriedFields>
        <queriedFields>AutoConvertError__c</queriedFields>
        <queriedFields>IsConverted</queriedFields>
        <queriedFields>NumberOfEmployees</queriedFields>
        <queriedFields>Method__c</queriedFields>
        <queriedFields>OperatingCompany__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>MiddleName</queriedFields>
        <queriedFields>Communication_Language__c</queriedFields>
        <queriedFields>Sales_season__c</queriedFields>
        <queriedFields>SalesSeason__c</queriedFields>
        <queriedFields>Segment__c</queriedFields>
        <queriedFields>Campaign__c</queriedFields>
        <queriedFields>Message__c</queriedFields>
        <queriedFields>LeadSource</queriedFields>
        <queriedFields>Year1__c</queriedFields>
        <queriedFields>Year2__c</queriedFields>
        <queriedFields>Year3__c</queriedFields>
        <queriedFields>Year4__c</queriedFields>
        <queriedFields>Year5__c</queriedFields>
        <queriedFields>Year6__c</queriedFields>
        <queriedFields>Street</queriedFields>
        <queriedFields>PrivateAddress__Street__s</queriedFields>
        <queriedFields>City</queriedFields>
        <queriedFields>PrivateAddress__City__s</queriedFields>
        <queriedFields>CountryCode</queriedFields>
        <queriedFields>PrivateAddress__CountryCode__s</queriedFields>
        <queriedFields>PostalCode</queriedFields>
        <queriedFields>PrivateAddress__PostalCode__s</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getNoordhoffCustomMetadata</name>
        <label>Get Noordhoff Custom Metadata</label>
        <locationX>347</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetDefaultOpportunityRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Lead.OperatingCompany__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Operating_Company__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetProduct</name>
        <label>Get Product</label>
        <locationX>644</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignLookups</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Product.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetUser</name>
        <label>Get User</label>
        <locationX>347</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getNoordhoffCustomMetadata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>644</locationX>
        <locationY>2438</locationY>
        <connector>
            <targetReference>Get_interaction</targetReference>
        </connector>
        <inputReference>sov_Lead</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Privacy_Permissions</name>
        <label>Update Privacy Permissions</label>
        <locationX>490</locationX>
        <locationY>4802</locationY>
        <connector>
            <targetReference>UpdateInteractionAfterConvert</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Lead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>soc_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PrivacyPermission__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateContactVaues</name>
        <label>Update Contact Values</label>
        <locationX>644</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Lead.Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>forAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsInactive__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>updatePrimaryContact</name>
        <label>Update Primary Contact</label>
        <locationX>842</locationX>
        <locationY>1622</locationY>
        <connector>
            <targetReference>Assign_values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Lead.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PrimaryContact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>PrimaryContact__c</field>
            <value>
                <elementReference>sov_Lead.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Convert_Lead</name>
        <label>Convert Lead</label>
        <locationX>644</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetProduct</targetReference>
        </connector>
        <fields>
            <name>Account</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Account__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>sov_Lead.Account__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Contact</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>sov_Lead.Contact__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ContactName</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;When no Contact has been selected a new Contact will be created:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;First Name &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!sov_Lead.FirstName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Last Name: {!sov_Lead.LastName}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CreateNewOpportunity</name>
            <dataType>Boolean</dataType>
            <fieldText>Create New Opportunity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Opportunity.recordId</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>OpportunityStage</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Picklist Field</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>StageName</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Opportunity Stage</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <elementReference>forOpportunityRT</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varSelectedOpportunityStage</assignToReference>
                <name>value</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CreateNewOpportunity</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>OpportunityCloseDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>getNoordhoffCustomMetadata.defaultCloseDate__c</elementReference>
            </defaultValue>
            <fieldText>Opportunity Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CreateNewOpportunity</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Opportunity</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Opportunity__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>sov_Lead.Opportunity__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Product</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Product__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Product</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>sov_Lead.Product__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>leadConvertedScreen</name>
        <label>Lead Converted Screen</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>convertedMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;This Lead has already been converted and cannot be updated&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Result</name>
        <label>Result</label>
        <locationX>644</locationX>
        <locationY>5102</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AccountURL</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Account: &lt;/span&gt;&lt;a href=&quot;{!form_URL}{!soc_Account.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 60, 255); background-color: rgb(255, 255, 255);&quot;&gt;{!soc_Account.Name} &lt;/a&gt;&lt;a href=&quot;{!form_URL}{!soc_Account.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 180, 255); background-color: rgb(255, 255, 255);&quot;&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>soc_Account.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ContactURL</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Contact: &lt;/span&gt;&lt;a href=&quot;{!form_URL}{!soc_Contact.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 60, 255);&quot;&gt;{!soc_Contact.Name}&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 60, 255);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>soc_Contact.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>OpportunityURL</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Opportunity: &lt;/span&gt;&lt;a href=&quot;{!form_URL}{!soc_Opportunity.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 60, 255);&quot;&gt;{!soc_Opportunity.Name}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>soc_Opportunity.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;{!sov_Lead.AutoConvertError__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>sov_Lead.AutoConvertError__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>221</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetLead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Auto_Convert_Post_Processing</name>
        <label>Auto Convert Post Processing</label>
        <locationX>732</locationX>
        <locationY>3986</locationY>
        <connector>
            <targetReference>Loop_Converted_OpportunityIDs</targetReference>
        </connector>
        <flowName>Auto_Convert_Post_Processing</flowName>
        <inputAssignments>
            <name>sov_Opportunity</name>
            <value>
                <elementReference>Loop_Converted_OpportunityIDs</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>createInteractionBeforeConvert</name>
        <label>Create Interaction before convert</label>
        <locationX>732</locationX>
        <locationY>2762</locationY>
        <connector>
            <targetReference>AssignVariables</targetReference>
        </connector>
        <flowName>InteractionLead</flowName>
        <inputAssignments>
            <name>sov_Lead</name>
            <value>
                <elementReference>sov_Lead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_ConvertedAccount</name>
            <value>
                <elementReference>soc_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_ConvertedContact</name>
            <value>
                <elementReference>soc_Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_ConvertedOpportunity</name>
            <value>
                <elementReference>soc_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_ConvertedProduct</name>
            <value>
                <elementReference>soc_Product</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>UpdateInteractionAfterConvert</name>
        <label>Update Interaction after convert</label>
        <locationX>490</locationX>
        <locationY>4910</locationY>
        <connector>
            <targetReference>Result</targetReference>
        </connector>
        <flowName>InteractionLead</flowName>
        <inputAssignments>
            <name>sov_Lead</name>
            <value>
                <elementReference>sov_Lead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_ConvertedAccount</name>
            <value>
                <elementReference>soc_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_ConvertedContact</name>
            <value>
                <elementReference>soc_Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_ConvertedOpportunity</name>
            <value>
                <elementReference>soc_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_ConvertedProduct</name>
            <value>
                <elementReference>soc_Product</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>newOpportunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>soc_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>soc_AccountContactRelationship</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>soc_AccountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>soc_Accounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>soc_Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>soc_ContactIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>soc_Contacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>soc_Leads</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>soc_Opportunities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>soc_Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>soc_OpportunityIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>soc_PrivacyPermissions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PrivacyPermission__c</objectType>
    </variables>
    <variables>
        <name>soc_Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>sov_AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sov_ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sov_ConvertAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>sov_ConvertContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>sov_ConvertOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>sov_Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>sov_OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StandardPriceBook</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pricebook2</objectType>
    </variables>
    <variables>
        <name>var_CreatedContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CreatedOpportunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDefaultOpportunityRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSelectedOpportunityStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
