force-app/main/default/flows/ConvertRetailerStatisticsImportToAssetButtonTriggered.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>AssignVariables</name>
        <label>Assign Variables</label>
        <locationX>314</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>recRetailerStatisticsImport.SoldToAccount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSoldToAccount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recRetailerStatisticsImport.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varProduct</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recRetailerStatisticsImport.MatchStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forMatchStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ReadyToConvert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PathAlreadyConverted</name>
        <label>Already converted</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>varPath</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Already converted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRetailerStatisticsImport</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PathCanBeConverted</name>
        <label>Can be converted</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>varPath</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Can be converted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateSalesStatistics</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PathCannotBeConverted</name>
        <label>Cannot be converted</label>
        <locationX>578</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>varPath</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cannot be converted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRetailerStatisticsImport</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IsEndCustomerNumberPopulated</name>
        <label>Is End Customer Number populated?</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>IsIsbnPopulated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EndCustomerNumberIsPopulated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recRetailerStatisticsImport.EndCustomerNumber__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetSoldToAccount</targetReference>
            </connector>
            <label>End Customer Number is populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsIsbnPopulated</name>
        <label>Is ISBN populated?</label>
        <locationX>314</locationX>
        <locationY>614</locationY>
        <defaultConnector>
            <targetReference>AssignVariables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsbnIsPopulated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recRetailerStatisticsImport.IsbnEan__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetProduct</targetReference>
            </connector>
            <label>ISBN is populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>ReadyToConvert</name>
        <label>Ready to convert?</label>
        <locationX>314</locationX>
        <locationY>1070</locationY>
        <defaultConnector>
            <targetReference>PathCannotBeConverted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cannot be converted</defaultConnectorLabel>
        <rules>
            <name>CanBeConverted</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>recRetailerStatisticsImport.MatchStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recRetailerStatisticsImport.SoldToAccount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recRetailerStatisticsImport.Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recRetailerStatisticsImport.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivered</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recRetailerStatisticsImport.Asset__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PathCanBeConverted</targetReference>
            </connector>
            <label>Can be converted</label>
        </rules>
        <rules>
            <name>AlreadyConverted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recRetailerStatisticsImport.Asset__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PathAlreadyConverted</targetReference>
            </connector>
            <label>Already converted</label>
        </rules>
    </decisions>
    <formulas>
        <name>forEcinNumber</name>
        <dataType>String</dataType>
        <expression>&quot;[&quot;&amp;{!recRetailerStatisticsImport.EndCustomerNumber__c}&amp;&quot;]&quot;</expression>
    </formulas>
    <formulas>
        <name>forMatchStatus</name>
        <dataType>String</dataType>
        <expression>IF(AND(NOT(ISBLANK({!varSoldToAccount})),NOT(ISBLANK({!varProduct}))),&quot;Success&quot;,
IF(AND(ISBLANK({!varSoldToAccount}),ISBLANK({!varProduct})),&quot;Error: account and product cannot be matched!&quot;,
IF(AND(NOT(ISBLANK({!varSoldToAccount})),ISBLANK({!varProduct})),&quot;Error: product cannot be matched!&quot;,
IF(AND(ISBLANK({!varSoldToAccount}),NOT(ISBLANK({!varProduct}))),&quot;Error: account cannot be matched!&quot;,&quot;Error!&quot;))))</expression>
    </formulas>
    <interviewLabel>Convert Retailer Statistics Import {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Convert Retailer Statistics Import to Asset (button triggered)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetProduct</name>
        <label>Get Product</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignVariables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ISBNArticleNumber__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>recRetailerStatisticsImport.IsbnEan__c</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>varProduct</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetRetailerStatisticsImport</name>
        <label>Get Retailer Statistics Import</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsEndCustomerNumberPopulated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Retailer_Statistics_Import__c</object>
        <outputReference>recRetailerStatisticsImport</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SoldToAccount__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>OperatingCompany__c</queriedFields>
        <queriedFields>Product__c</queriedFields>
        <queriedFields>Quantity__c</queriedFields>
        <queriedFields>OrderDate__c</queriedFields>
        <queriedFields>MatchStatus__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>EndCustomerNumber__c</queriedFields>
        <queriedFields>IsbnEan__c</queriedFields>
        <queriedFields>Asset__c</queriedFields>
        <queriedFields>Source__c</queriedFields>
        <queriedFields>RowId__c</queriedFields>
        <queriedFields>TradePartnerOrderNumber__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetSoldToAccount</name>
        <label>Get Sold To Account</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsIsbnPopulated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EcinNumberMatch__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>forEcinNumber</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varSoldToAccount</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateRetailerStatisticsImport</name>
        <label>Update Retailer Statistics Import</label>
        <locationX>314</locationX>
        <locationY>1526</locationY>
        <connector>
            <targetReference>scrMessage</targetReference>
        </connector>
        <inputReference>recRetailerStatisticsImport</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>scrMessage</name>
        <label>Message Screen</label>
        <locationX>314</locationX>
        <locationY>1646</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>disSuccess</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;This record was successfully converted to an Asset.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varPath</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Can be converted</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>disConverted</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;This record was already converted to an Asset.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varPath</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Already converted</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>disNotConverted</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;You cannot convert this Retailer Statistics Import record to an Asset, because it does not meet the minimum requirements. Please make sure that an Account and a Product could be matched.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varPath</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Cannot be converted</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRetailerStatisticsImport</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>CreateSalesStatistics</name>
        <label>Create Sales Statistics</label>
        <locationX>50</locationX>
        <locationY>1310</locationY>
        <connector>
            <targetReference>UpdateRetailerStatisticsImport</targetReference>
        </connector>
        <flowName>SubflowCreateSalesStatistics</flowName>
        <inputAssignments>
            <name>recRetailerStatisticsImport</name>
            <value>
                <elementReference>recRetailerStatisticsImport</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recRetailerStatisticsImport</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Retailer_Statistics_Import__c</objectType>
    </variables>
    <variables>
        <name>varPath</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProduct</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSoldToAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
