force-app/main/default/flows/Convert_PreOpportunity_To_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Account_information</name>
        <label>Assign Account information</label>
        <locationX>408</locationX>
        <locationY>293</locationY>
        <assignmentItems>
            <assignToReference>sov_Lead.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Accounts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.NumberOfEmployees</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Accounts.NumberofStudents__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Accounts.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Accounts.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fields_filled</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_information</name>
        <label>Assign Contact information</label>
        <locationX>352</locationX>
        <locationY>577</locationY>
        <assignmentItems>
            <assignToReference>sov_Lead.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.MiddleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.MiddleName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.MailingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.MailingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.MailingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.MailingCountry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fields_filled</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_lead_variables</name>
        <label>Assign lead variables</label>
        <locationX>177</locationX>
        <locationY>329</locationY>
        <assignmentItems>
            <assignToReference>sov_Lead.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>eCommerce</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.OperatingCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Noordhoff</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.ExtID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ExtID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Educational_Program_Method__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.OrderMark__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Order_Mark__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.OrderReference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Order_Reference__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.OrderingDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Ordering_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.OrderlineStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Orderline_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.ProcessingDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Processing_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LastName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.PreOppType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Company__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.OrganizationCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OrganizationCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.ISBNEAN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forIsbnEan</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FirstName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.MiddleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MiddleName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MobilePhone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.AutoConvert__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_Street__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_Zip_Postal_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.AutoConvertCreateContact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fields_filled</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Fields_filled</name>
        <label>Fields filled?</label>
        <locationX>169</locationX>
        <locationY>476</locationY>
        <defaultConnector>
            <targetReference>Create_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assign_Account_information</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Accounts</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assign_Contact_information</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forEmail</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Email__c}),{!Get_Contact.Email},{!$Record.Email__c})</expression>
    </formulas>
    <formulas>
        <name>forIsbnEan</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.ISBN__c})),{!$Record.ISBN__c},{!$Record.EAN__c})</expression>
    </formulas>
    <formulas>
        <name>forPhone</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Phone__c}),{!Get_Contact.Phone},{!$Record.Phone__c})</expression>
    </formulas>
    <interviewLabel>Convert PreOpportunity To Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Convert PreOpportunity To Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Lead</name>
        <label>Create Lead</label>
        <locationX>178</locationX>
        <locationY>656</locationY>
        <connector>
            <targetReference>UpdatePreOpportunity</targetReference>
        </connector>
        <inputReference>sov_Lead</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Accounts</name>
        <label>Get Accounts</label>
        <locationX>538</locationX>
        <locationY>379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Account_information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>NumberofStudents__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>537</locationX>
        <locationY>533</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Contact_information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>MiddleName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>MailingStreet</queriedFields>
        <queriedFields>MailingCity</queriedFields>
        <queriedFields>MailingPostalCode</queriedFields>
        <queriedFields>MailingCountry</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdatePreOpportunity</name>
        <label>Update Pre Opportunity</label>
        <locationX>178</locationX>
        <locationY>785</locationY>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>sov_Lead.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Assign_lead_variables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Company__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LastName__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Pre_Opportunity__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>sov_Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
