force-app/main/default/flows/ConvertRetailerStatisticsImportToAssetScheduled.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>AssignVariables</name>
        <label>Assign Variables</label>
        <locationX>182</locationX>
        <locationY>948</locationY>
        <assignmentItems>
            <assignToReference>recRetailerStatisticsImport.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recRetailerStatisticsImport.SoldToAccount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSoldToAccount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recRetailerStatisticsImport.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recRetailerStatisticsImport.OperatingCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OperatingCompany__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recRetailerStatisticsImport.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varProduct</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recRetailerStatisticsImport.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recRetailerStatisticsImport.OrderDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OrderDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recRetailerStatisticsImport.MatchStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forMatchStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recRetailerStatisticsImport.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recRetailerStatisticsImport.Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Asset__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recRetailerStatisticsImport.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Source__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recRetailerStatisticsImport.TradePartnerOrderNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TradePartnerOrderNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recRetailerStatisticsImport.RowId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RowId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ReadyToConvert</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IsEndCustomerNumberPopulated</name>
        <label>Is End Customer Number populated?</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>IsIsbnPopulated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EndCustomerNumberIsPopulated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EndCustomerNumber__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetSoldToAccount</targetReference>
            </connector>
            <label>End Customer Number is populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsIsbnPopulated</name>
        <label>Is ISBN populated?</label>
        <locationX>182</locationX>
        <locationY>612</locationY>
        <defaultConnector>
            <targetReference>AssignVariables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsbnIsPopulated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsbnEan__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetProduct</targetReference>
            </connector>
            <label>ISBN is populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>ReadyToConvert</name>
        <label>Ready to convert?</label>
        <locationX>182</locationX>
        <locationY>1068</locationY>
        <defaultConnector>
            <targetReference>UpdateRetailerStatisticsImport</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CanBeConverted</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>recRetailerStatisticsImport.MatchStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recRetailerStatisticsImport.SoldToAccount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recRetailerStatisticsImport.Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recRetailerStatisticsImport.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivered</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recRetailerStatisticsImport.Asset__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateSalesStatistics</targetReference>
            </connector>
            <label>Can be converted</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forEcinNumber</name>
        <dataType>String</dataType>
        <expression>&quot;[&quot;&amp;{!$Record.EndCustomerNumber__c}&amp;&quot;]&quot;</expression>
    </formulas>
    <formulas>
        <name>forMatchStatus</name>
        <dataType>String</dataType>
        <expression>IF(AND(NOT(ISBLANK({!varSoldToAccount})),NOT(ISBLANK({!varProduct}))),&quot;Success&quot;,
IF(AND(ISBLANK({!varSoldToAccount}),ISBLANK({!varProduct})),&quot;Error: account and product cannot be matched!&quot;,
IF(AND(NOT(ISBLANK({!varSoldToAccount})),ISBLANK({!varProduct})),&quot;Error: product cannot be matched!&quot;,
IF(AND(ISBLANK({!varSoldToAccount}),NOT(ISBLANK({!varProduct}))),&quot;Error: account cannot be matched!&quot;,&quot;Error!&quot;))))</expression>
    </formulas>
    <interviewLabel>Convert Retailer Statistics Import to Asset (button triggered) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Convert Retailer Statistics Import to Asset (scheduled)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetProduct</name>
        <label>Get Product</label>
        <locationX>50</locationX>
        <locationY>732</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignVariables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ISBNArticleNumber__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.IsbnEan__c</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>varProduct</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetSoldToAccount</name>
        <label>Get Sold To Account</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsIsbnPopulated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EcinNumberMatch__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>forEcinNumber</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varSoldToAccount</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateRetailerStatisticsImport</name>
        <label>Update Retailer Statistics Import</label>
        <locationX>182</locationX>
        <locationY>1404</locationY>
        <inputReference>recRetailerStatisticsImport</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsEndCustomerNumberPopulated</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>Asset__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Delivered</stringValue>
            </value>
        </filters>
        <object>Retailer_Statistics_Import__c</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2022-11-22</startDate>
            <startTime>17:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>CreateSalesStatistics</name>
        <label>Create Sales Statistics</label>
        <locationX>50</locationX>
        <locationY>1188</locationY>
        <connector>
            <targetReference>UpdateRetailerStatisticsImport</targetReference>
        </connector>
        <flowName>SubflowCreateSalesStatistics</flowName>
        <inputAssignments>
            <name>recRetailerStatisticsImport</name>
            <value>
                <elementReference>recRetailerStatisticsImport</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>recRetailerStatisticsImport</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Retailer_Statistics_Import__c</objectType>
    </variables>
    <variables>
        <name>varProduct</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSoldToAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
