force-app/main/default/flows/FindMatchingContacts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>ContactFound</name>
        <label>Contact found?</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ContactNotFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soc_Contacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetContactEmail</targetReference>
            </connector>
            <label>Contact not found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Matching_known</name>
        <label>Matching known</label>
        <locationX>732</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Which_match_type_is_possible</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AccountId_Teachernumber_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Lead.MatchType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AccountId + Teachernumber</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetContactAccIdEmail</targetReference>
            </connector>
            <label>AccountId + Email</label>
        </rules>
        <rules>
            <name>Schoolnumber_Email_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Lead.MatchType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Schoolnumber + Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetContactSchoolNumEmail</targetReference>
            </connector>
            <label>Schoolnumber + Email</label>
        </rules>
        <rules>
            <name>Email_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Lead.MatchType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>GetContactEmail</targetReference>
            </connector>
            <label>Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_match_type_is_possible</name>
        <label>Which match type is possible?</label>
        <locationX>1282</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AccountId_Teachernumber</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Lead.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_Lead.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>GetContactAccIdEmail</targetReference>
            </connector>
            <label>AccountId + Email</label>
        </rules>
        <rules>
            <name>Schoolnumber_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Lead.OrganizationCode__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_Lead.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetContactSchoolNumEmail</targetReference>
            </connector>
            <label>Schoolnumber + Email</label>
        </rules>
        <rules>
            <name>Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Lead.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>GetContactEmail</targetReference>
            </connector>
            <label>Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Operating_Company</name>
        <label>Which Operating Company</label>
        <locationX>1315</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Plantyn_Liber_Noordhoff</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>sov_Lead.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Plantyn</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_Lead.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Liber</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_Lead.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Matching_known</targetReference>
            </connector>
            <label>Plantyn Liber Noordhoff</label>
        </rules>
    </decisions>
    <description>15/03/2023 DB: Removed Get Leads element to reduce queries. Lead record is passed in.
                          Flow redesign - rename Get elements, removed unnecessary decisions and unused decision outcomes.</description>
    <environments>Default</environments>
    <formulas>
        <name>convertOrganizationCode</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(TEXT({!sov_Lead.OrganizationCode__c}),&quot;.&quot;,&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>FindMatchingContacts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FindMatchingContacts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetContactAccIdEmail</name>
        <label>Get Contact AccId &amp; Email</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContactFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Lead.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>OperatingCompany__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Lead.OperatingCompany__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Lead.Account__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>soc_Contacts</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetContactEmail</name>
        <label>Get Contact Email</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Lead.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>OperatingCompany__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Lead.OperatingCompany__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>soc_Contacts</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetContactSchoolNumEmail</name>
        <label>Get Contact SchoolNum &amp; Email</label>
        <locationX>732</locationX>
        <locationY>1070</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Lead.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>OperatingCompany__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Lead.OperatingCompany__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeacherSchoolNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>convertOrganizationCode</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>soc_Contacts</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>1189</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Which_Operating_Company</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>soc_Contacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>sov_Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>var_ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VARAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAREmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VARLeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VARMatchingType</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAROperatingCompany</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VARSchoolnumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VARTeacherNumberCustomer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VARTeacherNumberKlopotek</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
