force-app/main/default/flows/Generic_Address_Adder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Save_Validation_Results</name>
        <label>Save Validation Results</label>
        <locationX>512</locationX>
        <locationY>2606</locationY>
        <actionName>recordval__Rv2SaveValidationResultsFlowAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>addAnotherAddressScr</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>createdAddressID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>validationResults</name>
            <value>
                <elementReference>flowValidationResults_output</elementReference>
            </value>
        </inputParameters>
        <nameSegment>recordval__Rv2SaveValidationResultsFlowAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_Validation_Result_to_List</name>
        <label>Add Validation Result to List</label>
        <locationX>1683</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>flowValidationResults_output</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>flowValidationResult_output</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_the_address_valid</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Set_Address_ID</name>
        <label>Set Address ID</label>
        <locationX>842</locationX>
        <locationY>2330</locationY>
        <assignmentItems>
            <assignToReference>createdAddressID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_See_if_Address_Exists.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Validation_Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_error_message</name>
        <label>Reset error message</label>
        <locationX>1205</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Which_object</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Values</name>
        <label>Reset Values</label>
        <locationX>380</locationX>
        <locationY>2930</locationY>
        <assignmentItems>
            <assignToReference>city_val</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>country_val</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countryCode_val</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createdAddressID</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>houseNumber_val</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>houseNumberAddition_val</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>postalCode_val</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>state_val</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>streetName_val</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>validateStatusMessage</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>selectAddressTypeScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Address_ID</name>
        <label>Set Address ID</label>
        <locationX>875</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>createdAddressID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>See_if_Address_Exists.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_object</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_error_message</name>
        <label>Set error message</label>
        <locationX>2162</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The address is not valid. Error code: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>validateStatusMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>addressDetailsScreen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AdditionalAddress</name>
        <choiceText>Additional Address</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AdditionalAddress</stringValue>
        </value>
    </choices>
    <choices>
        <name>BillToAddress</name>
        <choiceText>Bill-To Address</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BillToAddress</stringValue>
        </value>
    </choices>
    <choices>
        <name>BillToAndShipTo</name>
        <choiceText>Bill-To Address and Ship-To Address (the new address will be applied to both Bill-To and Ship-To)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BillToAndShipTo</stringValue>
        </value>
    </choices>
    <choices>
        <name>CopyBillTo</name>
        <choiceText>Copy the Bill-To Address to the Ship-To Address</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CopyBillTo</stringValue>
        </value>
    </choices>
    <choices>
        <name>CopyShipTo</name>
        <choiceText>Copy the Ship-To Address to the Bill-To Address</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CopyShipTo</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>ShipToAddress</name>
        <choiceText>Ship-To Address</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ShipToAddress</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Add_another_address</name>
        <label>Add another address?</label>
        <locationX>512</locationX>
        <locationY>2822</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Another</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Would_you_like_to_add_another_address</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Values</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Address_should_be_copied</name>
        <label>Address should be copied from bill-to/ship-to?</label>
        <locationX>2351</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Which_object_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Do_Not_Copy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedAddressType_FORM</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>copy-bill</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedAddressType_FORM</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>copy-ship</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addressDetailsScreen</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Address_type_acc</name>
        <label>Address type</label>
        <locationX>1205</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Which_object</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bill_To_Ship_to</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>selectedAddressType_FORM</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>bill-to</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedAddressType_FORM</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ship-to</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedAddressType_FORM</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>both</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>See_if_Address_Exists</targetReference>
            </connector>
            <label>Bill-To/Ship-To</label>
        </rules>
    </decisions>
    <decisions>
        <name>Address_type_check_acc</name>
        <label>Address type check_acc</label>
        <locationX>512</locationX>
        <locationY>1898</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_See_if_Address_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bill_To_acc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedAddressType_FORM</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>bill-to</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Bill</targetReference>
            </connector>
            <label>Bill-To</label>
        </rules>
        <rules>
            <name>Ship_To_acc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedAddressType_FORM</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ship-to</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Ship</targetReference>
            </connector>
            <label>Ship-To</label>
        </rules>
        <rules>
            <name>Both</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedAddressType_FORM</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>both</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Both</targetReference>
            </connector>
            <label>Both</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Does_the_address_already_exist</name>
        <label>Does the address already exist?</label>
        <locationX>974</locationX>
        <locationY>2114</locationY>
        <defaultConnector>
            <targetReference>Create_Additional_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_See_if_Address_Exists</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Address</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Which_object</name>
        <label>Which object?</label>
        <locationX>1205</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Address_type_acc</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account2</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Copy_2_of_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>801</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Address_type_acc</targetReference>
            </connector>
            <label>Order</label>
        </rules>
        <rules>
            <name>Copy_2_of_OrderItem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>802</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Address_type_acc</targetReference>
            </connector>
            <label>OrderItem</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_the_address_already_exist</name>
        <label>Does the address already exist?</label>
        <locationX>1007</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Create_Bill_To_Ship_To_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Address_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>See_if_Address_Exists</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Address</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_address_valid</name>
        <label>Is the address valid?</label>
        <locationX>1683</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Set_error_message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>validateStatusMessage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>validateStatusMessage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>501</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>validateStatusMessage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>502</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>validateStatusMessage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>503</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>validateStatusMessage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>504</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>validateStatusMessage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>505</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>validateStatusMessage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>590</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>houseNumber_val</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>streetName_val</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>validateStatusMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_error_message</targetReference>
            </connector>
            <label>Is valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Address_should_be_copied</name>
        <label>Which Address should be copied?</label>
        <locationX>2558</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Update_Account2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Copy-Ship-To</defaultConnectorLabel>
        <rules>
            <name>Copy_Bill_To</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedAddressType_FORM</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>copy-bill</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account</targetReference>
            </connector>
            <label>Copy-Bill-To</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_object</name>
        <label>Which object?</label>
        <locationX>1205</locationX>
        <locationY>1790</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Address_type_check_acc</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>801</stringValue>
                </rightValue>
            </conditions>
            <label>Order</label>
        </rules>
        <rules>
            <name>OrderItem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>802</stringValue>
                </rightValue>
            </conditions>
            <label>OrderItem</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_object_2</name>
        <label>Which object?</label>
        <locationX>3020</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>addAnotherAddressScr</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Copy_1_of_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>801</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>addAnotherAddressScr</targetReference>
            </connector>
            <label>Order</label>
        </rules>
        <rules>
            <name>Copy_1_of_OrderItem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>802</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>addAnotherAddressScr</targetReference>
            </connector>
            <label>OrderItem</label>
        </rules>
    </decisions>
    <description>CH 18/07/2023: init
CH 16/08/2023: Changed field assignments to match fields created in DEV
CH 20/10/2023: Added operating company assignment</description>
    <environments>Default</environments>
    <formulas>
        <name>addressLabel_FORM</name>
        <dataType>String</dataType>
        <expression>if(ISBLANK({!houseNumberAddition_val}), {!streetName_val} &amp; &quot; &quot; &amp; {!houseNumber_val} &amp;  &quot;, &quot; &amp; {!postalCode_val} &amp; &quot;, &quot; &amp; {!country_val},{!streetName_val} &amp; &quot; &quot; &amp; {!houseNumber_val} &amp; &quot; &quot; &amp; {!houseNumberAddition_val} &amp; &quot;, &quot; &amp; {!postalCode_val} &amp; &quot;, &quot; &amp; {!country_val})</expression>
    </formulas>
    <formulas>
        <name>dtNow</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>houseANDStreet_FORM</name>
        <dataType>String</dataType>
        <expression>if(ISBLANK({!houseNumberAddition_val}), {!streetName_val} &amp; &quot; &quot; &amp; {!houseNumber_val},{!streetName_val} &amp; &quot; &quot; &amp; {!houseNumber_val} &amp; &quot; &quot; &amp; {!houseNumberAddition_val})</expression>
    </formulas>
    <formulas>
        <name>selectedAddressType_FORM</name>
        <dataType>String</dataType>
        <expression>IF({!Select_which_type_of_address_you_d_like_to_add}=&apos;Bill-To Address&apos;, &apos;bill-to&apos;, IF({!Select_which_type_of_address_you_d_like_to_add}=&apos;Ship-To Address&apos;, &apos;ship-to&apos;, IF({!Select_which_type_of_address_you_d_like_to_add}=&apos;Bill-To Address and Ship-To Address (the new address will be applied to both Bill-To and Ship-To)&apos;, &apos;both&apos;,
IF({!Select_which_type_of_address_you_d_like_to_add}=&apos;Copy the Bill-To Address to the Ship-To Address&apos;, &apos;copy-bill&apos;, IF({!Select_which_type_of_address_you_d_like_to_add}=&apos;Copy the Ship-To Address to the Bill-To Address&apos;, &apos;copy-ship&apos;, &apos;additional&apos;)))))</expression>
    </formulas>
    <interviewLabel>Generic_Address_Adder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generic_Address_Adder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Additional_Address</name>
        <label>Create Additional Address</label>
        <locationX>1106</locationX>
        <locationY>2222</locationY>
        <assignRecordIdToReference>createdAddressID</assignRecordIdToReference>
        <connector>
            <targetReference>Save_Validation_Results</targetReference>
        </connector>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>city_val</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>country_val</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HouseNumberAddition__c</field>
            <value>
                <elementReference>houseNumberAddition_val</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HouseNumber__c</field>
            <value>
                <elementReference>houseNumber_val</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>addressLabel_FORM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OperatingCompany__c</field>
            <value>
                <elementReference>Get_Account2.OperatingCompany__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode__c</field>
            <value>
                <elementReference>postalCode_val</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>state_val</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street__c</field>
            <value>
                <elementReference>streetName_val</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rv2ValidationDate__c</field>
            <value>
                <elementReference>dtNow</elementReference>
            </value>
        </inputAssignments>
        <object>ILAddress__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Bill_To_Ship_To_Address</name>
        <label>Create Bill-To/Ship-To Address</label>
        <locationX>1139</locationX>
        <locationY>1406</locationY>
        <assignRecordIdToReference>createdAddressID</assignRecordIdToReference>
        <connector>
            <targetReference>Which_object</targetReference>
        </connector>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>city_val</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>country_val</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HouseNumberAddition__c</field>
            <value>
                <elementReference>houseNumberAddition_val</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HouseNumber__c</field>
            <value>
                <elementReference>houseNumber_val</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>addressLabel_FORM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OperatingCompany__c</field>
            <value>
                <elementReference>Get_Account2.OperatingCompany__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode__c</field>
            <value>
                <elementReference>postalCode_val</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>state_val</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street__c</field>
            <value>
                <elementReference>streetName_val</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rv2ValidationDate__c</field>
            <value>
                <elementReference>dtNow</elementReference>
            </value>
        </inputAssignments>
        <object>ILAddress__c</object>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_See_if_Address_Exists</name>
        <label>See if Address Exists</label>
        <locationX>974</locationX>
        <locationY>2006</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Does_the_address_already_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>country_val</elementReference>
            </value>
        </filters>
        <filters>
            <field>PostalCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>postalCode_val</elementReference>
            </value>
        </filters>
        <filters>
            <field>HouseNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>houseNumber_val</elementReference>
            </value>
        </filters>
        <filters>
            <field>HouseNumberAddition__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>houseNumberAddition_val</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ILAddress__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>2558</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Which_Address_should_be_copied</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account2</name>
        <label>Get Account</label>
        <locationX>897</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Address_type_acc</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>See_if_Address_Exists</name>
        <label>See if Address Exists</label>
        <locationX>1007</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_the_address_already_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>country_val</elementReference>
            </value>
        </filters>
        <filters>
            <field>PostalCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>postalCode_val</elementReference>
            </value>
        </filters>
        <filters>
            <field>HouseNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>houseNumber_val</elementReference>
            </value>
        </filters>
        <filters>
            <field>HouseNumberAddition__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>houseNumberAddition_val</elementReference>
            </value>
        </filters>
        <filters>
            <field>OperatingCompany__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account2.OperatingCompany__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ILAddress__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Address</name>
        <label>Update Address</label>
        <locationX>842</locationX>
        <locationY>2222</locationY>
        <connector>
            <targetReference>Copy_1_of_Set_Address_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_1_of_See_if_Address_Exists.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OperatingCompany__c</field>
            <value>
                <elementReference>Get_Account2.OperatingCompany__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rv2ValidationDate__c</field>
            <value>
                <elementReference>dtNow</elementReference>
            </value>
        </inputAssignments>
        <object>ILAddress__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>2426</locationX>
        <locationY>674</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>addAnotherAddressScr</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ShipToAddressValidated__c</field>
            <value>
                <elementReference>Get_Account.BillToAddressValidated__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingAddress__c</field>
            <value>
                <elementReference>Get_Account.BillingAddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>Get_Account.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>Get_Account.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountryCode</field>
            <value>
                <elementReference>Get_Account.BillingCountryCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingHouseNumberAddition__c</field>
            <value>
                <elementReference>Get_Account.BillingHouseNumberAddition__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingHouseNumber__c</field>
            <value>
                <elementReference>Get_Account.BillingHouseNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>Get_Account.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>Get_Account.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>Get_Account.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreetName__c</field>
            <value>
                <elementReference>Get_Account.BillingStreetName__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account2</name>
        <label>Update Account</label>
        <locationX>2690</locationX>
        <locationY>674</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>addAnotherAddressScr</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillToAddressValidated__c</field>
            <value>
                <elementReference>Get_Account.ShipToAddressValidated__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingAddress__c</field>
            <value>
                <elementReference>Get_Account.ShippingAddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>Get_Account.ShippingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>Get_Account.ShippingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountryCode</field>
            <value>
                <elementReference>Get_Account.ShippingCountryCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingHouseNumberAddition__c</field>
            <value>
                <elementReference>Get_Account.ShippingHouseNumberAddition__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingHouseNumber__c</field>
            <value>
                <elementReference>Get_Account.ShippingHouseNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>Get_Account.ShippingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>Get_Account.ShippingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>Get_Account.ShippingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreetName__c</field>
            <value>
                <elementReference>Get_Account.ShippingStreetName__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Bill</name>
        <label>Update Account</label>
        <locationX>50</locationX>
        <locationY>2006</locationY>
        <connector>
            <targetReference>Update_Address_OpCo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillToAddressValidated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingAddress__c</field>
            <value>
                <elementReference>createdAddressID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>city_val</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountryCode</field>
            <value>
                <elementReference>countryCode_val</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingHouseNumberAddition__c</field>
            <value>
                <elementReference>houseNumberAddition_val</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingHouseNumber__c</field>
            <value>
                <elementReference>houseNumber_val</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>postalCode_val</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>houseANDStreet_FORM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreetName__c</field>
            <value>
                <elementReference>streetName_val</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Both</name>
        <label>Update Account</label>
        <locationX>578</locationX>
        <locationY>2006</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Address_OpCo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillToAddressValidated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingAddress__c</field>
            <value>
                <elementReference>createdAddressID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>city_val</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountryCode</field>
            <value>
                <elementReference>countryCode_val</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingHouseNumberAddition__c</field>
            <value>
                <elementReference>houseNumberAddition_val</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingHouseNumber__c</field>
            <value>
                <elementReference>houseNumber_val</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>postalCode_val</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>houseANDStreet_FORM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreetName__c</field>
            <value>
                <elementReference>streetName_val</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipToAddressValidated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingAddress__c</field>
            <value>
                <elementReference>createdAddressID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>city_val</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountryCode</field>
            <value>
                <elementReference>countryCode_val</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingHouseNumberAddition__c</field>
            <value>
                <elementReference>houseNumberAddition_val</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingHouseNumber__c</field>
            <value>
                <elementReference>houseNumber_val</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>postalCode_val</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>houseANDStreet_FORM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreetName__c</field>
            <value>
                <elementReference>streetName_val</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Ship</name>
        <label>Update Account</label>
        <locationX>314</locationX>
        <locationY>2006</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Address_OpCo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ShipToAddressValidated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingAddress__c</field>
            <value>
                <elementReference>createdAddressID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>city_val</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountryCode</field>
            <value>
                <elementReference>countryCode_val</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingHouseNumberAddition__c</field>
            <value>
                <elementReference>houseNumberAddition_val</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingHouseNumber__c</field>
            <value>
                <elementReference>houseNumber_val</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>postalCode_val</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>houseANDStreet_FORM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreetName__c</field>
            <value>
                <elementReference>streetName_val</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Address</name>
        <label>Update Address</label>
        <locationX>875</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>Set_Address_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>See_if_Address_Exists.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>rv2ValidationDate__c</field>
            <value>
                <elementReference>dtNow</elementReference>
            </value>
        </inputAssignments>
        <object>ILAddress__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Address_OpCo</name>
        <label>Update Address OpCo</label>
        <locationX>50</locationX>
        <locationY>2114</locationY>
        <connector>
            <targetReference>Save_Validation_Results</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>createdAddressID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OperatingCompany__c</field>
            <value>
                <elementReference>Get_Account2.OperatingCompany__c</elementReference>
            </value>
        </inputAssignments>
        <object>ILAddress__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>addAnotherAddressScr</name>
        <label>addAnotherAddressScr</label>
        <locationX>512</locationX>
        <locationY>2714</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_another_address</targetReference>
        </connector>
        <fields>
            <name>Would_you_like_to_add_another_address</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Would you like to add another address?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>addressDetailsScreen</name>
        <label>addressDetailsScreen</label>
        <locationX>1683</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Validation_Result_to_List</targetReference>
        </connector>
        <fields>
            <name>infoText</name>
            <fieldText>&lt;p style=&quot;user-select: auto;&quot;&gt;Please fill out the following information for the new address:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>errorMessage_disp</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(254, 1, 0);&quot;&gt;{!errorMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>errorMessage</leftValueReference>
                    <operator>NotEqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>rvValidateAddress</name>
            <extensionName>recordval:rv2AddressFlowScreenComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>houseNumber</name>
                <value>
                    <elementReference>houseNumber_val</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>houseNumberAddition</name>
                <value>
                    <elementReference>houseNumberAddition_val</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>postalCode_val</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>streetName_val</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>state</name>
                <value>
                    <elementReference>state_val</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>city_val</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>country_val</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showHouseNumberAddition</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showHouseNumber</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>Street__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>validateStatusMessage</assignToReference>
                <name>statusCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>houseNumberAddition_val</assignToReference>
                <name>houseNumberAddition</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>city_val</assignToReference>
                <name>city</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>country_val</assignToReference>
                <name>country</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>houseNumber_val</assignToReference>
                <name>houseNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>postalCode_val</assignToReference>
                <name>postalCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>streetName_val</assignToReference>
                <name>street</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>countryCode_val</assignToReference>
                <name>countryCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>flowValidationResult_output</assignToReference>
                <name>rvResult</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>selectAddressTypeScreen</name>
        <label>selectAddressTypeScreen</label>
        <locationX>2351</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Address_should_be_copied</targetReference>
        </connector>
        <fields>
            <name>Select_which_type_of_address_you_d_like_to_add</name>
            <choiceReferences>AdditionalAddress</choiceReferences>
            <choiceReferences>BillToAddress</choiceReferences>
            <choiceReferences>ShipToAddress</choiceReferences>
            <choiceReferences>BillToAndShipTo</choiceReferences>
            <choiceReferences>CopyBillTo</choiceReferences>
            <choiceReferences>CopyShipTo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select which type of address you&apos;d like to add:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>2225</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>selectAddressTypeScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>city_val</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>country_val</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>countryCode_val</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>createdAddressID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>flowValidationResult_output</name>
        <apexClass>recordval__Rv2FlowValidationResult</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>flowValidationResults_output</name>
        <apexClass>recordval__Rv2FlowValidationResult</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>houseNumber_val</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>houseNumberAddition_val</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>postalCode_val</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>state_val</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>streetName_val</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>validateStatusMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>validationResult</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
