force-app/main/default/flows/Import_Assets.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>AssignGetToList</name>
        <label>AssignGetToList</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>lstAssetUsage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAsset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignQuantityToAsset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignQuantityToAsset</name>
        <label>AssignQuantityToAsset</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>lstAssetUsage.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateAsset</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ManualOrderRequired</name>
        <label>ManualOrderRequired</label>
        <locationX>446</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>AssignGetToList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckEmptyReturnSize</name>
            <conditionLogic>1 OR 2 OR (3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>GetAsset</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quantity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GoverningBody__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SchoolGroup__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ExternalCustomerId__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>UpdateManualOrder</targetReference>
            </connector>
            <label>CheckEmptyReturnSize</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_type_is_the_record</name>
        <label>Which type is the record?</label>
        <locationX>248</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>GetAsset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Informat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Informat</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ImportAssetHandler</targetReference>
            </connector>
            <label>Informat</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Last day of February for the following year</description>
        <name>endDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(DATE(YEAR({!startDate})+1,02,01),1)-1</expression>
    </formulas>
    <formulas>
        <description>First of February for current year</description>
        <name>startDate</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()) ,02,01)</expression>
    </formulas>
    <interviewLabel>Import Assets {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Import Assets</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAsset</name>
        <label>Get Asset</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ManualOrderRequired</targetReference>
        </connector>
        <filterLogic>((1 AND 4) OR 5) AND (2 OR 3) AND 6 AND 7</filterLogic>
        <filters>
            <field>SubscriptionId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Licence__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>BilltoExternalId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.GoverningBody__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>BilltoExternalId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SchoolGroup__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SubscriptionId__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>LegacyLicenceId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Licence__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PricingMethod__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ProductUsageBased</stringValue>
            </value>
        </filters>
        <filters>
            <field>ShiptoExternalId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ExternalCustomerId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAsset</name>
        <label>UpdateAsset</label>
        <locationX>578</locationX>
        <locationY>935</locationY>
        <inputReference>lstAssetUsage</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateManualOrder</name>
        <label>UpdateManualOrder</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>ManualOrderRequired__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Which_type_is_the_record</targetReference>
        </connector>
        <filterFormula>AND(ISPICKVAL({!$Record.Status__c}, &quot;Pending&quot;), OR(ISNEW(), ISCHANGED({!$Record.Status__c})))</filterFormula>
        <object>ImportAssets__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>ImportAssetHandler</name>
        <label>Import Asset Handler</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <flowName>Import_Asset_Handler</flowName>
        <inputAssignments>
            <name>importAsset</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>importAssetIDLs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstAssetUsage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>lstImportAssets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ImportAssets__c</objectType>
    </variables>
    <variables>
        <name>newImportAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ImportAssets__c</objectType>
    </variables>
</Flow>
