force-app/main/default/flows/ImportOrder_FixRecord.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Automatically try and fix all related import orders</description>
        <name>ImportOrder_RerunFailedBatch</name>
        <label>ImportOrder_RerunFailedBatch</label>
        <locationX>974</locationX>
        <locationY>1556</locationY>
        <actionName>ImportOrder_RerunFailedBatch</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>FixedScreen</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>allOrSpecificRun</name>
            <value>
                <stringValue>Specific</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>externalOrderId</name>
            <value>
                <elementReference>Get_ImportOrder.ExternalOrderId__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ImportOrder_RerunFailedBatch</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Can_Edit_Account_Info</name>
        <label>Can Edit Account Info</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>bCanEditAccountInfo</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fix_ImportOrder_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Can_Edit_Email_Info</name>
        <label>Can Edit Email Info</label>
        <locationX>1370</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>bCanEditEmailInfo</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fix_ImportOrder_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Can_Edit_Product_Info</name>
        <label>Can Edit Product Info</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>bCanEditProductInfo</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fix_ImportOrder_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Can_Edit_Reference_Info</name>
        <label>Can Edit Reference Info</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>bCanEditReferenceInfo</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fix_ImportOrder_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Start the flow again, but as the header</description>
        <name>Change_recordId_to_Header_Id</name>
        <label>Change recordId to Header Id</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>previousRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Header_Import_Order.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_ImportOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Retrigger_Label</name>
        <label>Set Retrigger Label</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>bRetriggerLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fix_ImportOrder_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_of_ImportOrder_To_Pending</name>
        <label>Set Status of ImportOrder To Pending</label>
        <locationX>842</locationX>
        <locationY>1124</locationY>
        <assignmentItems>
            <assignToReference>Get_ImportOrder.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_ImportOrder.Error__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bRetriggerLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_ImportOrder</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_the_status_of_the_Header</name>
        <label>Check the status of the Header</label>
        <locationX>710</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Set_Retrigger_Label</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Header_still_needs_to_be_fixed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Header_Import_Order.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Error</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Header_Still_Needs_to_Be_Fixed</targetReference>
            </connector>
            <label>Header still needs to be fixed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_the_ImportOrder_Fixed</name>
        <label>Was the ImportOrder Fixed?</label>
        <locationX>842</locationX>
        <locationY>1448</locationY>
        <defaultConnector>
            <targetReference>ImportOrder_RerunFailedBatch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Fixed_ImportOrder.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Error</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ImportOrder_Not_Fixed</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_error_does_the_ImportOrder_have</name>
        <label>What error does the ImportOrder have?</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>NoErrorScr</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bill_to_Ship_to_value_cannot_be_empty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_ImportOrder.Error__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bill to/ Ship to value cannot be empty</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_ImportOrder.Error__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bill to/ Ship to value cannot be empty or could not be found</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Can_Edit_Account_Info</targetReference>
            </connector>
            <label>Bill to/ Ship to value cannot be empty</label>
        </rules>
        <rules>
            <name>Product_is_inactive_on_Pricebook</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_ImportOrder.Error__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product is inactive on Pricebook</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_ImportOrder.Error__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product Does not exist in Pricebook</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Can_Edit_Product_Info</targetReference>
            </connector>
            <label>Product is inactive on Pricebook</label>
        </rules>
        <rules>
            <name>No_Order_Found_for_the_provided_reference</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ImportOrder.Error__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Order Found for the provided reference</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Header_Import_Order</targetReference>
            </connector>
            <label>No Order Found for the provided reference</label>
        </rules>
        <rules>
            <name>Order_Reference_too_long</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ImportOrder.Error__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>STRING_TOO_LONG: Order Reference</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Can_Edit_Reference_Info</targetReference>
            </connector>
            <label>Order Reference too long</label>
        </rules>
        <rules>
            <name>Digital_Activation_Email_not_valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ImportOrder.Error__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>This error occurred when the flow tried to create records: INVALID_EMAIL_ADDRESS: Digital Activation Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Can_Edit_Email_Info</targetReference>
            </connector>
            <label>Digital Activation Email not valid</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ImportOrder_FixRecord {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ImportOrder_FixRecord</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Fixed_ImportOrder</name>
        <label>Get Fixed ImportOrder</label>
        <locationX>842</locationX>
        <locationY>1340</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_the_ImportOrder_Fixed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ImportOrder__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Header_Import_Order</name>
        <label>Get Header Import Order</label>
        <locationX>710</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_the_status_of_the_Header</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ExternalOrderId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_ImportOrder.ExternalOrderId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ImportOrder__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ImportOrder</name>
        <label>Get  ImportOrder</label>
        <locationX>842</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_error_does_the_ImportOrder_have</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ImportOrder__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_ImportOrder</name>
        <label>Update ImportOrder</label>
        <locationX>842</locationX>
        <locationY>1232</locationY>
        <connector>
            <targetReference>Get_Fixed_ImportOrder</targetReference>
        </connector>
        <inputReference>Get_ImportOrder</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Fix_ImportOrder_Screen</name>
        <label>Fix ImportOrder Screen</label>
        <locationX>842</locationX>
        <locationY>1016</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Status_of_ImportOrder_To_Pending</targetReference>
        </connector>
        <fields>
            <name>plsFixLbl</name>
            <fieldText>&lt;p&gt;Please fix the following values so that this record can be processed successfully:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>bRetriggerLabel</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>retriggerLbl</name>
            <fieldText>&lt;p&gt;Clicking on &apos;Next&apos; will retrigger this import order.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>bRetriggerLabel</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Fix_ImportOrder_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fix_ImportOrder_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>accInfoLbl</name>
                    <fieldText>&lt;p&gt;&lt;em&gt;customerNo is the customer number for the billing account&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;deliveryIdLocation is the &lt;/em&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;customer number for the shipping account&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;invoiceIdLocation is the customer number for the billing account&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_ImportOrder.customerNo__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_ImportOrder.deliveryIdLocation__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_ImportOrder.invoiceIdLocation__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>bCanEditAccountInfo</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Fix_ImportOrder_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fix_ImportOrder_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>productLbl</name>
                    <fieldText>&lt;p&gt;&lt;em&gt;ProductId is the EAN of the product&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>bCanEditProductInfo</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_ImportOrder.ProductId__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>bCanEditProductInfo</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Fix_ImportOrder_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fix_ImportOrder_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>digActLbl</name>
                    <fieldText>&lt;p&gt;&lt;em&gt;Digital Activation Email is the Digital Activation Email for the product&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>bCanEditEmailInfo</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_ImportOrder.DigitalActivationEmail__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>bCanEditEmailInfo</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Fix_ImportOrder_Screen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fix_ImportOrder_Screen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>orderRefLbl</name>
                    <fieldText>&lt;p&gt;&lt;em&gt;orderRef is the Order Reference for the Order&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>bCanEditReferenceInfo</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_ImportOrder.orderRef__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>bCanEditReferenceInfo</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FixedScreen</name>
        <label>FixedScreen</label>
        <locationX>974</locationX>
        <locationY>1664</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ImportOrderFixedLbl</name>
            <fieldText>&lt;p&gt;The import order has been fixed, and a process has been kicked-off to try and fix the related import orders.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ImportOrder_Not_Fixed</name>
        <label>ImportOrder Not Fixed</label>
        <locationX>710</locationX>
        <locationY>1556</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_ImportOrder</targetReference>
        </connector>
        <fields>
            <name>notFixedLbl</name>
            <fieldText>&lt;p&gt;The import order was not fixed. Please try again.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Error Message: &lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!Get_Fixed_ImportOrder.Error__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoErrorScr</name>
        <label>NoErrorScr</label>
        <locationX>1634</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dpTextNoError</name>
            <fieldText>&lt;p&gt;Either this import order does not have an error, or the error scenario is not yet catered to by this solution. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Order_Header_Still_Needs_to_Be_Fixed</name>
        <label>Order Header Still Needs to Be Fixed</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Change_recordId_to_Header_Id</targetReference>
        </connector>
        <fields>
            <name>headerLbl</name>
            <fieldText>&lt;p&gt;The order header for this product still needs to be fixed. Clicking on &quot;Next&quot; will start the process to fix the header.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_ImportOrder</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>bCanEditAccountInfo</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>bCanEditEmailInfo</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>bCanEditProductInfo</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>bCanEditReferenceInfo</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>bRetriggerLabel</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>previousRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
