force-app/main/default/flows/ImportProductHandler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Error</name>
        <label>Error</label>
        <locationX>3130</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>ImportedProduct.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ImportedProduct.Error__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed to insert product</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_ImportProduct</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_0</name>
        <label>Error</label>
        <locationX>2866</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>ImportedProduct.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ImportedProduct.Error__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Product created, but a relevant pricebook does not exist</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_ImportProduct</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_0_0</name>
        <label>Error</label>
        <locationX>2338</locationX>
        <locationY>1535</locationY>
        <assignmentItems>
            <assignToReference>ImportedProduct.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ImportedProduct.Error__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed to create pricebook entry</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_ImportProduct</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_0_0_0</name>
        <label>Error</label>
        <locationX>2602</locationX>
        <locationY>1415</locationY>
        <assignmentItems>
            <assignToReference>ImportedProduct.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ImportedProduct.Error__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed to create standard pricebook entry</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_ImportProduct</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_0_0_0_0</name>
        <label>Error</label>
        <locationX>1810</locationX>
        <locationY>1391</locationY>
        <assignmentItems>
            <assignToReference>ImportedProduct.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ImportedProduct.Error__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A relevant pricebook does not exist for the existing product</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_ImportProduct</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_0_0_0_0_0</name>
        <label>Error</label>
        <locationX>1546</locationX>
        <locationY>2531</locationY>
        <assignmentItems>
            <assignToReference>ImportedProduct.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ImportedProduct.Error__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed to create pricebook entry for existing product</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_ImportProduct</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_0_0_0_0_0_0</name>
        <label>Error</label>
        <locationX>314</locationX>
        <locationY>1991</locationY>
        <assignmentItems>
            <assignToReference>ImportedProduct.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ImportedProduct.Error__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed to update pricebook entry for existing product</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_ImportProduct</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_0_0_0_0_0_0_0</name>
        <label>Error</label>
        <locationX>1282</locationX>
        <locationY>2111</locationY>
        <assignmentItems>
            <assignToReference>ImportedProduct.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ImportedProduct.Error__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed to create standard pricebook entry for existing product</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_ImportProduct</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Product_Created</name>
        <label>Product Created</label>
        <locationX>2470</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>ImportedProduct.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Product</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_PriceBook</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ImportedProduct</name>
        <label>Set ImportedProduct</label>
        <locationX>1843</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>ImportedProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Price</name>
        <label>Set New Price</label>
        <locationX>50</locationX>
        <locationY>1751</locationY>
        <assignmentItems>
            <assignToReference>Get_Pricebook_Entry.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ImportedProduct.NetPrice__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Pricebook_Entry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Product</name>
        <label>Set Product</label>
        <locationX>1216</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>ImportedProduct.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Product_Info_Needs_to_be_Updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Success</name>
        <label>Success</label>
        <locationX>2074</locationX>
        <locationY>1535</locationY>
        <assignmentItems>
            <assignToReference>ImportedProduct.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ImportedProduct.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Product</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_ImportProduct</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Success_0</name>
        <label>Success</label>
        <locationX>50</locationX>
        <locationY>1991</locationY>
        <assignmentItems>
            <assignToReference>ImportedProduct.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Success_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Success_0_0</name>
        <label>Success</label>
        <locationX>578</locationX>
        <locationY>1751</locationY>
        <assignmentItems>
            <assignToReference>ImportedProduct.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ImportedProduct.Error__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Nothing to update</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Success_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Success_0_0_0</name>
        <label>Success</label>
        <locationX>622</locationX>
        <locationY>2831</locationY>
        <assignmentItems>
            <assignToReference>ImportedProduct.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_ImportProduct</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Success_0_0_0_0</name>
        <label>Success</label>
        <locationX>930</locationX>
        <locationY>2531</locationY>
        <assignmentItems>
            <assignToReference>ImportedProduct.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Success_0_0_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Product_Info_Needs_to_be_Updated</name>
        <label>Check if Product Info Needs to be Updated</label>
        <locationX>1216</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Get_PriceBook_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_ProductNeedsUpdate</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product.EAN__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ImportedProduct.EANCode__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Product.ISBN__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ImportedProduct.ISBN__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Product.Weight__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ImportedProduct.Weight__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Product</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_The_Price_Changed</name>
        <label>Has The Price Changed</label>
        <locationX>314</locationX>
        <locationY>1631</locationY>
        <defaultConnector>
            <targetReference>Success_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True_PriceHasChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ImportedProduct.NetPrice__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Pricebook_Entry.UnitPrice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_New_Price</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pricebook_Entry_Exists</name>
        <label>Pricebook Entry Exists</label>
        <locationX>622</locationX>
        <locationY>1511</locationY>
        <defaultConnector>
            <targetReference>Get_StandardPriceBook_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True_PriceBEExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Pricebook_Entry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_The_Price_Changed</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pricebook_Exists</name>
        <label>Pricebook Exists</label>
        <locationX>2470</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Error_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True_PricebookExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PriceBook</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_StandardPriceBook</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pricebook_Exists_0</name>
        <label>Pricebook Exists</label>
        <locationX>1216</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>Error_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True_PricebookExists_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PriceBook_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Pricebook_Entry</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Already_Exists</name>
        <label>Product Already Exists</label>
        <locationX>1843</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Create_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TrueProductExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Product</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Standard_Pricebook_Entry_Exists</name>
        <label>Standard Pricebook Entry Exists?</label>
        <locationX>930</locationX>
        <locationY>1871</locationY>
        <defaultConnector>
            <targetReference>Create_Standard_Pricebook_Entry_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True_StandardPricebookEntryExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Standard_Pricebook_Entry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Pricebook_Entry_0</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>productPriceYear</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!ImportedProduct.StartDate__c}))</expression>
    </formulas>
    <interviewLabel>Import Product Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Import Product Handler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Pricebook_Entry</name>
        <label>Create Pricebook Entry</label>
        <locationX>2074</locationX>
        <locationY>1415</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_PriceBook.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Create_Product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subsidiary__c</field>
            <value>
                <stringValue>Noordhoff</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>ImportedProduct.NetPrice__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UseStandardPrice</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Pricebook_Entry_0</name>
        <label>Create Pricebook Entry</label>
        <locationX>930</locationX>
        <locationY>2411</locationY>
        <connector>
            <targetReference>Success_0_0_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_0_0_0_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_PriceBook_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Get_Product.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subsidiary__c</field>
            <value>
                <stringValue>Noordhoff</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>ImportedProduct.NetPrice__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UseStandardPrice</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Product</name>
        <label>Create Product</label>
        <locationX>2470</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Product_Created</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ArticleGroupName__c</field>
            <value>
                <elementReference>ImportedProduct.ArticleGroupName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AvailabilityStatus__c</field>
            <value>
                <elementReference>ImportedProduct.AvailabilityStatus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AvailabilityText__c</field>
            <value>
                <elementReference>ImportedProduct.Availability__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>ImportedProduct.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EAN__c</field>
            <value>
                <elementReference>ImportedProduct.EANCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EditionID__c</field>
            <value>
                <elementReference>ImportedProduct.EditionID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EditionNumber__c</field>
            <value>
                <elementReference>ImportedProduct.EditionNo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISBN__c</field>
            <value>
                <elementReference>ImportedProduct.ISBN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ImpressionID__c</field>
            <value>
                <elementReference>ImportedProduct.ImpressionID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medium__c</field>
            <value>
                <elementReference>ImportedProduct.Medium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ImportedProduct.Title__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductCode</field>
            <value>
                <elementReference>ImportedProduct.TitleID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Projectnumber__c</field>
            <value>
                <elementReference>ImportedProduct.ProjectNoEdition__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PublicationDate__c</field>
            <value>
                <elementReference>ImportedProduct.PublicationDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PublishingHouseDepartment__c</field>
            <value>
                <elementReference>ImportedProduct.PublishingHouseDepartment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PublishingHouse__c</field>
            <value>
                <elementReference>ImportedProduct.PublishingHouse__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShortTitle__c</field>
            <value>
                <elementReference>ImportedProduct.ShortTitle__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subsidiary__c</field>
            <value>
                <stringValue>Noordhoff</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit__c</field>
            <value>
                <elementReference>ImportedProduct.Unit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weight__c</field>
            <value>
                <elementReference>ImportedProduct.Weight__c</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Standard_Pricebook_Entry</name>
        <label>Create Standard Pricebook Entry</label>
        <locationX>2074</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Create_Pricebook_Entry</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_0_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_StandardPriceBook.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Create_Product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subsidiary__c</field>
            <value>
                <stringValue>Noordhoff</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>ImportedProduct.NetPrice__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UseStandardPrice</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Standard_Pricebook_Entry_0</name>
        <label>Create Standard Pricebook Entry</label>
        <locationX>1018</locationX>
        <locationY>1991</locationY>
        <connector>
            <targetReference>Create_Pricebook_Entry_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_StandardPriceBook_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Get_Product.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subsidiary__c</field>
            <value>
                <stringValue>Noordhoff</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>ImportedProduct.NetPrice__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UseStandardPrice</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_PriceBook</name>
        <label>Get PriceBook</label>
        <locationX>2470</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pricebook_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Subsidiary__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Noordhoff</stringValue>
            </value>
        </filters>
        <filters>
            <field>EndDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ImportedProduct.EndDate__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>productPriceYear</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PriceBook_0</name>
        <label>Get PriceBook</label>
        <locationX>1216</locationX>
        <locationY>1151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pricebook_Exists_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Subsidiary__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Noordhoff</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>productPriceYear</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pricebook_Entry</name>
        <label>Get Pricebook Entry</label>
        <locationX>622</locationX>
        <locationY>1391</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pricebook_Entry_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_PriceBook_0.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Product.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product</name>
        <label>Get Product</label>
        <locationX>1843</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_Already_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ImportedProduct.TitleID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ISBN__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ImportedProduct.ISBN__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>EAN__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ImportedProduct.EANCode__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>EditionID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ImportedProduct.EditionID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ImportedProduct.Title__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Standard_Pricebook_Entry</name>
        <label>Get Standard Pricebook Entry</label>
        <locationX>930</locationX>
        <locationY>1751</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Standard_Pricebook_Entry_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_StandardPriceBook_0.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Product.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_StandardPriceBook</name>
        <label>Get Standard PriceBook</label>
        <locationX>2074</locationX>
        <locationY>1175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Standard_Pricebook_Entry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_StandardPriceBook_0</name>
        <label>Get Standard PriceBook</label>
        <locationX>930</locationX>
        <locationY>1631</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Standard_Pricebook_Entry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_ImportProduct</name>
        <label>Update ImportProduct</label>
        <locationX>1843</locationX>
        <locationY>3143</locationY>
        <inputReference>ImportedProduct</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Pricebook_Entry</name>
        <label>Update Pricebook Entry</label>
        <locationX>50</locationX>
        <locationY>1871</locationY>
        <connector>
            <targetReference>Success_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <inputReference>Get_Pricebook_Entry</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Product</name>
        <label>Update Product</label>
        <locationX>1084</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Get_PriceBook_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Product.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EAN__c</field>
            <value>
                <elementReference>ImportedProduct.EANCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISBN__c</field>
            <value>
                <elementReference>ImportedProduct.ISBN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weight__c</field>
            <value>
                <elementReference>ImportedProduct.Weight__c</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <start>
        <locationX>1717</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_ImportedProduct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <object>ImportProduct__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ImportedProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ImportProduct__c</objectType>
    </variables>
</Flow>
