force-app/main/default/flows/ImportOrderHandlerGetAccountSubflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_B2B_Location_Order_Account</name>
        <label>Assign B2B Location Order Account</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>sov_OrderAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_B2B_Shop_Location</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_B2B_Location_Order_Account_OldCustomerNo</name>
        <label>Assign B2B Location Order Account OldCustomerNo</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>sov_OrderAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>B2B_Shop_Location_OldCustomerNumberNo</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_B2B_Order_Account</name>
        <label>Assign B2B Order Account</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>sov_OrderAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_B2B</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Depot_Tender_Order_Account</name>
        <label>Assign Depot/Tender Order Account</label>
        <locationX>1898</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>sov_OrderAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Depot_Tender_Account</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_eCom_Private_Order_Account</name>
        <label>Assign eCom Private Order Account</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>sov_OrderAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Private_Account</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Non_Private_Order_Account</name>
        <label>Assign Non Private Order Account</label>
        <locationX>1370</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>sov_OrderAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Non_Private_Account</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Order_Form_Order_Account</name>
        <label>Assign Order Form Order Account</label>
        <locationX>2162</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>sov_OrderAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Form_Account</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Trade_Order_Account</name>
        <label>Assign Trade Order Account</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>sov_OrderAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Trade</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Find_By_Identifier</name>
        <label>Find By Identifier</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>B2B_Shop_Location_OldCustomerNumberNo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CustomerNo_KlopotekId</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>sov_ImportOrderLocation.CustomerNumber__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_ImportOrderLocation.KlopotekId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_B2B_Shop_Location</targetReference>
            </connector>
            <label>CustomerNo+KlopotekId</label>
        </rules>
    </decisions>
    <decisions>
        <name>GetAccountBySource</name>
        <label>Get Account By Source</label>
        <locationX>1238</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Trade</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.Source__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Trade</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ImportOrderCustomerIdentifier</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Trade</targetReference>
            </connector>
            <label>Trade</label>
        </rules>
        <rules>
            <name>B2B_Shop</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B2B Shop</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ImportOrderCustomerIdentifier</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_ImportOrderLocation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Use_Import_Order_Location_B2B</targetReference>
            </connector>
            <label>B2B Shop</label>
        </rules>
        <rules>
            <name>eCommerce_B2B_Salesforce</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>eCommerce B2C</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>eCommerce B2B</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B2B Salesforce</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Studiemeister</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Private_Individual</targetReference>
            </connector>
            <label>eCommerce/B2B Salesforce</label>
        </rules>
        <rules>
            <name>Depot_Tender</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>ImportOrderCustomerIdentifier</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Depot</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tender</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Depot_Tender_Account</targetReference>
            </connector>
            <label>Depot/Tender</label>
        </rules>
        <rules>
            <name>Order_Form</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order Form</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order_Form_Account</targetReference>
            </connector>
            <label>Order Form</label>
        </rules>
    </decisions>
    <decisions>
        <name>Private_Individual</name>
        <label>Private Individual</label>
        <locationX>1370</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Private</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.customerOrderType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>private</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Private_Individual_Record_Type</targetReference>
            </connector>
            <label>Private</label>
        </rules>
        <rules>
            <name>Non_Private_B2B_Salesforce</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.customerOrderType__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>private</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ImportOrderCustomerIdentifier</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Non_Private_Account</targetReference>
            </connector>
            <label>Non Private/B2B Salesforce</label>
        </rules>
    </decisions>
    <decisions>
        <name>Use_Import_Order_Location_B2B</name>
        <label>Use Import Order Location B2B</label>
        <locationX>644</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Account_B2B</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_NetsuiteOrder.UseImportOrderLocation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_ImportOrderLocation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_By_Identifier</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Subflow for Import Order Handler

CH: 28/08/2023 added operating company check for private individual
DB: 13/09/2039 added Source Studiemeister (same decision route as eCommerce B2C)</description>
    <environments>Default</environments>
    <formulas>
        <name>forEcinNumberMatch</name>
        <dataType>String</dataType>
        <expression>&quot;[&quot;&amp;{!ImportOrderCustomerIdentifier}&amp;&quot;]&quot;</expression>
    </formulas>
    <formulas>
        <name>form_OperatingCompany</name>
        <dataType>String</dataType>
        <expression>IF({!sov_NetsuiteOrder.OperatingCompany__c}=&apos;Noordhoff Professional&apos;, &apos;Noordhoff&apos;, {!sov_NetsuiteOrder.OperatingCompany__c})</expression>
    </formulas>
    <formulas>
        <name>OldCustomerNumber_Formula</name>
        <dataType>Number</dataType>
        <expression>VALUE({!sov_ImportOrderLocation.CustomerNumber__c})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Import Order Handler Get Account Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Import Order Handler Get Account Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>B2B_Shop_Location_OldCustomerNumberNo</name>
        <label>B2B Shop Location OldCustomerNumberNo</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_B2B_Location_Order_Account_OldCustomerNo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OldCustomerNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OldCustomerNumber_Formula</elementReference>
            </value>
        </filters>
        <filters>
            <field>OperatingCompany__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>form_OperatingCompany</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_B2B</name>
        <label>Get Account B2B</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_B2B_Order_Account</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND 4</filterLogic>
        <filters>
            <field>NetsuiteCustomerNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ImportOrderCustomerIdentifier</elementReference>
            </value>
        </filters>
        <filters>
            <field>CustomerNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ImportOrderCustomerIdentifier</elementReference>
            </value>
        </filters>
        <filters>
            <field>OperatingCompany__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>form_OperatingCompany</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_B2B_Shop_Location</name>
        <label>Get Account B2B Shop Location</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_B2B_Location_Order_Account</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND 4</filterLogic>
        <filters>
            <field>KlopotekId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_ImportOrderLocation.KlopotekId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OldCustomerNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OldCustomerNumber_Formula</elementReference>
            </value>
        </filters>
        <filters>
            <field>OperatingCompany__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>form_OperatingCompany</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Trade</name>
        <label>Get Account (Trade)</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Trade_Order_Account</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6 OR (7 AND 8)) AND 9 AND 10</filterLogic>
        <filters>
            <field>WholeSalerId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ImportOrderCustomerIdentifier</elementReference>
            </value>
        </filters>
        <filters>
            <field>WholeSalerId2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ImportOrderCustomerIdentifier</elementReference>
            </value>
        </filters>
        <filters>
            <field>NetsuiteCustomerNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ImportOrderCustomerIdentifier</elementReference>
            </value>
        </filters>
        <filters>
            <field>EcinNumberMatch__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>forEcinNumberMatch</elementReference>
            </value>
        </filters>
        <filters>
            <field>KlopotekNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ImportOrderCustomerIdentifier</elementReference>
            </value>
        </filters>
        <filters>
            <field>WarehouseReference__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ImportOrderCustomerIdentifier</elementReference>
            </value>
        </filters>
        <filters>
            <field>ExternalCustomerId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ImportOrderCustomerIdentifier</elementReference>
            </value>
        </filters>
        <filters>
            <field>ExternalDatabase__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>La Banque du Livre</stringValue>
            </value>
        </filters>
        <filters>
            <field>OperatingCompany__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>form_OperatingCompany</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Depot_Tender_Account</name>
        <label>Get Depot/Tender Account</label>
        <locationX>1898</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Depot_Tender_Order_Account</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND 4</filterLogic>
        <filters>
            <field>NetsuiteCustomerNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ImportOrderCustomerIdentifier</elementReference>
            </value>
        </filters>
        <filters>
            <field>CustomerNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ImportOrderCustomerIdentifier</elementReference>
            </value>
        </filters>
        <filters>
            <field>OperatingCompany__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>form_OperatingCompany</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Non_Private_Account</name>
        <label>Get Non Private Account</label>
        <locationX>1370</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Non_Private_Order_Account</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3 OR 4) AND 5 AND 6</filterLogic>
        <filters>
            <field>NetsuiteCustomerNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ImportOrderCustomerIdentifier</elementReference>
            </value>
        </filters>
        <filters>
            <field>CustomerNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ImportOrderCustomerIdentifier</elementReference>
            </value>
        </filters>
        <filters>
            <field>KlopotekNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ImportOrderCustomerIdentifier</elementReference>
            </value>
        </filters>
        <filters>
            <field>KlopotekId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ImportOrderCustomerIdentifier</elementReference>
            </value>
        </filters>
        <filters>
            <field>OperatingCompany__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>form_OperatingCompany</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Form_Account</name>
        <label>Get Order Form Account</label>
        <locationX>2162</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Order_Form_Order_Account</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3) AND 4 AND 5</filterLogic>
        <filters>
            <field>KlopotekNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ImportOrderCustomerIdentifier</elementReference>
            </value>
        </filters>
        <filters>
            <field>NetsuiteCustomerNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ImportOrderCustomerIdentifier</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ImportOrderCustomerIdentifier</elementReference>
            </value>
        </filters>
        <filters>
            <field>OperatingCompany__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>form_OperatingCompany</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Private_Account</name>
        <label>Get Private Account</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_eCom_Private_Order_Account</targetReference>
        </connector>
        <filterLogic>((1 AND 4) OR (3 AND 2)) AND 5 AND 6</filterLogic>
        <filters>
            <field>NetsuiteCustomerNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ImportOrderCustomerIdentifier</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_NetsuiteOrder.UserEmail__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Private_Individual_Record_Type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>NetsuiteCustomerNumber__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OperatingCompany__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>form_OperatingCompany</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Private_Individual_Record_Type</name>
        <label>Get Private Individual Record Type</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Private_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>B2C_Private_Individuals</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1112</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetAccountBySource</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ImportOrderCustomerIdentifier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>sov_ImportOrderLocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ImportOrderLocation__c</objectType>
    </variables>
    <variables>
        <name>sov_NetsuiteOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ImportOrder__c</objectType>
    </variables>
    <variables>
        <name>sov_OrderAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
