force-app/main/default/flows/InteractionLead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_interaction_values</name>
        <label>Assign interaction values</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>sov_Interaction.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_Lead.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Interaction.Asset__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Interaction.Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_Lead.Campaign__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Interaction.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_Lead.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Interaction.Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_Lead.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Interaction.Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_Lead.Method__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Interaction.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_Lead.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Interaction.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_Lead.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Interaction.Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_Lead.Message__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Interaction.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_FullName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_interaction_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_interaction_values_0</name>
        <label>Assign interaction values</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>sov_Interaction.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Interaction.Asset__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Interaction.Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_Lead.Campaign__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Interaction.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Interaction.Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_Lead.Method__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Interaction.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Interaction.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_Product</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Interaction.Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_Lead.Message__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Interaction.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_FullName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_interaction</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Interaction_Found</name>
        <label>Interaction Found</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Assign_interaction_values_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Interaction</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_interaction_values</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsRelatedContactInactive</name>
        <label>Is related Contact inactive?</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RelatedContactIsInactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Interaction.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_Interaction.Contact__r.IsInactive__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MakeRelatedContactActive</targetReference>
            </connector>
            <label>Related Contact Is inactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_interaction</name>
        <label>Lead interaction</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_interaction_record</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <description>15/03/2023 DB: Removed Get Leads element to reduce queries. Lead record is passed in.</description>
    <environments>Default</environments>
    <formulas>
        <name>form_Account</name>
        <dataType>String</dataType>
        <expression>IF({!var_ConvertedAccount.Id} = null, {!sov_Lead.Account__c},{!var_ConvertedAccount.Id})</expression>
    </formulas>
    <formulas>
        <name>form_Contact</name>
        <dataType>String</dataType>
        <expression>IF({!var_ConvertedContact.Id} = null, {!sov_Lead.Contact__c},{!var_ConvertedContact.Id})</expression>
    </formulas>
    <formulas>
        <name>form_FullName</name>
        <dataType>String</dataType>
        <expression>{!sov_Lead.FirstName} + &quot; &quot; + {!sov_Lead.LastName}</expression>
    </formulas>
    <formulas>
        <name>form_Opportunity</name>
        <dataType>String</dataType>
        <expression>IF({!var_ConvertedOpportunity.Id} = null, {!sov_Lead.Opportunity__c},{!var_ConvertedOpportunity.Id})</expression>
    </formulas>
    <formulas>
        <name>form_Product</name>
        <dataType>String</dataType>
        <expression>IF({!var_ConvertedProduct.Id} = null, {!sov_Lead.Product__c},{!var_ConvertedProduct.Id})</expression>
    </formulas>
    <interviewLabel>Interaction Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Interaction Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_interaction_record</name>
        <label>Create interaction record</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>IsRelatedContactInactive</targetReference>
        </connector>
        <inputReference>sov_Interaction</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_interaction_record</name>
        <label>Get interaction record</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Interaction_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Lead.Id</elementReference>
            </value>
        </filters>
        <object>Interaction__c</object>
        <outputReference>sov_Interaction</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Asset__c</queriedFields>
        <queriedFields>Campaign__c</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Lead__c</queriedFields>
        <queriedFields>Method__c</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>Product__c</queriedFields>
        <queriedFields>Message__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>MakeRelatedContactActive</name>
        <label>Make related Contact active</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Interaction.Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsInactive__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_interaction</name>
        <label>Update interaction</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>IsRelatedContactInactive</targetReference>
        </connector>
        <inputReference>sov_Interaction</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Lead_interaction</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>sov_Interaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Interaction__c</objectType>
    </variables>
    <variables>
        <name>sov_Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>var_ConvertedAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>var_ConvertedContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>var_ConvertedOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>var_ConvertedProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
</Flow>
