force-app/main/default/flows/Lead_After_Save_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_interaction_to_list_to_update</name>
        <label>Add interaction to list to update</label>
        <locationX>270</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>InteractionsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_through_each_interaction</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_each_interaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_on_Interaction</name>
        <label>Set Opportunity on Interaction</label>
        <locationX>270</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>Iterate_through_each_interaction.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead_Record.ConvertedOpportunityId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_interaction_to_list_to_update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_there_interactions_to_update</name>
        <label>Are there interactions to update?</label>
        <locationX>182</locationX>
        <locationY>1655</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_UpdateInteractions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InteractionsToUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Interactions</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_the_opportunity_need_to_be_set_on_the_interaction</name>
        <label>Does the opportunity need to be set on the interaction?</label>
        <locationX>402</locationX>
        <locationY>1163</locationY>
        <defaultConnector>
            <targetReference>Iterate_through_each_interaction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Interaction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_through_each_interaction.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead_Record.ConvertedOpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opportunity_on_Interaction</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Modify_Interact_with_Lead</name>
        <label>Modify/Interact with Lead</label>
        <locationX>776</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_Opportunity_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ConvertedOpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Update_Converted_LeadOpportunity</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Converted_LeadOpportunity</targetReference>
            </connector>
            <label>Set Opportunity Date</label>
        </rules>
        <rules>
            <name>Interaction_create_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadInteractionFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Interaction_Lead_Flow</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Interaction_Lead_Flow</targetReference>
            </connector>
            <label>Interaction create/update</label>
        </rules>
        <rules>
            <name>Auto_Convert</name>
            <conditionLogic>1 AND (2 OR 3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AutoConvert__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In process</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MQL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Auto_Convert_Flow</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Auto_Convert_Flow</targetReference>
            </connector>
            <label>Auto Convert</label>
        </rules>
        <rules>
            <name>Set_No_Students</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Account_Data</targetReference>
            </connector>
            <label>Set No Students</label>
        </rules>
    </decisions>
    <decisions>
        <name>Needs_to_update_opportunity_on_lead</name>
        <label>Needs to update opportunity on lead</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Get_Lead_Interactions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead_Record.ConvertedOpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>12/06/2023 JK: Addes Calculation of Number of Students (Taken from Account)
15/03/2023 DB: Added Get Lead query to reduce Lead queries in subflows
16/02/2023 CH: Added logic to set missing Opp on Lead and Interactions</description>
    <environments>Default</environments>
    <formulas>
        <name>CloseDateFormula</name>
        <dataType>Date</dataType>
        <expression>IF(
    NOT(ISBLANK(TEXT({!Get_Lead_Record.Sales_season__c}))),
    DATE(VALUE(RIGHT(TEXT({!Get_Lead_Record.Sales_season__c}), 4)),07,31),
    IF(
        TODAY() &lt; DATE(YEAR(TODAY()),07,31), 
        DATE(Year(TODAY()),07,31),
        DATE(Year(TODAY())+1,07,31)
    )
)</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>LeadInteractionFormula</name>
        <dataType>Boolean</dataType>
        <expression>OR(
ISNEW(),
ISCHANGED({!$Record.Account__c}),
ISCHANGED({!$Record.Campaign__c}),
ISCHANGED({!$Record.Opportunity__c}),
ISCHANGED({!$Record.Contact__c}),
ISCHANGED({!$Record.Product__c}),
ISCHANGED({!$Record.Message__c})
)</expression>
    </formulas>
    <interviewLabel>Lead - After Save Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - After Save Update</label>
    <loops>
        <name>Iterate_through_each_interaction</name>
        <label>Iterate through each interaction</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <collectionReference>Get_Lead_Interactions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_the_opportunity_need_to_be_set_on_the_interaction</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Are_there_interactions_to_update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Account_Data</name>
        <label>get Account Data</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Number_of_Students</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_Interactions</name>
        <label>Get Lead Interactions</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_each_interaction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead_Record.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Interaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_Record</name>
        <label>Get Lead Record</label>
        <locationX>776</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Modify_Interact_with_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Number_of_Students</name>
        <label>Set Number of Students</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>NumberOfEmployees</field>
            <value>
                <elementReference>get_Account_Data.NumberofStudents__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Converted_LeadOpportunity</name>
        <label>Update Converted LeadOpportunity</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Needs_to_update_opportunity_on_lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead_Record.ConvertedOpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>OperatingCompany__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Plantyn</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDateFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Interactions</name>
        <label>Update Interactions</label>
        <locationX>50</locationX>
        <locationY>1763</locationY>
        <inputReference>InteractionsToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Get_Lead_Interactions</targetReference>
        </connector>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Get_Lead_Record.ConvertedOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lead_Record</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Auto_Convert_Flow</name>
        <label>Auto Convert Flow</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Modify_Interact_with_Lead</targetReference>
        </connector>
        <flowName>AutoConvert</flowName>
        <inputAssignments>
            <name>sov_Lead</name>
            <value>
                <elementReference>Get_Lead_Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Interaction_Lead_Flow</name>
        <label>Interaction Lead Flow</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Modify_Interact_with_Lead</targetReference>
        </connector>
        <flowName>InteractionLead</flowName>
        <inputAssignments>
            <name>sov_Lead</name>
            <value>
                <elementReference>Get_Lead_Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>InteractionsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Interaction__c</objectType>
    </variables>
</Flow>
