force-app/main/default/flows/Lead_before_delete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Contact</name>
        <label>Assign Contact</label>
        <locationX>754</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Matched_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Matched_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_updateSet</name>
        <label>Assign to updateSet</label>
        <locationX>654</locationX>
        <locationY>2411</locationY>
        <assignmentItems>
            <assignToReference>InteractionsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Interactions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Interactions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_updateSet_Campaigns</name>
        <label>Assign to updateSet</label>
        <locationX>654</locationX>
        <locationY>3119</locationY>
        <assignmentItems>
            <assignToReference>CampaignMembersToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_CampaignMembers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_CampaignMembers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_UpdateSet_PrivacyPermissions</name>
        <label>Assign to UpdateSet</label>
        <locationX>654</locationX>
        <locationY>3827</locationY>
        <assignmentItems>
            <assignToReference>PrivacyPermissionsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_PrivactPermissiona</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_PrivactPermissiona</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contact_on_Campaign</name>
        <label>Set Contact on Campaign</label>
        <locationX>742</locationX>
        <locationY>2927</locationY>
        <assignmentItems>
            <assignToReference>Loop_CampaignMembers.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_updateSet_Campaigns</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contact_on_PrivacyPermission</name>
        <label>Set Contact on PrivacyPermission</label>
        <locationX>742</locationX>
        <locationY>3635</locationY>
        <assignmentItems>
            <assignToReference>Loop_PrivactPermissiona.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_UpdateSet_PrivacyPermissions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ContactId</name>
        <label>Set ContactId</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ContactId2</name>
        <label>Set ContactId</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ConvertedContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ContactId_new_Contact</name>
        <label>Set ContactId</label>
        <locationX>882</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RSV_NewContact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Interactions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Interaction_Contact</name>
        <label>Set Contact on Interaction</label>
        <locationX>742</locationX>
        <locationY>2111</locationY>
        <assignmentItems>
            <assignToReference>Loop_Interactions.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Message</name>
        <label>Set Message</label>
        <locationX>654</locationX>
        <locationY>2303</locationY>
        <assignmentItems>
            <assignToReference>Loop_Interactions.Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_updateSet</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_new_Contact_Values</name>
        <label>Set new Contact Values</label>
        <locationX>882</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>RSV_NewContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RSV_NewContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RSV_NewContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RSV_NewContact.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RSV_NewContact.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RSV_NewContact.OperatingCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OperatingCompany__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RSV_NewContact.MailingAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Address</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_Address_on_Contact</name>
        <label>update Address on Contact</label>
        <locationX>50</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>Get_Contact.MailingAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Address</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Interactions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_MobilePhone_on_Contact</name>
        <label>update MobilePhone on Contact</label>
        <locationX>50</locationX>
        <locationY>1211</locationY>
        <assignmentItems>
            <assignToReference>Get_Contact.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Address_on_Lead_but_not_on_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_Phone_on_Contact</name>
        <label>update Phone on Contact</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>Get_Contact.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MobilePhone_on_Lead_but_not_on_Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Address_on_Lead_but_not_on_Contact</name>
        <label>Address on Lead but not on Contact?</label>
        <locationX>182</locationX>
        <locationY>1403</locationY>
        <defaultConnector>
            <targetReference>Get_Interactions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_address</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact.MailingAddress</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact.MailingAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Address</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Address</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Address_on_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_from_the_contact_field_or_conversion</name>
        <label>Contact from the contact field or conversion?</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Set_ContactId2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Conversion</defaultConnectorLabel>
        <rules>
            <name>Contact_Field</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Set_ContactId</targetReference>
            </connector>
            <label>Contact Field</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Match_found</name>
        <label>Contact Match found?</label>
        <locationX>774</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Set_new_Contact_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ContactMatch_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RCV_MatchedContacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Matched_Contacts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_we_have_a_Phone</name>
        <label>Phone on Lead but no on Contact?</label>
        <locationX>182</locationX>
        <locationY>803</locationY>
        <defaultConnector>
            <targetReference>MobilePhone_on_Lead_but_not_on_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Phone</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact.Phone</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Phone_on_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_the_lead_have_a_related_Contact</name>
        <label>Does the lead have a related Contact?</label>
        <locationX>478</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Find_Matching_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ConvertedContactId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Contact_from_the_contact_field_or_conversion</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_contactfield_filled</name>
        <label>Is the contactfield filled?</label>
        <locationX>654</locationX>
        <locationY>2003</locationY>
        <defaultConnector>
            <targetReference>Set_Interaction_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>InteractionContactYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Interactions.Contact__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Set_Message</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_Contactfield_filled_campaign</name>
        <label>Is the Contactfield filled?</label>
        <locationX>654</locationX>
        <locationY>2819</locationY>
        <defaultConnector>
            <targetReference>Set_Contact_on_Campaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>CampaignContactYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_CampaignMembers.ContactId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_to_updateSet_Campaigns</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_Contactfield_filled_PrivacyPermissions</name>
        <label>Is the Contactfield filled?</label>
        <locationX>654</locationX>
        <locationY>3527</locationY>
        <defaultConnector>
            <targetReference>Set_Contact_on_PrivacyPermission</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_PrivacyPermissions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_PrivactPermissiona.Contact__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_to_UpdateSet_PrivacyPermissions</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>MobilePhone_on_Lead_but_not_on_Contact</name>
        <label>MobilePhone on Lead but not on Contact?</label>
        <locationX>182</locationX>
        <locationY>1103</locationY>
        <defaultConnector>
            <targetReference>Address_on_Lead_but_not_on_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Mobile</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact.MobilePhone</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MobilePhone</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_MobilePhone_on_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_we_update_the_Contact</name>
        <label>Should we update the Contact?</label>
        <locationX>478</locationX>
        <locationY>4019</locationY>
        <defaultConnector>
            <targetReference>Update_Interations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nothing to Update</defaultConnectorLabel>
        <rules>
            <name>Yes_updateContact</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>update_Phone_on_Contact</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>update_MobilePhone_on_Contact</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>update_Address_on_Contact</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CreateMessage</name>
        <dataType>String</dataType>
        <expression>&apos;Lead with Id: &quot;&apos; &amp; {!Loop_Interactions.Id} &amp; &apos;&quot;, Status: &quot;&apos; &amp; {!Loop_Interactions.Status__c} &amp; &apos;, Source: &quot;&apos; &amp; {!Loop_Interactions.Source__c} &amp; &apos;&quot; and Segment: &quot;&apos; &amp; {!Loop_Interactions.Segment__c} &amp; &apos;&quot; has been Deleted.&apos;
&amp; IF({!Loop_Interactions.Message__c} != &apos;&apos;,&apos;Old message: &apos; &amp; {!Loop_Interactions.Message__c},&apos;&apos;)</expression>
    </formulas>
    <interviewLabel>Lead - before delete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - before delete</label>
    <loops>
        <name>Loop_CampaignMembers</name>
        <label>Loop CampaignMembers</label>
        <locationX>478</locationX>
        <locationY>2711</locationY>
        <collectionReference>Get_CampaignMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_the_Contactfield_filled_campaign</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_PrivacyPermissions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Interactions</name>
        <label>Loop Interactions</label>
        <locationX>478</locationX>
        <locationY>1895</locationY>
        <collectionReference>Get_Interactions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_the_contactfield_filled</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_CampaignMembers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Matched_Contacts</name>
        <label>Loop Matched Contacts</label>
        <locationX>666</locationX>
        <locationY>611</locationY>
        <collectionReference>RCV_MatchedContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Contact</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_PrivactPermissiona</name>
        <label>Loop PrivactPermissiona</label>
        <locationX>478</locationX>
        <locationY>3419</locationY>
        <collectionReference>Get_PrivacyPermissions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_the_Contactfield_filled_PrivacyPermissions</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Should_we_update_the_Contact</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Contact</name>
        <label>Create New Contact</label>
        <locationX>882</locationX>
        <locationY>719</locationY>
        <connector>
            <targetReference>Set_ContactId_new_Contact</targetReference>
        </connector>
        <inputReference>RSV_NewContact</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_CampaignMembers</name>
        <label>Get CampaignMembers</label>
        <locationX>478</locationX>
        <locationY>2603</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_CampaignMembers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Do_we_have_a_Phone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Interactions</name>
        <label>Get Interactions</label>
        <locationX>478</locationX>
        <locationY>1787</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Interactions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Interaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PrivacyPermissions</name>
        <label>Get PrivacyPermissions</label>
        <locationX>478</locationX>
        <locationY>3311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_PrivactPermissiona</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PrivacyPermission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_CampaignMembers</name>
        <label>Update CampaignMembers</label>
        <locationX>478</locationX>
        <locationY>4427</locationY>
        <connector>
            <targetReference>Update_PrivacyPermissions</targetReference>
        </connector>
        <inputReference>CampaignMembersToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>346</locationX>
        <locationY>4127</locationY>
        <connector>
            <targetReference>Update_Interations</targetReference>
        </connector>
        <inputReference>Get_Contact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Interations</name>
        <label>Update Interations</label>
        <locationX>478</locationX>
        <locationY>4319</locationY>
        <connector>
            <targetReference>Update_CampaignMembers</targetReference>
        </connector>
        <inputReference>InteractionsToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PrivacyPermissions</name>
        <label>Update PrivacyPermissions</label>
        <locationX>478</locationX>
        <locationY>4535</locationY>
        <inputReference>PrivacyPermissionsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>352</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Does_the_lead_have_a_related_Contact</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Find_Matching_Contacts</name>
        <label>Find Matching Contacts</label>
        <locationX>774</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Contact_Match_found</targetReference>
        </connector>
        <flowName>FindMatchingContacts_V2</flowName>
        <inputAssignments>
            <name>sov_Lead</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>RCV_MatchedContacts</assignToReference>
            <name>soc_Contacts</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>CampaignMembersToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Interactions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Interaction__c</objectType>
    </variables>
    <variables>
        <name>InteractionsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Interaction__c</objectType>
    </variables>
    <variables>
        <name>PrivacyPermissionsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PrivacyPermission__c</objectType>
    </variables>
    <variables>
        <name>RCV_MatchedContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>RSV_NewContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
