force-app/main/default/flows/MatchLeadsToProduct.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Method</name>
        <label>Assign Method</label>
        <locationX>182</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>sov_Lead.Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_Product.Method__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Product</name>
        <label>Assign Product</label>
        <locationX>468</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>var_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Product</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopProducts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopProducts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignLeadInformation</name>
        <label>Assign lead information</label>
        <locationX>710</locationX>
        <locationY>1070</locationY>
        <assignmentItems>
            <assignToReference>sov_Lead.AutoConvertProductMatchStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not found</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AssignLeadInformation_0</name>
        <label>Assign lead information</label>
        <locationX>50</locationX>
        <locationY>1070</locationY>
        <assignmentItems>
            <assignToReference>sov_Lead.AutoConvertProductMatchStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_Product.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_method_set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignLeadInformation_0_0</name>
        <label>Assign lead information</label>
        <locationX>446</locationX>
        <locationY>1070</locationY>
        <assignmentItems>
            <assignToReference>sov_Lead.AutoConvertProductMatchStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Multiple results</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_Product.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AssignLeadInformation_0_0_0</name>
        <label>Assign lead information</label>
        <locationX>974</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>sov_Lead.AutoConvertProductMatchStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unknown</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>HowManyProducts</name>
        <label>How many products?</label>
        <locationX>380</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>AssignLeadInformation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nothing Found</defaultConnectorLabel>
        <rules>
            <name>X1ProductFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignLeadInformation_0</targetReference>
            </connector>
            <label>1 Product Found</label>
        </rules>
        <rules>
            <name>MoreThan1Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Count</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignLeadInformation_0_0</targetReference>
            </connector>
            <label>More than 1 Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_lead_NH_Professional</name>
        <label>Is lead NH Professional?</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>GetProducts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NH_Prof</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Lead.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff Professional</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetProducts_0</targetReference>
            </connector>
            <label>NH Prof</label>
        </rules>
        <rules>
            <name>NH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Lead.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetProducts_0_0</targetReference>
            </connector>
            <label>NH</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_method_set</name>
        <label>Is method set?</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Assign_Method</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Product.Method__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsbnEanEmpty</name>
        <label>ISBN/EAN empty?</label>
        <locationX>677</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>AssignLeadInformation_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>NoISBN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Lead.ISBNEAN__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_lead_NH_Professional</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>2023/01/23 CH - Added segment/opco check for NH and NH Professional
2023/03/15 DB: Removed Get Leads element to reduce queries. Lead record is passed in.
                          Removed Update Lead element. Lead will be updated in parent flow.
2023/03/09 CH: Updated lead professional check</description>
    <environments>Default</environments>
    <interviewLabel>Match Leads To Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Match Leads To Product</label>
    <loops>
        <name>LoopProducts</name>
        <label>Loop Products</label>
        <locationX>380</locationX>
        <locationY>614</locationY>
        <collectionReference>soc_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>HowManyProducts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetProducts</name>
        <label>Get Products</label>
        <locationX>644</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopProducts</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND ((4 AND 5) OR (6 AND 7))</filterLogic>
        <filters>
            <field>OperatingCompany__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Lead.OperatingCompany__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subsidiary__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>sov_Lead.OperatingCompany__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ISBN__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Lead.ISBNEAN__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ISBN__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EAN__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Lead.ISBNEAN__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>EAN__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>soc_Products</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>ExternalId__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetProducts_0</name>
        <label>Get Products</label>
        <locationX>116</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopProducts</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND ((4 AND 5) OR (6 AND 7)) AND 8</filterLogic>
        <filters>
            <field>OperatingCompany__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Noordhoff</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subsidiary__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Noordhoff</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ISBN__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Lead.ISBNEAN__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ISBN__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EAN__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Lead.ISBNEAN__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>EAN__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MarketSegment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Professional</stringValue>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>soc_Products</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>ExternalId__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetProducts_0_0</name>
        <label>Get Products</label>
        <locationX>380</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopProducts</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND ((4 AND 5) OR (6 AND 7)) AND 8</filterLogic>
        <filters>
            <field>OperatingCompany__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Lead.OperatingCompany__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subsidiary__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>sov_Lead.OperatingCompany__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ISBN__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Lead.ISBNEAN__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ISBN__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EAN__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Lead.ISBNEAN__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>EAN__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MarketSegment__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Professional</stringValue>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>soc_Products</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>ExternalId__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>551</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsbnEanEmpty</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>soc_Products</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>sov_Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>sov_Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>var_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
