force-app/main/default/flows/MatchLeadsToOpportunityV2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>AssignOpportunityId</name>
        <label>Assign Opportunity ID</label>
        <locationX>402</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>varOpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOpportunities.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunityCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOpportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignOpportunityProductId</name>
        <label>Assign Opportunity ID</label>
        <locationX>666</locationX>
        <locationY>614</locationY>
        <assignmentItems>
            <assignToReference>varOpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOpportunityProducts.OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunityCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOpportunityProducts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignOpportunityToLead</name>
        <label>Assign Opportunity to Lead</label>
        <locationX>578</locationX>
        <locationY>1718</locationY>
        <assignmentItems>
            <assignToReference>sov_Lead.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.AutoConvertOpportunityMatchStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forOpportunityMatchStatus</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Copy_1_of_Is_Lead_NH_Professional</name>
        <label>Is Lead NH Professional</label>
        <locationX>314</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>GetOpportunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_NH_Prof</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Lead.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff Professional</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Get_Opportunities</targetReference>
            </connector>
            <label>NH Prof</label>
        </rules>
        <rules>
            <name>Copy_1_of_NH_Not_Prof</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Lead.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_Opportunities</targetReference>
            </connector>
            <label>NH Not Prof</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Lead_NH_Professional</name>
        <label>Is Lead NH Professional</label>
        <locationX>578</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>GetOpportunityProducts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NH_Prof</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Lead.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff Professional</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Get_Opportunity_Products</targetReference>
            </connector>
            <label>NH Prof</label>
        </rules>
        <rules>
            <name>NH_Not_Prof</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Lead.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_Opportunity_Products</targetReference>
            </connector>
            <label>NH Not Prof</label>
        </rules>
    </decisions>
    <decisions>
        <name>OpportunityProductMatch</name>
        <label>Opportunity Product Match?</label>
        <locationX>578</locationX>
        <locationY>830</locationY>
        <defaultConnector>
            <targetReference>AssignOpportunityToLead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Opportunity Product Matched</defaultConnectorLabel>
        <rules>
            <name>OpportunityProductNotMatched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunityCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Is_Lead_NH_Professional</targetReference>
            </connector>
            <label>Opportunity Product Not Matched</label>
        </rules>
    </decisions>
    <description>Opportunity Product Matching Only

15/03/2023 DB: Removed Get Leads element to reduce queries. Lead record is passed in.
                          Removed Update Lead element. Lead will be updated in parent flow.
21/02/2023 CH: Added NH and Professional checks
09/03/2023 CH: Updated lead professional checks</description>
    <environments>Default</environments>
    <formulas>
        <name>forOpportunityMatchStatus</name>
        <dataType>String</dataType>
        <expression>IF({!varOpportunityCounter}=0,&quot;Not found&quot;,
IF({!varOpportunityCounter}=1,&quot;Success&quot;,
IF({!varOpportunityCounter}&gt;1,&quot;Multiple results&quot;,&quot;Unknown&quot;)))</expression>
    </formulas>
    <interviewLabel>Match Leads to Opportunity V2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Match Leads to Opportunity V2</label>
    <loops>
        <name>LoopOpportunities</name>
        <label>Loop Opportunities</label>
        <locationX>314</locationX>
        <locationY>1286</locationY>
        <collectionReference>OppRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignOpportunityId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AssignOpportunityToLead</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopOpportunityProducts</name>
        <label>Loop Opportunity Products</label>
        <locationX>578</locationX>
        <locationY>494</locationY>
        <collectionReference>OppProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignOpportunityProductId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>OpportunityProductMatch</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_1_of_Get_Opportunities</name>
        <label>Get Opportunities</label>
        <locationX>314</locationX>
        <locationY>1070</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOpportunities</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND 5</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Lead.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsOpen__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OperatingCompany__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Noordhoff</stringValue>
            </value>
        </filters>
        <filters>
            <field>Method__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Lead.Method__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OpportunityRecordTypeName__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Professional</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>OppRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Get_Opportunity_Products</name>
        <label>Get Opportunity Products</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOpportunityProducts</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5)</filterLogic>
        <filters>
            <field>AccountId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Lead.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsOpen__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OperatingCompany__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Noordhoff</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Lead.Product__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OpportunityMethod__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Lead.Method__c</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>OppProducts</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Copy_2_of_Get_Opportunities</name>
        <label>Get Opportunities</label>
        <locationX>50</locationX>
        <locationY>1070</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOpportunities</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND 5</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Lead.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsOpen__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OperatingCompany__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Noordhoff</stringValue>
            </value>
        </filters>
        <filters>
            <field>Method__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Lead.Method__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OpportunityRecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Professional</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>OppRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Copy_2_of_Get_Opportunity_Products</name>
        <label>Get Opportunity Products</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOpportunityProducts</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5)</filterLogic>
        <filters>
            <field>AccountId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Lead.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsOpen__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OperatingCompany__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Noordhoff</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Lead.Product__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OpportunityMethod__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Lead.Method__c</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>OppProducts</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetOpportunities</name>
        <label>Get Opportunities</label>
        <locationX>578</locationX>
        <locationY>1070</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOpportunities</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR (3 AND 4 AND 5)) AND 6</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Lead.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsOpen__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsOpen__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Salesseason__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Lead.SalesSeason__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OperatingCompany__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Plantyn</stringValue>
            </value>
        </filters>
        <filters>
            <field>Method__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Lead.Method__c</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>OppRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetOpportunityProducts</name>
        <label>Get Opportunity Products</label>
        <locationX>842</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOpportunityProducts</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR (3 AND 4 AND 5)) AND (6 OR 7)</filterLogic>
        <filters>
            <field>AccountId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Lead.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsOpen__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsOpen__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SalesSeason__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Lead.SalesSeason__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OperatingCompany__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Plantyn</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Lead.Product__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OpportunityMethod__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Lead.Method__c</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>OppProducts</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Lead_NH_Professional</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>OppProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OppRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>sov_Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>varOpportunityCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOpportunityIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
