force-app/main/default/flows/MatchLeadsToContact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Auto_Convert_Status</name>
        <label>Assign Auto Convert Status</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>sov_Lead.AutoConvertContactMatchStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Contact_variables</name>
        <label>Assign Contact variables</label>
        <locationX>798</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>var_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Count_contact_records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_contact_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_lead_information</name>
        <label>Assign lead information</label>
        <locationX>314</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>sov_Lead.AutoConvertContactMatchStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not found</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_lead_information_0</name>
        <label>Assign lead information</label>
        <locationX>578</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>sov_Lead.AutoConvertContactMatchStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_ContactId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_lead_information_0_0</name>
        <label>Assign lead information</label>
        <locationX>842</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>sov_Lead.AutoConvertContactMatchStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Multiple results</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_ContactId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_lead_information_0_0_0</name>
        <label>Assign lead information</label>
        <locationX>1106</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>sov_Lead.AutoConvertContactMatchStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unknown</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>ContactFilled</name>
        <label>Contact filled</label>
        <locationX>248</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>FindMatchingContacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Contact Matched</defaultConnectorLabel>
        <rules>
            <name>StatusSuccess</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>sov_Lead.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_Lead.AutoConvertContactMatchStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_Lead.AutoConvertContactMatchStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Multiple results</stringValue>
                </rightValue>
            </conditions>
            <label>Status = Success</label>
        </rules>
        <rules>
            <name>Contact_Matched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Lead.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Auto_Convert_Status</targetReference>
            </connector>
            <label>Contact Matched</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_an_Contact</name>
        <label>Found an Contact</label>
        <locationX>710</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>Assign_lead_information_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Nothing_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_lead_information</targetReference>
            </connector>
            <label>Nothing found</label>
        </rules>
        <rules>
            <name>X1_Contact_has_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_lead_information_0</targetReference>
            </connector>
            <label>1 Contact has found</label>
        </rules>
        <rules>
            <name>More_than_1_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Count</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_lead_information_0_0</targetReference>
            </connector>
            <label>More than 1 Contact</label>
        </rules>
    </decisions>
    <description>Moved contact matching to subflow

15/03/2023 DB: Removed Get Leads element to reduce queries. Lead record is passed in.
                          Removed Update Lead element. Lead will be updated in parent flow.
                          Redesign - update flow layout.
22/02/2023 DB: Use new Find Matching Contacts flow (V2)</description>
    <environments>Default</environments>
    <interviewLabel>MatchLeadsToContact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Match Leads To Contact</label>
    <loops>
        <name>Count_contact_records</name>
        <label>Count contact records</label>
        <locationX>710</locationX>
        <locationY>398</locationY>
        <collectionReference>soc_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Contact_variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Found_an_Contact</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ContactFilled</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>FindMatchingContacts</name>
        <label>Find Matching Contacts</label>
        <locationX>710</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Count_contact_records</targetReference>
        </connector>
        <flowName>FindMatchingContacts_V2</flowName>
        <inputAssignments>
            <name>sov_Lead</name>
            <value>
                <elementReference>sov_Lead</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>soc_Contacts</assignToReference>
            <name>soc_Contacts</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>soc_Contacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>sov_Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>var_ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VARAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAREmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VARLeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VARMatchingType</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAROperatingCompany</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VARSchoolnumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VARTeacherNumberCustomer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VARTeacherNumberKlopotek</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
