force-app/main/default/flows/MatchLeadsToOpportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>AssignLeadInformation</name>
        <label>Assign lead information</label>
        <locationX>901</locationX>
        <locationY>1083</locationY>
        <assignmentItems>
            <assignToReference>sov_Lead.AutoConvertOpportunityMatchStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not found</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateLead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignLeadInformation_0</name>
        <label>Assign lead information</label>
        <locationX>1001</locationX>
        <locationY>1081</locationY>
        <assignmentItems>
            <assignToReference>sov_Lead.AutoConvertOpportunityMatchStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateLead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignLeadInformation_0_0</name>
        <label>Assign lead information</label>
        <locationX>1336</locationX>
        <locationY>1078</locationY>
        <assignmentItems>
            <assignToReference>sov_Lead.AutoConvertOpportunityMatchStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Multiple results</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateLead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignLeadInformation_0_0_0</name>
        <label>Assign lead information</label>
        <locationX>1456</locationX>
        <locationY>1089</locationY>
        <assignmentItems>
            <assignToReference>sov_Lead.AutoConvertOpportunityMatchStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unknown</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateLead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Product</name>
        <label>Count</label>
        <locationX>1403</locationX>
        <locationY>732</locationY>
        <assignmentItems>
            <assignToReference>var_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOpportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOpportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AllRequiredInformationAvailable</name>
        <label>All required information available</label>
        <locationX>1312</locationX>
        <locationY>294</locationY>
        <defaultConnector>
            <targetReference>AssignLeadInformation_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Lead.Account__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_Lead.Product__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOpenOpportunities</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>FoundAnOpportunity</name>
        <label>Found an Opportunity</label>
        <locationX>1161</locationX>
        <locationY>830</locationY>
        <defaultConnector>
            <targetReference>AssignLeadInformation_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NothingFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignLeadInformation</targetReference>
            </connector>
            <label>Nothing Found</label>
        </rules>
        <rules>
            <name>X1OpportunityHasFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignLeadInformation_0</targetReference>
            </connector>
            <label>1 Opportunity Has Found</label>
        </rules>
        <rules>
            <name>MoreThan1Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Count</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignLeadInformation_0_0</targetReference>
            </connector>
            <label>More than 1 Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>FoundOppotunities</name>
        <label>Found Oppotunities</label>
        <locationX>1320</locationX>
        <locationY>542</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesOpportunities</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soc_Opportunities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopOpportunity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Match_Method</name>
        <label>Match Method</label>
        <locationX>1791</locationX>
        <locationY>547</locationY>
        <defaultConnector>
            <targetReference>MatchProduct</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Method</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Lead.Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LoopOpportunity.Method__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Count_Product</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>MatchProduct</name>
        <label>Match Product</label>
        <locationX>1628</locationX>
        <locationY>676</locationY>
        <defaultConnector>
            <targetReference>LoopOpportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesOpportunityProduct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_OpportunityProduct.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Count_Product</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Match Leads To Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Match Leads To Opportunity</label>
    <loops>
        <name>LoopOpportunity</name>
        <label>Loop Opportunity</label>
        <locationX>1166</locationX>
        <locationY>662</locationY>
        <collectionReference>soc_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetOpportunityProducts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>FoundAnOpportunity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>1318</locationX>
        <locationY>172</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AllRequiredInformationAvailable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Lead.Id</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>sov_Lead</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AutoConvertOpportunityMatchStatus__c</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Product__c</queriedFields>
        <queriedFields>Method__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetOpenOpportunities</name>
        <label>GetOpenOpportunities</label>
        <locationX>1194</locationX>
        <locationY>421</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FoundOppotunities</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Lead.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsOpen__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Salesseason__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>2020-2021</stringValue>
            </value>
        </filters>
        <filters>
            <field>Salesseason__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>2021-2022</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>soc_Opportunities</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Salesseason__c</queriedFields>
        <queriedFields>Method__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetOpportunityProducts</name>
        <label>Get Opportunity Products</label>
        <locationX>1629</locationX>
        <locationY>409</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Match_Method</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopOpportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Lead.Product__c</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>sov_OpportunityProduct</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateLead</name>
        <label>Update Lead</label>
        <locationX>1181</locationX>
        <locationY>1407</locationY>
        <inputReference>sov_Lead</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>1194</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>soc_Opportunities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>sov_Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>sov_Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>sov_OpportunityProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>var_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
