force-app/main/default/flows/MatchLeadsToAccount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Account_does_not_match</name>
        <label>Account does not match</label>
        <locationX>842</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>sov_Lead.AutoConvertAccountMatchStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not found</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.Account__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Account_does_not_match2</name>
        <label>Account does not match</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>sov_Lead.AutoConvertAccountMatchStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not found</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.Account__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_lead_information</name>
        <label>Assign lead information</label>
        <locationX>1370</locationX>
        <locationY>1070</locationY>
        <assignmentItems>
            <assignToReference>sov_Lead.AutoConvertAccountMatchStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not found</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_lead_information_0</name>
        <label>Assign lead information</label>
        <locationX>1634</locationX>
        <locationY>1070</locationY>
        <assignmentItems>
            <assignToReference>sov_Lead.AutoConvertAccountMatchStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.NumberOfEmployees</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Account.NumberofStudents__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Account.OwnerId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_lead_information_1</name>
        <label>Assign lead information</label>
        <locationX>1898</locationX>
        <locationY>1070</locationY>
        <assignmentItems>
            <assignToReference>sov_Lead.AutoConvertAccountMatchStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Multiple results</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.NumberOfEmployees</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Account.NumberofStudents__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Account.OwnerId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_lead_information_2</name>
        <label>Assign lead information</label>
        <locationX>2162</locationX>
        <locationY>1070</locationY>
        <assignmentItems>
            <assignToReference>sov_Lead.AutoConvertAccountMatchStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unknown</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_lead_information_Account_populated</name>
        <label>Assign lead information Account populated</label>
        <locationX>1106</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>sov_Lead.AutoConvertAccountMatchStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_Lead.Account__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_lead_information_NH</name>
        <label>Assign lead information NH</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>sov_Lead.AutoConvertAccountMatchStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_Lead.Account__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_lead_information_NH_Prof</name>
        <label>Assign lead information NH Prof</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>sov_Lead.AutoConvertAccountMatchStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Lead.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_Lead.Account__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AssignAccountVariables</name>
        <label>Assign account variables</label>
        <locationX>1854</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>var_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Account</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CountAccountRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CountAccountRecords</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Filled</name>
        <label>Account Filled</label>
        <locationX>776</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Lead_is_NH_Professional</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Success_Multiple_results</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>sov_Lead.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_Lead.AutoConvertAccountMatchStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_Lead.AutoConvertAccountMatchStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Multiple results</stringValue>
                </rightValue>
            </conditions>
            <label>Success/Multiple results</label>
        </rules>
        <rules>
            <name>Account_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Lead.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Lead_is_NH_Professional</targetReference>
            </connector>
            <label>Account populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_is_NOT_Professional</name>
        <label>Account is NOT Professional</label>
        <locationX>710</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Account_does_not_match</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesAccNotProfessional</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Lead.Account__r.isProfessional__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_Lead.Account__r.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_lead_information_NH</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Lead_is_NH_Professional</name>
        <label>Lead is NH Professional</label>
        <locationX>644</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Assign_lead_information_Account_populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes_Prof</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Lead.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff Professional</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_The_Linked_Account_a_Professional_Account</targetReference>
            </connector>
            <label>Yes_Prof</label>
        </rules>
        <rules>
            <name>Is_NH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Lead.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_is_NOT_Professional</targetReference>
            </connector>
            <label>Is NH</label>
        </rules>
    </decisions>
    <decisions>
        <name>FoundAnAccount</name>
        <label>Found an Account?</label>
        <locationX>1766</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>Assign_lead_information_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NothingFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_lead_information</targetReference>
            </connector>
            <label>Nothing found</label>
        </rules>
        <rules>
            <name>X1AccountHasFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_lead_information_0</targetReference>
            </connector>
            <label>1 Account has found</label>
        </rules>
        <rules>
            <name>MoreThan1Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Count</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_lead_information_1</targetReference>
            </connector>
            <label>More than 1 account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_The_Linked_Account_a_Professional_Account</name>
        <label>Is The Linked Account a Professional Account</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Account_does_not_match2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesAccountIsCorrect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Lead.Account__r.isProfessional__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_Lead.Account__r.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_lead_information_NH_Prof</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_is_NH_Professional</name>
        <label>Lead is NH Professional</label>
        <locationX>1766</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>FindAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Prof</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Lead.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff Professional</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_NH_Professional_Acc</targetReference>
            </connector>
            <label>Yes_Prof</label>
        </rules>
        <rules>
            <name>No_But_is_NH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Lead.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_NH_Acc_Non_professional</targetReference>
            </connector>
            <label>No But is NH</label>
        </rules>
    </decisions>
    <description>15/03/2023 DB: Removed Get Leads element to reduce queries. Lead record is passed in.
                          Removed Update Lead element. Lead will be updated in parent flow.
21/02/2023 CH: Added NH and Professional checks
24/03/2023 DB: Updated Account match and filter criteria
28/02/2023 CH: Fixed account opco match
09/03/2023 CH: Added additional Nh and NH Professional matching checks</description>
    <environments>Default</environments>
    <interviewLabel>MatchLeadsToAccount {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Match Leads To Account</label>
    <loops>
        <name>CountAccountRecords</name>
        <label>Count account records</label>
        <locationX>1766</locationX>
        <locationY>614</locationY>
        <collectionReference>soc_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignAccountVariables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>FoundAnAccount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_NH_Acc_Non_professional</name>
        <label>Find NH Acc (Non professional)</label>
        <locationX>1766</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CountAccountRecords</targetReference>
        </connector>
        <filterLogic>1 AND ((2 AND 3) OR (4 AND 5)) AND 6</filterLogic>
        <filters>
            <field>OperatingCompany__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Noordhoff</stringValue>
            </value>
        </filters>
        <filters>
            <field>OldCustomerNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Lead.OrganizationCode__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OldCustomerNumber__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OldAccountId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Lead.OldAccountId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OldAccountId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>isProfessional__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>soc_Accounts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>NumberofStudents__c</queriedFields>
        <sortField>NetsuiteCustomerNumber__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Find_NH_Professional_Acc</name>
        <label>Find NH Professional Acc</label>
        <locationX>1502</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CountAccountRecords</targetReference>
        </connector>
        <filterLogic>1 AND ((2 AND 3) OR (4 AND 5)) AND 6</filterLogic>
        <filters>
            <field>OperatingCompany__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Noordhoff</stringValue>
            </value>
        </filters>
        <filters>
            <field>OldCustomerNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Lead.OrganizationCode__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OldCustomerNumber__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OldAccountId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Lead.OldAccountId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OldAccountId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>isProfessional__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>soc_Accounts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>NumberofStudents__c</queriedFields>
        <sortField>NetsuiteCustomerNumber__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>FindAccount</name>
        <label>FindAccount</label>
        <locationX>2030</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CountAccountRecords</targetReference>
        </connector>
        <filterLogic>1 AND ((2 AND 3) OR (4 AND 5))</filterLogic>
        <filters>
            <field>OperatingCompany__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Noordhoff</stringValue>
            </value>
        </filters>
        <filters>
            <field>OldCustomerNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Lead.OrganizationCode__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OldCustomerNumber__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OldAccountId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Lead.OldAccountId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OldAccountId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>soc_Accounts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>NumberofStudents__c</queriedFields>
        <sortField>NetsuiteCustomerNumber__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Account_Filled</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>soc_Accounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>sov_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>sov_Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>var_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>var_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
