force-app/main/default/flows/MatchAccountToRetailerStatisticsImport.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>IsEndCustomerNumberUpdated</name>
        <label>Is End Customer Number updated?</label>
        <locationX>168</locationX>
        <locationY>327</locationY>
        <defaultConnector>
            <targetReference>IsIsbnUpdated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EndCustomerNumberIsUpdated</name>
            <conditionLogic>(1 AND 2) OR (2 AND (3 OR 4) AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EndCustomerNumber__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EndCustomerNumber__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.EndCustomerNumber__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OperatingCompany__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.OperatingCompany__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetSoldToAccount</targetReference>
            </connector>
            <label>End Customer Number is updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsIsbnUpdated</name>
        <label>Is ISBN updated?</label>
        <locationX>169</locationX>
        <locationY>510</locationY>
        <defaultConnector>
            <targetReference>UpdateRetailerStatisticsImport</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsbnIsUpdated</name>
            <conditionLogic>(1 AND 2) OR (2 AND 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsbnEan__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsbnEan__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.IsbnEan__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetProduct</targetReference>
            </connector>
            <label>ISBN is updated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forEcinNumber</name>
        <dataType>String</dataType>
        <expression>&quot;[&quot;&amp;{!$Record.EndCustomerNumber__c}&amp;&quot;]&quot;</expression>
    </formulas>
    <formulas>
        <name>forMatchStatus</name>
        <dataType>String</dataType>
        <expression>IF(AND(NOT(ISBLANK({!varSoldToAccount})),NOT(ISBLANK({!varProduct}))),&quot;Success&quot;,
IF(AND(ISBLANK({!varSoldToAccount}),ISBLANK({!varProduct})),&quot;Error: account and product cannot be matched!&quot;,
IF(AND(NOT(ISBLANK({!varSoldToAccount})),ISBLANK({!varProduct})),&quot;Error: product cannot be matched!&quot;,
IF(AND(ISBLANK({!varSoldToAccount}),NOT(ISBLANK({!varProduct}))),&quot;Error: account cannot be matched!&quot;,&quot;Error!&quot;))))</expression>
    </formulas>
    <interviewLabel>Match Account to Retailer Statistics Import {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Match Account to Retailer Statistics Import</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetProduct</name>
        <label>Get Product</label>
        <locationX>447</locationX>
        <locationY>520</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateRetailerStatisticsImport</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ISBNArticleNumber__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.IsbnEan__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ExternalId__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>varProduct</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetSoldToAccount</name>
        <label>Get Sold to Account</label>
        <locationX>446</locationX>
        <locationY>336</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsIsbnUpdated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EcinNumberMatch__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>forEcinNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>OperatingCompany__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OperatingCompany__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varSoldToAccount</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateRetailerStatisticsImport</name>
        <label>Update Retailer Statistics Import</label>
        <locationX>176</locationX>
        <locationY>691</locationY>
        <inputAssignments>
            <field>MatchStatus__c</field>
            <value>
                <elementReference>forMatchStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>varProduct</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SoldToAccount__c</field>
            <value>
                <elementReference>varSoldToAccount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>IsEndCustomerNumberUpdated</targetReference>
        </connector>
        <filterLogic>((1 AND 2) OR 3) AND 4</filterLogic>
        <filters>
            <field>EndCustomerNumber__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OperatingCompany__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsbnEan__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MatchStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </filters>
        <object>Retailer_Statistics_Import__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varProduct</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Product__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varSoldToAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.SoldToAccount__c</elementReference>
        </value>
    </variables>
</Flow>
