force-app/main/default/flows/MessagingAfterSaveCreate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Standard_variables</name>
        <label>Assign Standard variables</label>
        <locationX>446</locationX>
        <locationY>623</locationY>
        <assignmentItems>
            <assignToReference>sov_Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Case.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Chat</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Case.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Question</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Case.SourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_VariablesPE</name>
        <label>Assign Variables</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>sov_Case.CategoryLevel1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Primary Education</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Case.OperatingCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Noordhoff</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Standard_variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_VariablesSE</name>
        <label>Assign Variables</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>sov_Case.CategoryLevel1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Secondary Education</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Case.OperatingCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Noordhoff</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Standard_variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_VariablesVEHE</name>
        <label>Assign Variables</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>sov_Case.CategoryLevel1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Vocational Education</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Case.OperatingCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Noordhoff</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Standard_variables</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Channel</name>
        <label>Channel</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Assign_Standard_variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Noordhoff_Chat_Web_SE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MessagingChannel.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NoordhoffChatWebSE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_VariablesSE</targetReference>
            </connector>
            <label>Noordhoff Chat Web SE</label>
        </rules>
        <rules>
            <name>Noordhoff_Chat_Web_PE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MessagingChannel.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NoordhoffChatWebPE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_VariablesPE</targetReference>
            </connector>
            <label>Noordhoff Chat Web PE</label>
        </rules>
        <rules>
            <name>Noordhoff_Chat_Web_VE_HE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MessagingChannel.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NoordhoffChatWebVEHE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_VariablesVEHE</targetReference>
            </connector>
            <label>Noordhoff Chat Web VE/HE</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Messaging - After Save Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Messaging - After Save Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>446</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>Update_Messaging_Session</targetReference>
        </connector>
        <inputReference>sov_Case</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>Update_Messaging_Session</name>
        <label>Update Messaging Session</label>
        <locationX>446</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>sov_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Channel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>MessagingSession</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>sov_Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
