force-app/main/default/flows/Onboarding.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Manual</name>
        <label>Assign Manual</label>
        <locationX>1426</locationX>
        <locationY>771</locationY>
        <assignmentItems>
            <assignToReference>var_AssignManualAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Choices</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Video_Tutorial</name>
        <label>Assign Video Tutorial</label>
        <locationX>1424</locationX>
        <locationY>655</locationY>
        <assignmentItems>
            <assignToReference>var_AssignVideoTutorialAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Choices</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Visit_Online_Physical</name>
        <label>Assign Visit (Online / Physical)</label>
        <locationX>1432</locationX>
        <locationY>891</locationY>
        <assignmentItems>
            <assignToReference>var_AssignVisitOnlinePhysicalAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Choices</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Webinar</name>
        <label>Assign Webinar</label>
        <locationX>1430</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>var_WebinarAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Choices</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>pick_EvaluationFollowUp</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(62, 62, 60);&quot;&gt;Evaluation / Follow up&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Evaluation / Follow up</stringValue>
        </value>
    </choices>
    <choices>
        <name>pick_IntroductionEducation</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(62, 62, 60);&quot;&gt;Introduction / Education&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Introduction / Education</stringValue>
        </value>
    </choices>
    <choices>
        <name>pick_RegistrationActivation</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(62, 62, 60);&quot;&gt;Registration / Activation&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Registration / Activation</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Already_onboarding</name>
        <label>Already onboarding?</label>
        <locationX>861</locationX>
        <locationY>140</locationY>
        <defaultConnector>
            <targetReference>Step_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Onboarding_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Choices</name>
        <label>Choices</label>
        <locationX>1100</locationX>
        <locationY>727</locationY>
        <defaultConnector>
            <targetReference>Decision_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Webinar_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Webinar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assign_Webinar</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Webinar</targetReference>
            </connector>
            <label>Webinar selected</label>
        </rules>
        <rules>
            <name>Video_Tutorial_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Video_Tutorial</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assign_Video_Tutorial</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Video_Tutorial</targetReference>
            </connector>
            <label>Video Tutorial selected</label>
        </rules>
        <rules>
            <name>Manual_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Manual</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assign_Manual</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Manual</targetReference>
            </connector>
            <label>Manual selected</label>
        </rules>
        <rules>
            <name>Visit_Online_Physical_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Visit_Online_Physical</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assign_Visit_Online_Physical</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Visit_Online_Physical</targetReference>
            </connector>
            <label>Visit (Online / Physical) selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_1</name>
        <label>Decision 1</label>
        <locationX>857</locationX>
        <locationY>484</locationY>
        <defaultConnector>
            <targetReference>Create_Onboarding</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nothing Choice left</defaultConnectorLabel>
        <rules>
            <name>CSM_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CSM</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Step_1</targetReference>
            </connector>
            <label>CSM Selected?</label>
        </rules>
        <rules>
            <name>Registration_Activation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pick_RegistrationActivation</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Registration_Activation_Screen</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Registration_Activation_Screen</targetReference>
            </connector>
            <label>Registration / Activation</label>
        </rules>
        <rules>
            <name>Introduction_Education</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pick_IntroductionEducation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Introduction_Education_Screen</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Introduction_Education_Screen</targetReference>
            </connector>
            <label>Introduction / Education</label>
        </rules>
        <rules>
            <name>Evaluation_follow_up</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pick_EvaluationFollowUp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Evaluation_Follow_up_Screen</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluation_Follow_up_Screen</targetReference>
            </connector>
            <label>Evaluation / follow up</label>
        </rules>
    </decisions>
    <interviewLabel>Onboarding {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Onboarding</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Onboarding</name>
        <label>Create Onboarding</label>
        <locationX>864</locationX>
        <locationY>669</locationY>
        <connector>
            <targetReference>Step_4</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Opportunity_info.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivationUsage__c</field>
            <value>
                <elementReference>UsageActivation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activation_date__c</field>
            <value>
                <elementReference>Expected_activation_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CSM__c</field>
            <value>
                <elementReference>var_CSM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Implementation_date__c</field>
            <value>
                <elementReference>Expected_implementation_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manual_date__c</field>
            <value>
                <elementReference>var_AssignManualAssignment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Get_Opportunity_info.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_date__c</field>
            <value>
                <elementReference>Expected_registration_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stages__c</field>
            <value>
                <stringValue>Registration_Activation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Video_Tutorial__c</field>
            <value>
                <elementReference>var_AssignVideoTutorialAssignment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Online_Physical__c</field>
            <value>
                <elementReference>var_AssignVisitOnlinePhysicalAssignment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Webinar__c</field>
            <value>
                <elementReference>var_AssignManualAssignment</elementReference>
            </value>
        </inputAssignments>
        <object>Onboarding__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Onboarding_records</name>
        <label>Get Onboarding records</label>
        <locationX>711</locationX>
        <locationY>228</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Already_onboarding</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_info.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Onboarding__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_info</name>
        <label>Get Opportunity info</label>
        <locationX>576</locationX>
        <locationY>307</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Onboarding_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Evaluation_Follow_up_Screen</name>
        <label>Evaluation / Follow up</label>
        <locationX>1107</locationX>
        <locationY>568</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Choices</targetReference>
        </connector>
        <fields>
            <name>DisplatTextEvaluationFollowup</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Evaluation / Follow up&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Introduction text explaining usage and activation fields.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>UsageActivation</name>
            <fieldText>Usage/Activation</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Introduction_Education_Screen</name>
        <label>Introduction / Education</label>
        <locationX>1100</locationX>
        <locationY>440</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
        <fields>
            <name>DisplayTextIntroductionEducation</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Introduction / Education&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Select what type of activities we would to help the customer with. We will either send the materials over to the customer or plan an event (off/online) with them via the CSM.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Webinar</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Webinar</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Video_Tutorial</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Video Tutorial</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Manual</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Manual</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Visit_Online_Physical</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Visit (Online / Physical)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Registration_Activation_Screen</name>
        <label>Registration / Activation</label>
        <locationX>1102</locationX>
        <locationY>308</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
        <fields>
            <name>DisplayTextRegistrationActivation</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Registration / Activation&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Please select the activities that are required from the CSM and what the expected finish date is for each activity.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;i&gt;Remember if it is a tier 1 or 2 all activities are required.&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Expected_registration_date</name>
            <dataType>Date</dataType>
            <fieldText>Expected registration date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Expected_activation_date</name>
            <dataType>Date</dataType>
            <fieldText>Expected activation date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Expected_implementation_date</name>
            <dataType>Date</dataType>
            <fieldText>Expected implementation date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen</name>
        <label>Screen</label>
        <locationX>1063</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;There is already an onboarding record, for this opportunity. Please update the existing one.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Step_1</name>
        <label>Step 1</label>
        <locationX>869</locationX>
        <locationY>312</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
        <fields>
            <name>DisplayStartScreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;On this screen you will start defining what type of onboarding is required for the customer. Please assign an CSM and indicate what type of help is required.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Please fill in a Customer Succes Manager&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CSM_Selected</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>User</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CSM__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Customer Success Manager</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Onboarding__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_CSM</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>What_is_needed</name>
            <choiceReferences>pick_EvaluationFollowUp</choiceReferences>
            <choiceReferences>pick_IntroductionEducation</choiceReferences>
            <choiceReferences>pick_RegistrationActivation</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What is needed?</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Step_4</name>
        <label>Step 4</label>
        <locationX>864</locationX>
        <locationY>824</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Completed</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Completed&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>65</locationX>
        <locationY>289</locationY>
        <connector>
            <targetReference>Get_Opportunity_info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_AssignManualAssignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_AssignVideoTutorialAssignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_AssignVisitOnlinePhysicalAssignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_CSM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_WebinarAssignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </variables>
</Flow>
