force-app/main/default/flows/Opportunity_AddProducts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>assPricebookId</name>
        <label>assPricebookId</label>
        <locationX>469</locationX>
        <locationY>366</locationY>
        <assignmentItems>
            <assignToReference>PricebookId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOpportunity.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoadProductSelector</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Opportunity_AddProducts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity AddProducts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetOpportunity</name>
        <label>GetOpportunity</label>
        <locationX>345</locationX>
        <locationY>184</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assPricebookId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetOpportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>LoadProductSelector</name>
        <label>LoadProductSelector</label>
        <locationX>961</locationX>
        <locationY>310</locationY>
        <flowName>Order_ProductSelector</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>GetOpportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpportunityId</name>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PricebookId</name>
            <value>
                <elementReference>PricebookId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>PricebookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
