force-app/main/default/flows/OpportunityNew.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>reidrectTo_Opportunity</name>
        <label>reidrectTo Opportunity</label>
        <locationX>2741</locationX>
        <locationY>1352</locationY>
        <actionName>ecflc:flowIdRedirect</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>NewOpportunity.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ecflc:flowIdRedirect</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Lead_Source_Required_Message</name>
        <label>Assign Lead Source Required Message</label>
        <locationX>1691</locationX>
        <locationY>831</locationY>
        <assignmentItems>
            <assignToReference>errMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please fill out the lead source</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OpportunityValues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead_Source_Required_Message_0</name>
        <label>Assign Lead Source Required Message</label>
        <locationX>2071</locationX>
        <locationY>843</locationY>
        <assignmentItems>
            <assignToReference>errMessage</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Professional_Opp_Name_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assOpportunity</name>
        <label>assOpportunity</label>
        <locationX>1787</locationX>
        <locationY>1090</locationY>
        <assignmentItems>
            <assignToReference>NewOpportunity.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PricebookId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.Billto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccount.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.Invoice_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.OrderType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Regular</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.OperatingCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccount.OperatingCompany__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.PricingMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PricingMethodPB</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OpportunityValues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assOpportunity_0</name>
        <label>assOpportunity</label>
        <locationX>2374</locationX>
        <locationY>1100</locationY>
        <assignmentItems>
            <assignToReference>NewOpportunity.PricingMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pricing_Method</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createOpportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assPricebookInfo</name>
        <label>assPricebookInfo</label>
        <locationX>50</locationX>
        <locationY>563</locationY>
        <assignmentItems>
            <assignToReference>lstPricebook</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopPricebook.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookSize</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopPricebook.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopPricebook.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricingMethodPB</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopPricebook.PricingMethod__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopPricebook</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assPricebookScreen</name>
        <label>assPricebookScreen</label>
        <locationX>943</locationX>
        <locationY>806</locationY>
        <assignmentItems>
            <assignToReference>PricebookId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedPricebook_0.outputSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedPricebook_0.outputSelectedRow.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricingMethodPB</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedPricebook_0.outputSelectedRow.PricingMethod__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decRecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assRecordType_0</name>
        <label>assRecordType</label>
        <locationX>1939</locationX>
        <locationY>1377</locationY>
        <assignmentItems>
            <assignToReference>OppRecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedRecordType.outputSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedRecordType.outputSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assOpportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assRecordType_0_0</name>
        <label>assRecordType</label>
        <locationX>1770</locationX>
        <locationY>1343</locationY>
        <assignmentItems>
            <assignToReference>NewOpportunity.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assOpportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assRecordTypeLib</name>
        <label>assRecordTypeLib</label>
        <locationX>1392</locationX>
        <locationY>1268</locationY>
        <assignmentItems>
            <assignToReference>lstRecordTypes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopLiberRecordType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordTypeSize</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppRecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopLiberRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopLiberRecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assRecordTypeNH</name>
        <label>assRecordTypeNH</label>
        <locationX>1601</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>lstRecordTypes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopNHRecordType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordTypeSize</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppRecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopNHRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopNHRecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assRecordTypePL</name>
        <label>assRecordTypePL</label>
        <locationX>1444</locationX>
        <locationY>1756</locationY>
        <assignmentItems>
            <assignToReference>lstRecordTypes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopPlantynRecordType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordTypeSize</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppRecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopPlantynRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopPlantynRecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assRecordTypeProf</name>
        <label>assRecordTypeProf</label>
        <locationX>1525</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>OppRecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getProfessionalRecordTypeId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>P. Incoming</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getProfessionalRecordTypeId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assOpportunity</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>selectPricebook</name>
        <choiceText>Select Pricebook</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>lstPricebook</elementReference>
        </value>
    </choices>
    <decisions>
        <name>decIsOpprelatedList</name>
        <label>decIsOpprelatedList</label>
        <locationX>2424</locationX>
        <locationY>1275</locationY>
        <defaultConnector>
            <targetReference>reidrectTo_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>defIsrelatedOpp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RelatedListOpp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screViewOpportunity</targetReference>
            </connector>
            <label>defIsrelatedOpp</label>
        </rules>
    </decisions>
    <decisions>
        <name>decPricebookId</name>
        <label>decPricebookId</label>
        <locationX>402</locationX>
        <locationY>871</locationY>
        <defaultConnector>
            <targetReference>SelectPricebookScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>autoAssignPricebook</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PricebookSize</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decRecordType</targetReference>
            </connector>
            <label>autoAssignPricebook</label>
        </rules>
    </decisions>
    <decisions>
        <name>decRecordType</name>
        <label>decRecordType</label>
        <locationX>1102</locationX>
        <locationY>1183</locationY>
        <defaultConnector>
            <targetReference>assOpportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isProfessional</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PricebookName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Professional</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getProfessionalRecordTypeId</targetReference>
            </connector>
            <label>isProfessional</label>
        </rules>
        <rules>
            <name>isLiber</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PricebookName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Liber</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getLiberRecordTypeId</targetReference>
            </connector>
            <label>isLiber</label>
        </rules>
        <rules>
            <name>isNoordhoff</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PricebookName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Noordhoff</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getNoordhoffRecordTypeId</targetReference>
            </connector>
            <label>isNoordhoff</label>
        </rules>
        <rules>
            <name>isPlantyn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PricebookName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Plantyn</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getPlantynRecordTypeId</targetReference>
            </connector>
            <label>isPlantyn</label>
        </rules>
    </decisions>
    <decisions>
        <name>decRecordTypeSize</name>
        <label>decRecordTypeSize</label>
        <locationX>1745</locationX>
        <locationY>1616</locationY>
        <defaultConnector>
            <targetReference>assRecordType_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>decSelectRecordtypeGreaterthan1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordTypeSize</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>frmSelectRecordType</targetReference>
            </connector>
            <label>decSelectRecordtypeGreaterthan1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Lead_Source_Filled</name>
        <label>Is Lead Source Filled?</label>
        <locationX>1911</locationX>
        <locationY>876</locationY>
        <defaultConnector>
            <targetReference>Assign_Lead_Source_Required_Message_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_LeadSourceFilled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewOpportunity.LeadSource</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewOpportunity.Pricebook2.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Professional</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead_Source_Required_Message</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Professional_Opp_Name_Check</name>
        <label>Professional Opp Name Check</label>
        <locationX>2173</locationX>
        <locationY>1140</locationY>
        <defaultConnector>
            <targetReference>assOpportunity_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Name_length_80</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccount.isProfessional__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OppProfessionalNameLimitExceeded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OpportunityNameErrorScreen</targetReference>
            </connector>
            <label>Name length &gt; 80</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_pricebook</name>
        <label>What pricebook?</label>
        <locationX>759</locationX>
        <locationY>265</locationY>
        <defaultConnector>
            <targetReference>getPricebook</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NH_Professional</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccount.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getAccount.isProfessional__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getAccount.isPrimaryEducation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getAccount.isSecondaryEducation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getAccount.isHigherEducation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getAccount.isVocationalEducation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getAccount.IsSims__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getPricebook_0</targetReference>
            </connector>
            <label>NH Professional</label>
        </rules>
        <rules>
            <name>Noordhoff</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccount.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getAccount.isProfessional__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getPricebook_0_0</targetReference>
            </connector>
            <label>Noordhoff</label>
        </rules>
    </decisions>
    <description>15/11/2023 CH: Made Lead Source available and required
20232012: CH added filter for pricebooks where PricingMethod != null
20240109: DB added Opportunity to record type query filter
20240115: DB updated pricebook selection decision criteria</description>
    <dynamicChoiceSets>
        <name>CustomerRelationshipOptions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CustomerRelationship__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pricingmethodSelect</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PricingMethod__c</picklistField>
        <picklistObject>Order</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>The Opportunity Name cannot be longer than 80 characters for Professional</description>
        <name>OppProfessionalNameLimitExceeded</name>
        <dataType>Boolean</dataType>
        <expression>LEN({!NewOpportunity.Name}) &gt; 80</expression>
    </formulas>
    <interviewLabel>OpportunityNew {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OpportunityNew</label>
    <loops>
        <name>loopLiberRecordType</name>
        <label>loopLiberRecordType</label>
        <locationX>1392</locationX>
        <locationY>1464</locationY>
        <collectionReference>getLiberRecordTypeId</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assRecordTypeLib</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>decRecordTypeSize</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopNHRecordType</name>
        <label>loopNHRecordType</label>
        <locationX>1743</locationX>
        <locationY>1892</locationY>
        <collectionReference>getNoordhoffRecordTypeId</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assRecordTypeNH</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>decRecordTypeSize</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopPlantynRecordType</name>
        <label>loopPlantynRecordType</label>
        <locationX>1351</locationX>
        <locationY>1653</locationY>
        <collectionReference>getPlantynRecordTypeId</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assRecordTypePL</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>decRecordTypeSize</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopPricebook</name>
        <label>loopPricebook</label>
        <locationX>340</locationX>
        <locationY>563</locationY>
        <collectionReference>getPricebook</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assPricebookInfo</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>decPricebookId</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createOpportunity</name>
        <label>createOpportunity</label>
        <locationX>2574</locationX>
        <locationY>1037</locationY>
        <connector>
            <targetReference>decIsOpprelatedList</targetReference>
        </connector>
        <faultConnector>
            <targetReference>scrErrorMessage</targetReference>
        </faultConnector>
        <inputReference>NewOpportunity</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getAccount</name>
        <label>getAccount</label>
        <locationX>767</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_pricebook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getLiberRecordTypeId</name>
        <label>getLiberRecordTypeId</label>
        <locationX>1207</locationX>
        <locationY>1432</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopLiberRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Liber</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getNoordhoffRecordTypeId</name>
        <label>getNoordhoffRecordTypeId</label>
        <locationX>1043</locationX>
        <locationY>1880</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopNHRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Noordhoff</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPlantynRecordTypeId</name>
        <label>getPlantynRecordTypeId</label>
        <locationX>1119</locationX>
        <locationY>1634</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopPlantynRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Plantyn</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPricebook</name>
        <label>getPricebook</label>
        <locationX>340</locationX>
        <locationY>260</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopPricebook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subsidiary__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAccount.OperatingCompany__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PricingMethod__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPricebook_0</name>
        <label>getPricebook</label>
        <locationX>765</locationX>
        <locationY>570</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopPricebook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subsidiary__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAccount.OperatingCompany__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PricingMethod__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PricebookType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Professional</stringValue>
            </value>
        </filters>
        <object>Pricebook2</object>
        <outputReference>getPricebook</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>PricingMethod__c</queriedFields>
        <queriedFields>Subsidiary__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getPricebook_0_0</name>
        <label>getPricebook</label>
        <locationX>579</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopPricebook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subsidiary__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAccount.OperatingCompany__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PricingMethod__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PricebookType__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Professional</stringValue>
            </value>
        </filters>
        <object>Pricebook2</object>
        <outputReference>getPricebook</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>PricingMethod__c</queriedFields>
        <queriedFields>Subsidiary__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getProfessionalRecordTypeId</name>
        <label>getProfessionalRecordTypeId</label>
        <locationX>1338</locationX>
        <locationY>970</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assRecordTypeProf</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Professional</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>frmSelectRecordType</name>
        <label>Select Record Type</label>
        <locationX>1972</locationX>
        <locationY>1551</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assRecordType_0</targetReference>
        </connector>
        <fields>
            <name>selectedRecordType</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>RecordType</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatableV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>lstRecordTypes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Select Record Type</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OpportunityNameErrorScreen</name>
        <label>OpportunityNameErrorScreen</label>
        <locationX>2193</locationX>
        <locationY>1295</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>OpportunityValues</targetReference>
        </connector>
        <fields>
            <name>OpportunityNameLengthError</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;The Opportunity Name length for Professional is 80 characters!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>OpportunityValues</name>
        <label>Opportunity Values</label>
        <locationX>1912</locationX>
        <locationY>1097</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Lead_Source_Filled</targetReference>
        </connector>
        <fields>
            <name>NHProfNameLengthNotification</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;color: rgb(255, 0, 0); font-size: 10px;&quot;&gt;Please note that the Opportunity Name length for Professional is 80 characters. Please enter a name of 80 characters or less.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getAccount.isProfessional__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>NewOpportunity.Name</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>NewOpportunity.CloseDate</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>NewOpportunity.StageName</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getProfessionalRecordTypeId.DeveloperName</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Professional</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>NewOpportunity.CustomerRelationship__c</objectFieldReference>
        </fields>
        <fields>
            <name>errMsgDisp</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!errMessage}&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>errMessage</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>NewOpportunity.LeadSource</objectFieldReference>
        </fields>
        <fields>
            <name>Pricing_Method</name>
            <choiceReferences>pricingmethodSelect</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PricingMethodPB</elementReference>
            </defaultValue>
            <fieldText>Pricing Method</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrErrorMessage</name>
        <label>scrErrorMessage</label>
        <locationX>2342</locationX>
        <locationY>845</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>OpportunityValues</targetReference>
        </connector>
        <fields>
            <name>scr_missingvalues</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(234, 14, 14);&quot;&gt;Please make sure all fields are entered for the opportunity. Click next to update.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you completed all fields and the problem remains then please contact support.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screViewOpportunity</name>
        <label>screViewOpportunity</label>
        <locationX>2650</locationX>
        <locationY>1187</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>clickViewOpportunity</name>
            <fieldText>&lt;p&gt;Your Opportunity has been created&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!txtUrlRedirect}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectPricebookScreen</name>
        <label>Select Pricebook Screen</label>
        <locationX>643</locationX>
        <locationY>779</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assPricebookScreen</targetReference>
        </connector>
        <fields>
            <name>SelectedPricebook_0</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Pricebook2</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatableV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>getPricebook</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableBorder</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Select Pricebook</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>PricebookSize</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>962</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>getAccount</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>txtUrlRedirect</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;a href=&quot;/lightning/r/Opportunity/{!NewOpportunity.Id}/view&quot; target=&quot;_parent&quot;&gt;View Opportunity&lt;/a&gt;</text>
    </textTemplates>
    <variables>
        <name>errMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstPricebook</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstRecordTypes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>NewOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OppRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PricebookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PricebookName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PricebookSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>PricingMethodPB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordTypeSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>RelatedListOpp</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
