force-app/main/default/flows/OrderAfterDelete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>OrderRollupNeeded</name>
        <label>Order Rollup Needed?</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Rollup is not needed</defaultConnectorLabel>
        <rules>
            <name>RollupIsNeeded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Billto__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RollupOrders</targetReference>
            </connector>
            <label>Rollup is needed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Order - After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order - After Delete</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>OrderRollupNeeded</targetReference>
        </connector>
        <object>Order</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>RollupOrders</name>
        <label>Rollup Orders</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <flowName>RollupOrdersToAccount</flowName>
        <inputAssignments>
            <name>varBillTo</name>
            <value>
                <elementReference>$Record.Billto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCorrectNumberOfOrders</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNetsuiteVendorId</name>
            <value>
                <elementReference>$Record.Billto__r.NetSuiteVendorId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varVendorToggle</name>
            <value>
                <elementReference>$Record.Billto__r.VendorToggle__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varNumberOfOrders</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
