force-app/main/default/flows/Order_RetriggerIntegrationFactorySync.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>IFCallout1</name>
        <label>IFCallout1</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <actionName>IFNamedX1.SetVariablesIF1</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Can_Save_Order</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>IFBody1</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IFNamedX1.SetVariablesIF1</nameSegment>
        <outputParameters>
            <assignToReference>IFOutputBody1</assignToReference>
            <name>2XX</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>assBodyVar</name>
        <label>assBodyVar</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>IFBody1.orderNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOrder.OrderNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IFCallout1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Flow_Output</name>
        <label>Assign Flow Output</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>FlowOutputString</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IFResponsString</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_1_of_assBodyVar</name>
        <label>assBodyVar</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>IFBody1.orderNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Order.OrderNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IFCallout1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Can_Save_Order</name>
        <label>Can Save Order</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Assign_Flow_Output</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Save</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SaveRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order</targetReference>
            </connector>
            <label>Yes Save</label>
        </rules>
    </decisions>
    <decisions>
        <description>If Order was received do not query if only OrderId received then query</description>
        <name>Order_or_OrderId</name>
        <label>Order or OrderId</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>getOrder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OrderId</defaultConnectorLabel>
        <rules>
            <name>Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Order</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_assBodyVar</targetReference>
            </connector>
            <label>Order</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IFResponsString</name>
        <dataType>String</dataType>
        <expression>IF({!IFOutputBody1.success} = true, &quot;Success&quot; , &quot;Failed&quot;) &amp; &quot; : &quot; &amp; TEXT(DATETIMEVALUE(NOW()))</expression>
    </formulas>
    <interviewLabel>Order_RetriggerIntegrationFactory {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order_RetriggerIntegrationFactorySync</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getOrder</name>
        <label>getOrder</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assBodyVar</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Order with IF Response</description>
        <name>Update_Order</name>
        <label>Update Order</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Order.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SuccessStatusOfLastAWSUpdate__c</field>
            <value>
                <elementReference>IFResponsString</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Order_or_OrderId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FlowOutputString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IFBody1</name>
        <apexClass>ExternalService__IFNamedX1_SetVariablesIF1_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IFOutputBody1</name>
        <apexClass>ExternalService__IFNamedX1_SetVariablesIF1_OUT_2XX</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SaveRecord</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
</Flow>
