force-app/main/default/flows/Order_ResetRenewalDates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ResetAssetRenewalDates</name>
        <label>Reset Asset Renewal Dates</label>
        <locationX>644</locationX>
        <locationY>1190</locationY>
        <actionName>Order_AssetRenewalDatesInvoc</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AssetsRenewed</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>allowRenewal</name>
            <value>
                <elementReference>RenewAssets</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>assetsIdList</name>
            <value>
                <elementReference>var_AssetIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Order_AssetRenewalDatesInvoc</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AssignAssetIds</name>
        <label>Assign Asset Ids</label>
        <locationX>435</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>var_AssetIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopOrderProducts.Asset__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOrderProducts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNoAssetFound</name>
        <label>Assign No Asset Found</label>
        <locationX>699</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>NoAssetOrderProductNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!LoopOrderProducts.Id}, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoAssetFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOrderProducts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AllOrderProductsHaveAssets</name>
        <label>VarNoAssetFoundVar Set</label>
        <locationX>347</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>RenewOrderAssetsScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NoAssetFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OrderProductNoAssetScreen</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>AssetsRenewed</name>
        <label>Assets Renewed?</label>
        <locationX>644</locationX>
        <locationY>1310</locationY>
        <defaultConnector>
            <targetReference>RenewalDatesResetConfirmationScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Only Assets Dates Reset</defaultConnectorLabel>
        <rules>
            <name>YesRenewed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RenewAssets</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subflow_Update_Order</targetReference>
            </connector>
            <label>Yes Renewed</label>
        </rules>
    </decisions>
    <decisions>
        <name>DoesTheProductHaveAnAsset</name>
        <label>Does The Product Have An Asset</label>
        <locationX>567</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>AssignNoAssetFound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ProductHasAsset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopOrderProducts.Asset__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignAssetIds</targetReference>
            </connector>
            <label>Product Has Asset</label>
        </rules>
    </decisions>
    <decisions>
        <name>Subflow_Error</name>
        <label>Subflow Error</label>
        <locationX>446</locationX>
        <locationY>1550</locationY>
        <defaultConnector>
            <targetReference>FinalScreenMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Error</defaultConnectorLabel>
        <rules>
            <name>Yes_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ErrorMessageFromSubflow</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Message_Screen</targetReference>
            </connector>
            <label>Yes Error</label>
        </rules>
    </decisions>
    <description>Reset Assets Renewal Dates</description>
    <environments>Default</environments>
    <interviewLabel>Order_ResetRenewalDates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order_ResetRenewalDates</label>
    <loops>
        <name>LoopOrderProducts</name>
        <label>Loop Order Products</label>
        <locationX>347</locationX>
        <locationY>398</locationY>
        <collectionReference>Get_Order_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DoesTheProductHaveAnAsset</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AllOrderProductsHaveAssets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Query the Order Products related to the Order the flow is launched from</description>
        <name>Get_Order_Products</name>
        <label>Get Order Products</label>
        <locationX>347</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOrderProducts</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error_Message_Screen</name>
        <label>Error Message Screen</label>
        <locationX>314</locationX>
        <locationY>1670</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FlowErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;An unexpected error has occured, please contact the System Administrator.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;u&gt;Error message:&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FinalScreenMessage</name>
        <label>Final Screen Message</label>
        <locationX>578</locationX>
        <locationY>1670</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>GoToOrder</name>
            <fieldText>&lt;p&gt;Navigate to the new Renewal Order created:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Click on the &lt;strong&gt;Order&lt;/strong&gt; tab.&lt;/li&gt;&lt;li&gt;Open the newest Order related to the Account the Renewal Order is created for.&lt;/li&gt;&lt;li&gt;View the Order Products and related Assests.&lt;/li&gt;&lt;li&gt;If there are no errors on the Order, the Order will be auto activated in a few minutes or you can manually click Activate now.&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OrderProductNoAssetScreen</name>
        <label>Order Product No Asset Screen</label>
        <locationX>50</locationX>
        <locationY>1070</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>OrderProductNoAssetText</name>
            <fieldText>&lt;p&gt;This Order Products have no Assets linked.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Order Product Ids:&lt;/p&gt;&lt;p&gt;{!NoAssetOrderProductNumber}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RenewalDatesResetConfirmationScreen</name>
        <label>Renewal Dates Reset Confirmation Screen</label>
        <locationX>842</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RenewalDatesResetConfirmation</name>
            <fieldText>&lt;p&gt;The Renewal Dates on the Assets have been reset. You can now manually update the Assets if needed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RenewOrderAssetsScreen</name>
        <label>Renew Order Assets Screen</label>
        <locationX>644</locationX>
        <locationY>1070</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ResetAssetRenewalDates</targetReference>
        </connector>
        <fields>
            <name>ConfirmationMessageNote</name>
            <fieldText>&lt;p&gt;Please check the Renew Assets checkbox if you want to renew the assets for this Order now.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Leave it unchecked if you do not want to renew the assets now and if you want to make changes to the assets first.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RenewAssets</name>
            <dataType>Boolean</dataType>
            <fieldText>Renew Assets</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ConfirmRenewMessage</name>
            <fieldText>&lt;p&gt;The Order Product Assets related this Order will be renewed and a new Order will be created.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please note you have to manually cancel/update the status of this Renewal Order if not activated.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RenewAssets</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ResetAssetsRenewalDatesScreen</name>
        <label>Reset Assets Renewal Dates Screen</label>
        <locationX>347</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Order_Products</targetReference>
        </connector>
        <fields>
            <name>ConfirmResetMessage</name>
            <fieldText>&lt;p&gt;This action will reset the Renewal Date on all the Assets of the Order Products related to this Order.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please confirm to continue to Reset the Renewal Dates.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>221</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ResetAssetsRenewalDatesScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Subflow_Update_Order</name>
        <label>Subflow Update Order</label>
        <locationX>446</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Subflow_Error</targetReference>
        </connector>
        <flowName>Order_ResetRenewalDates_Subflow</flowName>
        <inputAssignments>
            <name>varRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ErrorMessageFromSubflow</assignToReference>
            <name>subflowErrorMessage</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>ErrorMessageFromSubflow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NoAssetFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NoAssetOrderProductNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Id of the record on the screen of which this flow is launched from. (Order Id)</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_AssetIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
