force-app/main/default/flows/Order_ScheduleResyncFailedOrders.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>resyncFailedOrders</name>
        <label>resyncFailedOrders</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <actionName>Order_ResyncFailedOrdersBatch</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_All_Orders_that_are_activated_but_not_in_NS</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>Order_ResyncFailedOrdersBatch</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Values</name>
        <label>Assign Values</label>
        <locationX>484</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>Loop_Order_Records.IntegrationFactorySend__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempOrders</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Order_Records</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>tempOrders</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Batch_Size_Met</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Temp</name>
        <label>Clear Temp</label>
        <locationX>352</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>tempOrders</assignToReference>
            <operator>RemoveAll</operator>
        </assignmentItems>
        <connector>
            <targetReference>Wait_a_moment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Batch_Size_Met</name>
        <label>Batch Size Met</label>
        <locationX>484</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>Loop_Order_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>tempSize</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_tempOrders_for_Resync</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Resync activated orders that have not been received by NS
------------------------------------------------------------------
New Process to resend the order or just orderId to IF</description>
    <environments>Default</environments>
    <interviewLabel>Order_ScheduleResyncFailedOrders {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order_ScheduleResyncFailedOrders</label>
    <loops>
        <name>Loop_Order_Records</name>
        <label>Loop Order Records</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <collectionReference>Get_All_Orders_that_are_activated_but_not_in_NS</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Values</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Orders_that_are_activated_but_not_in_NS</name>
        <label>Get All Orders that are activated but not in NS</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Order_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <filters>
            <field>SyncedWithNS__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>NSOrderStatus__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OperatingCompany__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ErrorReason__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </filters>
        <filters>
            <field>ValidationErrorsOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>SuccessStatusOfLastAWSUpdate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BlockSync__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_tempOrders_for_Resync</name>
        <label>Update tempOrders for Resync</label>
        <locationX>352</locationX>
        <locationY>792</locationY>
        <connector>
            <targetReference>Clear_Temp</targetReference>
        </connector>
        <inputReference>tempOrders</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>resyncFailedOrders</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-11-15</startDate>
            <startTime>00:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter_Orders_to_sync_OrderNumber_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>IFResendResponseString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>tempOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>tempOrders</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>tempSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <waits>
        <name>Wait_a_moment</name>
        <label>Wait a moment</label>
        <locationX>352</locationX>
        <locationY>1008</locationY>
        <defaultConnector>
            <targetReference>Loop_Order_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Soon_as_possible</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Loop_Order_Records</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Soon as possible</label>
        </waitEvents>
    </waits>
</Flow>
