force-app/main/default/flows/Order_SetItemHfdstructuur.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_EAN_to_list</name>
        <label>Add EAN to list</label>
        <locationX>402</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>EAN_ls</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Metadata_Records.ProductEAN__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Metadata_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Validation_to_0</name>
        <label>Set Validation to 0</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Get_Order.ValidateItemHfdstructuur__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_there_products</name>
        <label>Are there products?</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_scr_ErrNoProducts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_OrderItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order.PricebookName__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Informat</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrSetHfdstructuurs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_OrderItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order.PricebookName__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Informat</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scr_ErrNoProducts</targetReference>
            </connector>
            <label>No products</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Order_SetItemHfdstructuur {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order_SetItemHfdstructuur</label>
    <loops>
        <name>Loop_through_Metadata_Records</name>
        <label>Loop through Metadata Records</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Metadata_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_EAN_to_list</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Order</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Metadata_Products</name>
        <label>Get Metadata Products</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Metadata_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BusinessUnit__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PlantynInformat</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AssetProductRenewal__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>314</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_OrderItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OrderItems</name>
        <label>Get OrderItems</label>
        <locationX>314</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductEAN__c</field>
            <operator>In</operator>
            <value>
                <elementReference>EAN_ls</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order</name>
        <label>Update Order</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <inputReference>Get_Order</inputReference>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_scr_ErrNoProducts</name>
        <label>scr_ErrNoProducts</label>
        <locationX>578</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_sp_NoProducts</name>
            <fieldText>&lt;p style=&quot;user-select: auto;&quot;&gt;This feature is not available for this order.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scr_ErrNoProducts</name>
        <label>scr_ErrNoProducts</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Validation_to_0</targetReference>
        </connector>
        <fields>
            <name>sp_NoProducts</name>
            <fieldText>&lt;p style=&quot;user-select: auto;&quot;&gt;There are either no products on this order or there are no products on this order that Hfdstructuur numbers need to be applied to. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrSetHfdstructuurs</name>
        <label>scrSetHfdstructuurs</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>lwc_orderProductHfdstructuur</name>
            <extensionName>c:orderProductHfdstructuur</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>orderId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>dataTableOrderItems</assignToReference>
                <name>lstRecords</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Metadata_Products</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>dataTableOrderItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>EAN_ls</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
