force-app/main/default/flows/Order_UpdateShippingAddresonItems.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>addtoList</name>
        <label>addtoList</label>
        <locationX>886</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>lstUpdateItems</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>loopItems</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assLoadCurrentShipping</name>
        <label>assLoadCurrentShipping</label>
        <locationX>666</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>assShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOrderHeader.ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOrderHeader.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOrderHeader.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOrderHeader.ShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assOrderReference</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOrderHeader.CustomerReference__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assOrderShipBy</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOrderHeader.ShipbyDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>frmEnterNewShippingAddress</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assOrderShipping</name>
        <label>assOrderShipping</label>
        <locationX>666</locationX>
        <locationY>1670</locationY>
        <assignmentItems>
            <assignToReference>getOrderHeader.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>assShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getOrderHeader.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>assShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getOrderHeader.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>assShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getOrderHeader.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>assShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getOrderHeader.CustomerReference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_reference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getOrderHeader.ShipbyDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ship_By_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getOrderHeader.TriggerBusinessRules__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateOrderHeader</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assShippingAdress</name>
        <label>assShippingAdress</label>
        <locationX>886</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>loopItems.ShippingStreet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>assShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopItems.ShippingCity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>assShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopItems.ShippingPostalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>assShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopItems.ShippingCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>assShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopItems.CustomerReference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_reference</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addtoList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Start_Date</name>
        <label>Set Start Date</label>
        <locationX>754</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>loopItems.ServiceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ship_By_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopItems.StartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ship_By_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assShippingAdress</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decMultiShipping</name>
        <label>decMultiShipping</label>
        <locationX>358</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>assLoadCurrentShipping</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isMultiShipping</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getOrderHeader.MultipleShippingLocations__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getOrderHeader.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Multiple_Shipping_location_message</targetReference>
            </connector>
            <label>isMultiShipping</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Product_Have_a_Fixed_Start_Date</name>
        <label>Does Product Have a Fixed Start Date</label>
        <locationX>886</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>assShippingAdress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopItems.ProductHasFixedStartDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Start_Date</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>CH: 2022/05/20 - added Ship By Date</description>
    <interviewLabel>Order_UpdateShippingAddresonItems {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order_UpdateShippingAddresonItems</label>
    <loops>
        <name>loopItems</name>
        <label>loopItems</label>
        <locationX>666</locationX>
        <locationY>758</locationY>
        <collectionReference>getLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_Product_Have_a_Fixed_Start_Date</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateShippingAddressItems</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getLineItems</name>
        <label>getLineItems</label>
        <locationX>666</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOrderHeader</name>
        <label>getOrderHeader</label>
        <locationX>358</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decMultiShipping</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateOrderHeader</name>
        <label>updateOrderHeader</label>
        <locationX>666</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>finished</targetReference>
        </connector>
        <inputReference>getOrderHeader</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateShippingAddressItems</name>
        <label>updateShippingAddressItems</label>
        <locationX>666</locationX>
        <locationY>1550</locationY>
        <connector>
            <targetReference>assOrderShipping</targetReference>
        </connector>
        <inputReference>lstUpdateItems</inputReference>
    </recordUpdates>
    <screens>
        <name>finished</name>
        <label>finished</label>
        <locationX>666</locationX>
        <locationY>1910</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>updateCompleted</name>
            <fieldText>&lt;p&gt;Update completed&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>frmEnterNewShippingAddress</name>
        <label>Enter New Shipping Address</label>
        <locationX>666</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getLineItems</targetReference>
        </connector>
        <fields>
            <name>txtEnterShipping</name>
            <fieldText>&lt;p style=&quot;user-select: auto;&quot;&gt;Update shipping details:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>frmAddress</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>assShippingPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>assShippingStreet</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>assShippingCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>assShippingCity</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>assShippingCity</assignToReference>
                <name>city</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>assShippingCountry</assignToReference>
                <name>country</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>assShippingPostalCode</assignToReference>
                <name>postalCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>assShippingStreet</assignToReference>
                <name>street</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Order_reference</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>assOrderReference</elementReference>
            </defaultValue>
            <fieldText>Order Reference</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Ship_By_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>assOrderShipBy</elementReference>
            </defaultValue>
            <fieldText>Ship By Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Multiple_Shipping_location_message</name>
        <label>Multiple Shipping location message</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>multiplelocationsmessage</name>
            <fieldText>&lt;p&gt;Can&apos;t do update for Multi Shipping locations or Activated Orders&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getOrderHeader</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>assOrderReference</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assOrderShipBy</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assShippingCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assShippingCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assShippingPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assShippingProvince</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assShippingStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstUpdateItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
