force-app/main/default/flows/Order_RelatedOrderActivate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ActivateAllOrders</name>
        <label>ActivateAllOrders</label>
        <locationX>470</locationX>
        <locationY>243</locationY>
        <actionName>Order_RelatedOrderProcess</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Activation_Message</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>MaxOrderLineId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProcessToRun</name>
            <value>
                <stringValue>ActivateOrders</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Order_RelatedOrderProcess</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>O {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order_RelatedOrderActivate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Activation_Message</name>
        <label>Activation Message</label>
        <locationX>676</locationX>
        <locationY>228</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ActivationDisplayMessage</name>
            <fieldText>&lt;p&gt;The Orders are being activated one at a time. It can take a few minutes to complete. Please refresh the screen to see the progress.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>ActivateAllOrders</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
