force-app/main/default/flows/Order_Product_Create_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Copy_1_of_Set_Campaign</name>
        <label>Copy 1 of Set Campaign</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>CampaignRec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Relevant_Campaign_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Campaign</name>
        <label>Set Campaign</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>CampaignRec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Relevant_Campaign</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Lead</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Campaign_Exists</name>
        <label>Campaign Exists?</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Get_Relevant_Campaign_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CampaignExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Relevant_Campaign</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Campaign</targetReference>
            </connector>
            <label>CampaignExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Necessary_Fields</name>
        <label>Has Necessary Fields</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesContinue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Order.OrderedByFirstName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order.OrderedByLastName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order.OrderedByEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Relevant_Campaign</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Proceed</name>
        <label>Proceed?</label>
        <locationX>611</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OrderLineType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inspection Copy</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OrderStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OrderStatus__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Necessary_Fields</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>CH - 21/12/2022: added decision to check if the required fields on lead are available
CH - 13/01/2023: added brand and message assignment</description>
    <environments>Default</environments>
    <formulas>
        <name>campaignNameCheck</name>
        <dataType>String</dataType>
        <expression>&apos;Always-On - Inspection Copies - &apos; + {!productSubSegment} + &apos; - &apos; + {!productSegment}</expression>
    </formulas>
    <formulas>
        <name>leadMessage</name>
        <dataType>String</dataType>
        <expression>{!$Record.Product2.Name} + &apos; : &apos; + {!$Record.Product2.ISBN__c}</expression>
    </formulas>
    <formulas>
        <name>productSegment</name>
        <dataType>String</dataType>
        <expression>IF(INCLUDES({!$Record.Product2.SoldInSegment__c}, &apos;PrimaryEducation&apos;), &apos;PE&apos;, IF(INCLUDES({!$Record.Product2.SoldInSegment__c}, &apos;SecondaryEducation&apos;), &apos;SE&apos;, &apos;&apos;))</expression>
    </formulas>
    <formulas>
        <description>Dutch = NL
French = FR
Else blank</description>
        <name>productSubSegment</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.Product2.SoldInSubSegment__c}, &apos;Dutch&apos;), &apos;NL&apos;, IF(ISPICKVAL({!$Record.Product2.SoldInSubSegment__c}, &apos;French&apos;), &apos;FR&apos;, &apos;&apos;))</expression>
    </formulas>
    <interviewLabel>Order Product: Create Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Product: Create Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Lead</name>
        <label>Create Lead</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Update_Order_Product</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Order.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AutoConvert__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>CampaignRec.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>$Record.Order.Shipto__r.ShippingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>$Record.Order.Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>$Record.Order.ShippingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Order.OrderedByEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.Order.OrderedByFirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Order.OrderedByLastName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>eCommerce</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>leadMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Method__c</field>
            <value>
                <elementReference>$Record.Product2.Method__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumberOfEmployees</field>
            <value>
                <elementReference>$Record.Order.Account.NumberofStudents__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OperatingCompany__c</field>
            <value>
                <elementReference>$Record.OperatingCompany__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderReference__c</field>
            <value>
                <elementReference>$Record.Order.CustomerReference__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderingDate__c</field>
            <value>
                <elementReference>$Record.Order.ActivatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>$Record.Order.ShippingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProcessingDate__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>$Record.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>$Record.Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>$Record.Order.ShippingStreet</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Relevant_Campaign</name>
        <label>Get Relevant Campaign</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campaign_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>campaignNameCheck</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Relevant_Campaign_2</name>
        <label>Get Relevant Campaign</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Set_Campaign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Always-On - Inspection Copies - Other</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order_Product</name>
        <label>Update Order Product</label>
        <locationX>182</locationX>
        <locationY>1163</locationY>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>Create_Lead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TriggerLeadCreation__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Proceed</targetReference>
        </connector>
        <object>OrderItem</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CampaignRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
</Flow>
