force-app/main/default/flows/Order_CorrectOrder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Clone_with_Related</name>
        <label>Clone with Related</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <actionName>UTIL_CloneObjectAndRelatedrecord</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Original_Order</targetReference>
        </connector>
        <faultConnector>
            <targetReference>faultScr1</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>createdByCorrectionProcess</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderType</name>
            <value>
                <stringValue>Correction</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UTIL_CloneObjectAndRelatedrecord</nameSegment>
        <outputParameters>
            <assignToReference>insertedRecIdLs</assignToReference>
            <name>clonedRecordLs</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Clone_with_Related</name>
        <label>Clone with Related</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <actionName>UTIL_CloneObjectAndRelatedrecord</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Were_records_inserted</targetReference>
        </connector>
        <faultConnector>
            <targetReference>faultScr2</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>createdByCorrectionProcess</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UTIL_CloneObjectAndRelatedrecord</nameSegment>
        <outputParameters>
            <assignToReference>insertedRecIdLs</assignToReference>
            <name>clonedRecordLs</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Redirect_to_new_record</name>
        <label>Redirect to new record</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <actionName>ecflc:flowURLRedirect</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>urlRedirect</name>
            <value>
                <stringValue>/{!insertedRecId}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ecflc:flowURLRedirect</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Set_as_correction_order</name>
        <label>Set as correction order</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>bIsCorrection</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Correction_Order_or_Clone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_inserted_rec_ID</name>
        <label>Set inserted rec ID</label>
        <locationX>270</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>insertedRecId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_inserted_rec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_inserted_rec</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CloneOrder</name>
        <choiceText>Clone order</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Clone order</stringValue>
        </value>
    </choices>
    <choices>
        <name>Create_correction_order</name>
        <choiceText>Create correction order</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create correction order</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Correction_Order_or_Clone</name>
        <label>Correction Order or Clone</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>sureAboutCloningScr</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Correction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bIsCorrection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sureAboutCorrectionScr</targetReference>
            </connector>
            <label>Correction</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_records_inserted</name>
        <label>Were records inserted?</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>recsNotInsertedScr</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>insertedRecIdLs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_each_inserted_rec</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Order_CorrectionOrder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order_CorrectOrder</label>
    <loops>
        <name>For_each_inserted_rec</name>
        <label>For each inserted rec</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <collectionReference>insertedRecIdLs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_inserted_rec_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Redirect_to_new_record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Original_Order</name>
        <label>Update Original Order</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Were_records_inserted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Corrected</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>faultScr1</name>
        <label>faultScr1</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorTxt1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 1, 1);&quot;&gt;It looks like something went wrong when trying to correct this record.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please contact your system admin, and give them this error message: {!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>faultScr2</name>
        <label>faultScr2</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorTxt2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 1, 1);&quot;&gt;It looks like something went wrong when trying to clone this record.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please contact your system admin, and give them this error message: {!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>recsNotInsertedScr</name>
        <label>recsNotInsertedScr</label>
        <locationX>446</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>recsNotInsertedTxt</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 1, 1);&quot;&gt;It looks like something went wrong when trying to clone this record.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 1, 1);&quot;&gt;Please contact your system admin.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>sureAboutCloningScr</name>
        <label>sureAboutCloningScr?</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Clone_with_Related</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_dsp1</name>
            <fieldText>&lt;p style=&quot;user-select: auto;&quot;&gt;Clicking on &apos;Next&apos; will create a clone order for this order.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>sureAboutCorrectionScr</name>
        <label>sureAboutCorrectionScr?</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Clone_with_Related</targetReference>
        </connector>
        <fields>
            <name>dsp1</name>
            <fieldText>&lt;p style=&quot;user-select: auto;&quot;&gt;Clicking on &apos;Next&apos; will create a correction order for this order. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_as_correction_order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>bIsCorrection</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>insertedRecId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>insertedRecIdLs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
