force-app/main/default/flows/Order_EditProductReferences.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Product_to_List</name>
        <label>Add Product to List</label>
        <locationX>1282</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>productsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_products_Char_Limit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_products_Char_Limit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Product_to_List2</name>
        <label>Add Product to List</label>
        <locationX>138</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>productsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_products</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_reference_Liber</name>
        <label>Set reference Liber</label>
        <locationX>1282</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_products_Char_Limit.CustomerReference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>liberReference</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Product_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_reference_PU_NH</name>
        <label>Set reference PU-NH</label>
        <locationX>1018</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_products_Char_Limit.CustomerReference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plantynReference</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Product_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_reference_to_45_chars</name>
        <label>Set reference to 45 chars</label>
        <locationX>1546</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_products_Char_Limit.CustomerReference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>defaultReference</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Product_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_reference_to_input</name>
        <label>Set reference to input</label>
        <locationX>138</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_products.CustomerReference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_reference</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Product_to_List2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_OrderProducts</name>
        <label>Has OrderProducts</label>
        <locationX>1040</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_OrderProducts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Edit_Order_Products_scr</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reference_needs_to_be_chopped</name>
        <label>Reference needs to be chopped?</label>
        <locationX>1282</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Set_reference_to_45_chars</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_PlantynNoorhoff</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_products_Char_Limit.CustomerReference__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_products_Char_Limit.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Plantyn</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_products_Char_Limit.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_products_Char_Limit.IsPricebookInformat__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_reference_PU_NH</targetReference>
            </connector>
            <label>Yes_Plantyn OR Noordhoff</label>
        </rules>
        <rules>
            <name>Yes_Liber</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_products_Char_Limit.CustomerReference__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_products_Char_Limit.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Liber</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_products_Char_Limit.IsPricebookInformat__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_reference_Liber</targetReference>
            </connector>
            <label>Yes_Liber</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_button_was_clicked</name>
        <label>Which button was clicked?</label>
        <locationX>622</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesApplyAll</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>applyAllBar.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Apply to all</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_products</targetReference>
            </connector>
            <label>Apply all</label>
        </rules>
        <rules>
            <name>Fix_character_limit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fixCharLength.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fix character length</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_products_Char_Limit</targetReference>
            </connector>
            <label>Fix character limit</label>
        </rules>
    </decisions>
    <description>DB: 02/10/2023 Updated character reference limits</description>
    <environments>Default</environments>
    <formulas>
        <description>limited to 45 chars</description>
        <name>defaultReference</name>
        <dataType>String</dataType>
        <expression>LEFT({!Loop_through_products_Char_Limit.CustomerReference__c}, 45)</expression>
    </formulas>
    <formulas>
        <description>35 char limit</description>
        <name>liberReference</name>
        <dataType>String</dataType>
        <expression>LEFT({!Loop_through_products_Char_Limit.CustomerReference__c}, 35)</expression>
    </formulas>
    <formulas>
        <description>10 char limit</description>
        <name>plantynReference</name>
        <dataType>String</dataType>
        <expression>LEFT({!Loop_through_products_Char_Limit.CustomerReference__c}, 30)</expression>
    </formulas>
    <formulas>
        <name>referenceMax</name>
        <dataType>String</dataType>
        <expression>IF(OR(AND(CONTAINS({!Get_Order.Pricebook2.Name}, &apos;Plantyn&apos;), NOT(CONTAINS({!Get_Order.Pricebook2.Name}, &apos;Informat&apos;))), AND(CONTAINS({!Get_Order.Pricebook2.Name}, &apos;Noordhoff&apos;), NOT(CONTAINS({!Get_Order.Pricebook2.Name}, &apos;Professional&apos;)))), &apos;30&apos;,
IF(CONTAINS({!Get_Order.Pricebook2.Name}, &apos;Liber&apos;),&apos;35&apos;, 
IF(AND(CONTAINS({!Get_Order.Pricebook2.Name}, &apos;Professional&apos;), {!Get_Order.InventoryItemShippingAddressCount__c} &gt; 0), &apos;30&apos;, 
IF(AND(CONTAINS({!Get_Order.Pricebook2.Name}, &apos;Professional&apos;), OR({!Get_Order.InventoryItemShippingAddressCount__c} = 0, ISBLANK({!Get_Order.InventoryItemShippingAddressCount__c}))), &apos;255&apos;, &apos;45&apos;))))</expression>
    </formulas>
    <interviewLabel>Order Products: {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order_EditProductReferences</label>
    <loops>
        <name>Loop_through_products</name>
        <label>Loop through products</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <collectionReference>Get_OrderProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_reference_to_input</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Order_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_products_Char_Limit</name>
        <label>Loop through products_Char_Limit</label>
        <locationX>930</locationX>
        <locationY>674</locationY>
        <collectionReference>Get_OrderProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Reference_needs_to_be_chopped</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Update_Order_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>1040</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_OrderProducts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OrderProducts</name>
        <label>Get OrderProducts</label>
        <locationX>1040</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_OrderProducts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ProductName__c</queriedFields>
        <queriedFields>ProductType__c</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>CustomerReference__c</queriedFields>
        <queriedFields>OperatingCompany__c</queriedFields>
        <queriedFields>IsPricebookInformat__c</queriedFields>
        <queriedFields>ProductEAN__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Order_Products</name>
        <label>Update Order Products</label>
        <locationX>930</locationX>
        <locationY>1274</locationY>
        <inputReference>productsToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Products</name>
        <label>Update Order Products</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <inputReference>productsToUpdate</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Edit_Order_Products_scr</name>
        <label>Edit Order Products</label>
        <locationX>622</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Which_button_was_clicked</targetReference>
        </connector>
        <fields>
            <name>Edit_Order_Products_scr_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Edit_Order_Products_scr_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>charLengthDisplay</name>
                    <fieldText>&lt;p style=&quot;user-select: auto;&quot;&gt;Click the below button to fix the character length for all of the order products&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>fixCharLength</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Fix character length&quot;,&quot;value&quot;:&quot;Fix character length&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Edit_Order_Products_scr_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Edit_Order_Products_scr_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>New_reference</name>
                    <dataType>String</dataType>
                    <fieldText>New reference</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p style=&quot;user-select: auto;&quot;&gt;The maximum number of characters allowed is {!referenceMax}&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!New_reference}) &lt;= VALUE({!referenceMax})</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>applyAllBar</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>right</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Apply to all&quot;,&quot;value&quot;:&quot;Apply to all&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Note: this will apply the new reference to all of the order products</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>orderProductRefsLWC</name>
            <extensionName>c:orderProductReferences</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>orderId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>referenceMax</name>
                <value>
                    <elementReference>referenceMax</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>dataTableOrderItems</assignToReference>
                <name>lstRecords</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>914</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>dataTableOrderItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>productsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
