force-app/main/default/flows/Order_CheckTriggerBusinessRules.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>decGreaterThanMaxlineCount</name>
        <label>decGreaterThanMaxlineCount</label>
        <locationX>732</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Retrigger_Order_Business_Rules</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsGreaterThanMaxlineCount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOrder</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order</targetReference>
            </connector>
            <label>IsGreaterThanMaxlineCount</label>
        </rules>
    </decisions>
    <description>Trigger Business Rules checkbox set to true to manually retrigger business rules</description>
    <environments>Default</environments>
    <interviewLabel>Trigger Business Rules checkbox set to true to manually retrigger business rules {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order - Check Trigger Business Rules</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>InsertBulkBusinessRulesRecord</name>
        <label>InsertBulkBusinessRulesRecord</label>
        <locationX>1014</locationX>
        <locationY>669</locationY>
        <connector>
            <targetReference>FinishScreen_0</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>EUR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>B2BOrderTriggerUtil__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetMaxLineCount</name>
        <label>GetMaxLineCount</label>
        <locationX>425</locationX>
        <locationY>303</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetOrder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LiveCount</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderLineItemMaxCount__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOrder</name>
        <label>GetOrder</label>
        <locationX>717</locationX>
        <locationY>301</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decGreaterThanMaxlineCount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LineCount__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>GetMaxLineCount.Count__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Set the Trigger Business Rules to True to retrigger the business rules</description>
        <name>Retrigger_Order_Business_Rules</name>
        <label>Retrigger Order Business Rules</label>
        <locationX>599</locationX>
        <locationY>642</locationY>
        <connector>
            <targetReference>FinishScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TriggerBusinessRules__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order</name>
        <label>Update Order</label>
        <locationX>1013</locationX>
        <locationY>465</locationY>
        <connector>
            <targetReference>InsertBulkBusinessRulesRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TriggerBusinessRulesRetries__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <screens>
        <name>FinishScreen</name>
        <label>FinishScreen</label>
        <locationX>601</locationX>
        <locationY>831</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FinishText</name>
            <fieldText>&lt;p&gt;Business Rules has been retriggered&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FinishScreen_0</name>
        <label>FinishScreen</label>
        <locationX>1015</locationX>
        <locationY>842</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FinishText_0</name>
            <fieldText>&lt;p&gt;Business Rules has been retriggered. The Order has more lines than Maximum allowed into NetSuite. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This order will now be split into multiple orders with correct line counts. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;It will take a few minutes. Please refresh the screen then to view the new orders.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>288</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetMaxLineCount</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
