force-app/main/default/flows/Product_UpdateIetmGroupBlock.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assMatchisTrue</name>
        <label>assMatchisTrue</label>
        <locationX>733</locationX>
        <locationY>569</locationY>
        <assignmentItems>
            <assignToReference>getProduct.itemGroupManualBlock__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateItemGroup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assMatchisTrueFalse</name>
        <label>assMatchisFalse</label>
        <locationX>976</locationX>
        <locationY>639</locationY>
        <assignmentItems>
            <assignToReference>getProduct.itemGroupManualBlock__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateItemGroup</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decComponentsMatch</name>
        <label>decComponentsMatch</label>
        <locationX>946</locationX>
        <locationY>406</locationY>
        <defaultConnector>
            <targetReference>assMatchisTrueFalse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ComponentsMatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getProduct.itemGroupCount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>getProduct.ItemGroupCountActual__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assMatchisTrue</targetReference>
            </connector>
            <label>ComponentsMatch</label>
        </rules>
    </decisions>
    <interviewLabel>Product - UpdateIetmGroupBlock {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product - UpdateIetmGroupBlock</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getProduct</name>
        <label>getProduct</label>
        <locationX>1049</locationX>
        <locationY>251</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decComponentsMatch</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateItemGroup</name>
        <label>updateItemGroup</label>
        <locationX>766</locationX>
        <locationY>742</locationY>
        <inputReference>getProduct</inputReference>
    </recordUpdates>
    <start>
        <locationX>1477</locationX>
        <locationY>30</locationY>
        <connector>
            <targetReference>getProduct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>itemGroupCount__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Item Group</stringValue>
            </value>
        </filters>
        <object>Product2</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
