force-app/main/default/flows/ProductComponentCount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assComponentCount</name>
        <label>assComponentCount</label>
        <locationX>1202</locationX>
        <locationY>1253</locationY>
        <assignmentItems>
            <assignToReference>mainProductRecord.ItemGroupCountActual__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ComponentCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateMainProduct</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assComponentCount_0</name>
        <label>assComponentCount</label>
        <locationX>1512</locationX>
        <locationY>804</locationY>
        <assignmentItems>
            <assignToReference>mainProductRecord.ItemGroupCountActual__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ComponentCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateMainProduct_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assMainProductIdCurrent</name>
        <label>assMainProductIdCurrent</label>
        <locationX>655</locationX>
        <locationY>1051</locationY>
        <assignmentItems>
            <assignToReference>mainProductRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getMainProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getListofProductComponets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assMainProductIdOld</name>
        <label>assMainProductIdOld</label>
        <locationX>1229</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>mainProductRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOldMain</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getOldComponents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assOldComponents</name>
        <label>assOldComponents</label>
        <locationX>1938</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>ComponentCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopOldComponents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assOldComponents_0</name>
        <label>assOldComponents</label>
        <locationX>1114</locationX>
        <locationY>793</locationY>
        <assignmentItems>
            <assignToReference>ComponentCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decnotnullMainProduct</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sumComponents</name>
        <label>sumComponents</label>
        <locationX>1405</locationX>
        <locationY>1075</locationY>
        <assignmentItems>
            <assignToReference>ComponentCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CountComponents</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decnotnullMainProduct</name>
        <label>decnotnullMainProduct</label>
        <locationX>906</locationX>
        <locationY>811</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>notnullMainProduct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MainProduct__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getMainProduct</targetReference>
            </connector>
            <label>notnullMainProduct</label>
        </rules>
    </decisions>
    <decisions>
        <name>decPrevValueNotNull</name>
        <label>decPrevValueNotNull</label>
        <locationX>962</locationX>
        <locationY>499</locationY>
        <defaultConnector>
            <targetReference>getMainProduct</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PreviousValuenotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOldMain</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assMainProductIdOld</targetReference>
            </connector>
            <label>Previous Value not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>ischangedMainProduct</name>
        <label>ischangedMainProduct</label>
        <locationX>532</locationX>
        <locationY>314</locationY>
        <defaultConnector>
            <targetReference>getMainProduct</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>changedMainProduct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MainProduct__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getOldMain</targetReference>
            </connector>
            <label>changedMainProduct</label>
        </rules>
    </decisions>
    <interviewLabel>Product Component Count {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product Component Count</label>
    <loops>
        <name>CountComponents</name>
        <label>CountComponents</label>
        <locationX>1192</locationX>
        <locationY>1070</locationY>
        <collectionReference>getListofProductComponets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>sumComponents</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>assComponentCount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopOldComponents</name>
        <label>loopOldComponents</label>
        <locationX>1724</locationX>
        <locationY>709</locationY>
        <collectionReference>getOldComponents</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assOldComponents</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>assComponentCount_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getListofProductComponets</name>
        <label>getListofProductComponets</label>
        <locationX>967</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CountComponents</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MainProduct__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>mainProductRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProductComponent__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getMainProduct</name>
        <label>getMainProduct</label>
        <locationX>642</locationX>
        <locationY>765</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assMainProductIdCurrent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MainProduct__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOldComponents</name>
        <label>getOldComponents</label>
        <locationX>1494</locationX>
        <locationY>564</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopOldComponents</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MainProduct__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOldMain.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProductComponent__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOldMain</name>
        <label>getOldMain</label>
        <locationX>1013</locationX>
        <locationY>319</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decPrevValueNotNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.MainProduct__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateMainProduct</name>
        <label>updateMainProduct</label>
        <locationX>1425</locationX>
        <locationY>1264</locationY>
        <inputReference>mainProductRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateMainProduct_0</name>
        <label>updateMainProduct</label>
        <locationX>1344</locationX>
        <locationY>799</locationY>
        <connector>
            <targetReference>assOldComponents_0</targetReference>
        </connector>
        <inputReference>mainProductRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>ischangedMainProduct</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>MainProduct__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MainProduct__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ProductComponent__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ComponentCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>MainProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>mainProductRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
</Flow>
