force-app/main/default/flows/RollupOrdersToAccount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>AssignNumberOfOrders</name>
        <label>Assign Number of Orders</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>varNumberOfOrders</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetOrders</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateAccount</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>forNumberOfOrders</name>
        <dataType>Number</dataType>
        <expression>{!varNumberOfOrders}-{!varCorrectNumberOfOrders}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>VendorToggleFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF(NOT(ISBLANK({!varNetsuiteVendorId})), 
                           IF({!varVendorToggle} = TRUE, FALSE, TRUE), 
                           {!varVendorToggle}
)</expression>
    </formulas>
    <interviewLabel>Rollup Orders to Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Rollup Orders to Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetOrders</name>
        <label>Get Orders</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignNumberOfOrders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Billto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBillTo</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAccount</name>
        <label>Update Account</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBillTo</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CountOrders__c</field>
            <value>
                <elementReference>forNumberOfOrders</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VendorToggle__c</field>
            <value>
                <elementReference>VendorToggleFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetOrders</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varBillTo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCorrectNumberOfOrders</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varNetsuiteVendorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNumberOfOrders</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varVendorToggle</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
