force-app/main/default/flows/SCPermissionsetAssignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>1700</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>soc_AssignPermissionsets</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sov_AssignPermissionSet</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Permissionsets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PermissionSet</name>
        <label>Assign PermissionSet</label>
        <locationX>1700</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>sov_AssignPermissionSet.PermissionSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Permissionsets.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_AssignPermissionSet.AssigneeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_AssignPermissionSet.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Default_user_checkbox</name>
        <label>Default user checkbox</label>
        <locationX>1612</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>sov_User.UserPermissionsMarketingUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_User.UserPermissionsKnowledgeUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_User.UserPermissionsSupportUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Operating_Company</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>User_Checkbox</name>
        <label>User Checkbox</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>sov_User.UserPermissionsSupportUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Permissionsets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>User_CheckboxNH2</name>
        <label>User Checkbox</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>sov_User.UserPermissionsKnowledgeUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_User.UserPermissionsSupportUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Permissionsets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>User_CheckboxNH3</name>
        <label>User Checkbox</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>sov_User.UserPermissionsSupportUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Permissionsets</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Operating_Company</name>
        <label>Operating Company</label>
        <locationX>1612</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Noordhoff</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_User.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Role_Noordhoff</targetReference>
            </connector>
            <label>Noordhoff</label>
        </rules>
        <rules>
            <name>Noordhoff_Professional</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_User.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff Professional</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Role_Noordhoff_Professional</targetReference>
            </connector>
            <label>Noordhoff Professional</label>
        </rules>
        <rules>
            <name>Plantyn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_User.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Plantyn</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Role_Plantyn</targetReference>
            </connector>
            <label>Plantyn</label>
        </rules>
        <rules>
            <name>Liber</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_User.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Liber</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Role_Liber</targetReference>
            </connector>
            <label>Liber</label>
        </rules>
    </decisions>
    <decisions>
        <name>Role_Liber</name>
        <label>Role Liber</label>
        <locationX>2382</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Liber_Customer_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_User.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Liber_Customer_Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PermissionsetLI1</targetReference>
            </connector>
            <label>Liber Customer Service</label>
        </rules>
    </decisions>
    <decisions>
        <name>Role_Noordhoff</name>
        <label>Role Noordhoff</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Noordhoff_Customer_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_User.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff_Customer_Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Permissionsets</targetReference>
            </connector>
            <label>Noordhoff Customer Service</label>
        </rules>
        <rules>
            <name>Noordhoff_Knowledge_Base_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_User.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff_Knowledge_Base_Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PermissionsetsNH2</targetReference>
            </connector>
            <label>Noordhoff Knowledge Base Manager</label>
        </rules>
        <rules>
            <name>Noordhoff_Customer_Service_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_User.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff_Customer_Service_Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PermissionsetsNH3</targetReference>
            </connector>
            <label>Noordhoff Customer Service Manager</label>
        </rules>
    </decisions>
    <decisions>
        <name>Role_Noordhoff_Professional</name>
        <label>Role Noordhoff Professional</label>
        <locationX>1282</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Noordhoff_Customer_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_User.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff_Customer_Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Permissionsets</targetReference>
            </connector>
            <label>Copy 1 of Noordhoff Customer Service</label>
        </rules>
        <rules>
            <name>Copy_1_of_Noordhoff_Knowledge_Base_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_User.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff_Knowledge_Base_Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Permissionsets</targetReference>
            </connector>
            <label>Copy 1 of Noordhoff Knowledge Base Manager</label>
        </rules>
    </decisions>
    <decisions>
        <name>Role_Plantyn</name>
        <label>Role Plantyn</label>
        <locationX>1854</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Plantyn_Customer_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_User.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Plantyn_Customer_Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PermissionsetsP1</targetReference>
            </connector>
            <label>Plantyn Customer Service</label>
        </rules>
    </decisions>
    <description>MV 13/02/24: Added Create Orders and Noordhoff CS OmniChannel permissions
MR 21/03/24 Added ManageQuickTexts PS for KB Agent and for Service Manager</description>
    <environments>Default</environments>
    <interviewLabel>Sub {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Permissionset Assignment</label>
    <loops>
        <name>Loop_Permissionsets</name>
        <label>Loop Permissionsets</label>
        <locationX>1612</locationX>
        <locationY>842</locationY>
        <collectionReference>soc_Permissionsets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_PermissionSet</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_User</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Assign_Permissionsets</name>
        <label>Assign Permissionsets</label>
        <locationX>1612</locationX>
        <locationY>1358</locationY>
        <inputReference>soc_AssignPermissionsets</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_PermissionsetLI1</name>
        <label>Get Permissionsets</label>
        <locationX>2250</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Permissionsets</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ManageCases</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ManageAccounts</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OrderActivation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ServiceUserPsl</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Manage_Account_Subsidiaries</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CreateOrders</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ServiceUserPsl</stringValue>
            </value>
        </filters>
        <object>PermissionSet</object>
        <outputReference>soc_Permissionsets</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Permissionsets</name>
        <label>Get Permissionsets</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Checkbox</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ManageCases</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ManageAccounts</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OrderActivation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ServiceUserPsl</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NoordhoffCustomerService_OmniChannelRouting</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CreateOrders</stringValue>
            </value>
        </filters>
        <object>PermissionSet</object>
        <outputReference>soc_Permissionsets</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_PermissionsetsNH2</name>
        <label>Get Permissionsets</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_CheckboxNH2</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ManageCases</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ManageKnowledgeArticles</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OrderActivation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ManageAccounts</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ServiceUserPsl</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ManageQuickTexts</stringValue>
            </value>
        </filters>
        <object>PermissionSet</object>
        <outputReference>soc_Permissionsets</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_PermissionsetsNH3</name>
        <label>Get Permissionsets</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_CheckboxNH3</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ManageCases</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ManageAccounts</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OrderActivation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ServiceUserPsl</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NoordhoffCustomerService_OmniChannelRouting</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CreateOrders</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ManageQuickTexts</stringValue>
            </value>
        </filters>
        <object>PermissionSet</object>
        <outputReference>soc_Permissionsets</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_PermissionsetsP1</name>
        <label>Get Permissionsets</label>
        <locationX>1722</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Permissionsets</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ManageCases</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ManageAccounts</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OrderActivation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ServiceUserPsl</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Manage_Account_Subsidiaries</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CreateOrders</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ServiceUserPsl</stringValue>
            </value>
        </filters>
        <object>PermissionSet</object>
        <outputReference>soc_Permissionsets</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_User</name>
        <label>Update User</label>
        <locationX>1612</locationX>
        <locationY>1250</locationY>
        <connector>
            <targetReference>Assign_Permissionsets</targetReference>
        </connector>
        <inputReference>sov_User</inputReference>
    </recordUpdates>
    <start>
        <locationX>1486</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Default_user_checkbox</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>soc_AssignPermissionsets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>soc_Permissionsets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSet</objectType>
    </variables>
    <variables>
        <name>sov_AssignPermissionSet</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>sov_User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
