force-app/main/default/flows/SCPermissionsetRemoval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_to_remove_the_Permissionset_assignment</name>
        <label>Assign to remove the Permissionset assignment</label>
        <locationX>270</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>soc_RemovePermissionsetAssignment</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Permissionset_assignment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Permissionset_assignment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_permissionset_assignments</name>
        <label>Any permissionset assignments</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soc_PermissionSetAssignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Permissionset_assignment</targetReference>
            </connector>
            <label>Yes - Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_updates</name>
        <label>Any updates</label>
        <locationX>182</locationX>
        <locationY>950</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soc_RemovePermissionsetAssignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Permissionset_assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_owned_by_a_profile</name>
        <label>Is owned by a profile?</label>
        <locationX>402</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Loop_Permissionset_assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_PermissionSet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_remove_the_Permissionset_assignment</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Permissionset Removal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Permissionset Removal</label>
    <loops>
        <name>Loop_Permissionset_assignment</name>
        <label>Loop Permissionset assignment</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <collectionReference>soc_PermissionSetAssignment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Permissionset</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Any_updates</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Remove_Permissionset_assignment</name>
        <label>Remove Permissionset assignment</label>
        <locationX>50</locationX>
        <locationY>1058</locationY>
        <inputReference>soc_RemovePermissionsetAssignment</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Permissionset</name>
        <label>Get Permissionset</label>
        <locationX>402</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_owned_by_a_profile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Permissionset_assignment.PermissionSetId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsOwnedByProfile</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>PermissionSet</object>
        <outputReference>sov_PermissionSet</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Permissionset_assignment</name>
        <label>Get Permissionset assignment</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_permissionset_assignments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_User.Id</elementReference>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
        <outputReference>soc_PermissionSetAssignment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AssigneeId</queriedFields>
        <queriedFields>PermissionSetId</queriedFields>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Permissionset_assignment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>soc_PermissionSetAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>soc_RemovePermissionsetAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>sov_PermissionSet</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSet</objectType>
    </variables>
    <variables>
        <name>sov_User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
