force-app/main/default/flows/SCRequestArticle.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assignment</name>
        <label>Assignment</label>
        <locationX>578</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>sov_Task.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_Case.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Task.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_Priority</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Task.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_Case.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Task.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Task.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_did_you_do_to_try_to_resolve</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Opco</name>
        <label>Opco</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Noordhoff</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Case.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_queue_Noordhoff</targetReference>
            </connector>
            <label>Noordhoff</label>
        </rules>
        <rules>
            <name>Noordhoff_Professional</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Case.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff Professional</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_queue_Noordhoff_Professional</targetReference>
            </connector>
            <label>Noordhoff Professional</label>
        </rules>
        <rules>
            <name>Liber</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Case.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Liber</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_queue_Liber</targetReference>
            </connector>
            <label>Liber</label>
        </rules>
        <rules>
            <name>Plantyn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Case.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Plantyn</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_queue_Plantyn</targetReference>
            </connector>
            <label>Plantyn</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>form_Priority</name>
        <dataType>String</dataType>
        <expression>IF({!sov_Case.IsClosed} = true, &quot;High&quot;, &quot;Normal&quot;)</expression>
    </formulas>
    <interviewLabel>Request Article {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Request Article</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>578</locationX>
        <locationY>650</locationY>
        <inputReference>sov_Task</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_queue_Liber</name>
        <label>Get queue Liber</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LiberKnowledge</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>sov_Queue</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_queue_Noordhoff</name>
        <label>Get queue Noordhoff</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NoordhoffKnowledge</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>sov_Queue</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_queue_Noordhoff_Professional</name>
        <label>Get queue Noordhoff Professional</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NoordhoffProfessionalKnowledge</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>sov_Queue</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_queue_Plantyn</name>
        <label>Get queue Plantyn</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PlantynKnowledge</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>sov_Queue</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <screens>
        <name>Request_Article</name>
        <label>Request Article</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Opco</targetReference>
        </connector>
        <fields>
            <name>What_did_you_do_to_try_to_resolve</name>
            <fieldText>What did you do to try to resolve?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Request_Article</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>sov_Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>sov_Queue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>sov_Task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
