force-app/main/default/flows/SetNumberOfStudentsFromCustomDataToAccount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_Account_to_Update_List</name>
        <label>Add Account to Update List</label>
        <locationX>1678</locationX>
        <locationY>2759</locationY>
        <assignmentItems>
            <assignToReference>COL_AccountsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Accounts_to_get_Classifications</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Accounts_to_get_Classifications</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_HE_to_Account</name>
        <label>add HE to Account</label>
        <locationX>1766</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>Loop_Accounts_to_get_Classifications.HEStudents__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Count_Total_Number_of_Students.NumberOfStudents__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Plantyn_Extra_Student_info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_KG_to_Account</name>
        <label>add KG to Account</label>
        <locationX>2822</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>Loop_Accounts_to_get_Classifications.KGStudents__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Count_Total_Number_of_Students.NumberOfStudents__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Plantyn_Extra_Student_info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_PE_to_Account</name>
        <label>add PE to Account</label>
        <locationX>2030</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>Loop_Accounts_to_get_Classifications.PEStudents__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Count_Total_Number_of_Students.NumberOfStudents__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Plantyn_Extra_Student_info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_SE_to_Account</name>
        <label>add SE to Account</label>
        <locationX>2294</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>Loop_Accounts_to_get_Classifications.SEStudents__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Count_Total_Number_of_Students.NumberOfStudents__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Plantyn_Extra_Student_info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Students_1A_to_Account</name>
        <label>Add Students 1A to Account</label>
        <locationX>1898</locationX>
        <locationY>2327</locationY>
        <assignmentItems>
            <assignToReference>Loop_Accounts_to_get_Classifications.Students1A__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Count_Total_Number_of_Students.NumberOfStudents__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Total_Number_of_Students</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Students_3_Arbeid_to_Account</name>
        <label>Add Students 3 Arbeid to Account</label>
        <locationX>2690</locationX>
        <locationY>2327</locationY>
        <assignmentItems>
            <assignToReference>Loop_Accounts_to_get_Classifications.Students3Arbeid__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Count_Total_Number_of_Students.NumberOfStudents__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Total_Number_of_Students</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Students_3_Doorstroom_to_Account</name>
        <label>Add Students 3 Doorstroom to Account</label>
        <locationX>2162</locationX>
        <locationY>2327</locationY>
        <assignmentItems>
            <assignToReference>Loop_Accounts_to_get_Classifications.Students3Doorstroom__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Count_Total_Number_of_Students.NumberOfStudents__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Total_Number_of_Students</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Students_3_Dubbel_to_Account</name>
        <label>Add Students 3 Dubbel to Account</label>
        <locationX>2426</locationX>
        <locationY>2327</locationY>
        <assignmentItems>
            <assignToReference>Loop_Accounts_to_get_Classifications.Students3Dubbel__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Count_Total_Number_of_Students.NumberOfStudents__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Total_Number_of_Students</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_HE_Students</name>
        <label>Add to HE Students to totals</label>
        <locationX>1766</locationX>
        <locationY>1751</locationY>
        <assignmentItems>
            <assignToReference>HEstudents</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Count_Total_Number_of_Students.NumberOfStudents__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_HE_to_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_KG_Students</name>
        <label>Add to KG Students to totals</label>
        <locationX>2822</locationX>
        <locationY>1751</locationY>
        <assignmentItems>
            <assignToReference>KGstudents</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Count_Total_Number_of_Students.NumberOfStudents__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_KG_to_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_NumberOfStudents</name>
        <label>Add to NumberOfStudents</label>
        <locationX>2426</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>TotalNumberofStudents</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Count_Total_Number_of_Students.NumberOfStudents__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>studentsPerAccount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Count_Total_Number_of_Students.NumberOfStudents__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Marketsegment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_PE_Students</name>
        <label>Add to PE Students to totals</label>
        <locationX>2030</locationX>
        <locationY>1751</locationY>
        <assignmentItems>
            <assignToReference>PEstudents</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Count_Total_Number_of_Students.NumberOfStudents__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_PE_to_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_SE_Students</name>
        <label>Add to SE Students to totals</label>
        <locationX>2294</locationX>
        <locationY>1751</locationY>
        <assignmentItems>
            <assignToReference>SEstudents</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Count_Total_Number_of_Students.NumberOfStudents__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_SE_to_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Studemts_3_Arbeid</name>
        <label>Add to Studemts 3 Arbeid totals</label>
        <locationX>2690</locationX>
        <locationY>2207</locationY>
        <assignmentItems>
            <assignToReference>students3Arbeid</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Count_Total_Number_of_Students.NumberOfStudents__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Students_3_Arbeid_to_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Students_1A</name>
        <label>Add to Students 1A totals</label>
        <locationX>1898</locationX>
        <locationY>2207</locationY>
        <assignmentItems>
            <assignToReference>students1A</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Count_Total_Number_of_Students.NumberOfStudents__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Students_1A_to_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Students_3_Doorstroom</name>
        <label>Add to Students 3 Doorstroom totals</label>
        <locationX>2162</locationX>
        <locationY>2207</locationY>
        <assignmentItems>
            <assignToReference>students3Doorstroom</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Count_Total_Number_of_Students.NumberOfStudents__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Students_3_Doorstroom_to_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Students_3_Dubbel</name>
        <label>Add to Students 3 Dubbel totals</label>
        <locationX>2426</locationX>
        <locationY>2207</locationY>
        <assignmentItems>
            <assignToReference>students3Dubbel</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Count_Total_Number_of_Students.NumberOfStudents__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Students_3_Dubbel_to_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_VE_Students</name>
        <label>Add to VE Students to totals</label>
        <locationX>2558</locationX>
        <locationY>1751</locationY>
        <assignmentItems>
            <assignToReference>VEstudents</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Count_Total_Number_of_Students.NumberOfStudents__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_VE_to_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_VE_to_Account</name>
        <label>add VE to Account</label>
        <locationX>2558</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>Loop_Accounts_to_get_Classifications.VEStudents__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Count_Total_Number_of_Students.NumberOfStudents__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Plantyn_Extra_Student_info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Main_Account</name>
        <label>Set Main Account</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>VAR_MainLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Main_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Accounts_For_Classification_Count_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Main_Account_2</name>
        <label>Set Main Account</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>VAR_MainLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_all_Accounts_for_Classification_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Number_of_Students</name>
        <label>Set Number of Students</label>
        <locationX>1678</locationX>
        <locationY>2639</locationY>
        <assignmentItems>
            <assignToReference>Loop_Accounts_to_get_Classifications.NumberofStudents__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>studentsPerAccount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalNumberOfStudentsMainAccount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>studentsPerAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Account_to_Update_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_NumberOfStudents_on_Account</name>
        <label>Set NumberOfStudents on MainAccount</label>
        <locationX>182</locationX>
        <locationY>2975</locationY>
        <assignmentItems>
            <assignToReference>VAR_MainLocation.NumberofStudentsSchoolTotals__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalNumberofStudents</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_MainLocation.KGStudentSchoolTotals__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>KGstudents</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_MainLocation.HEStudentSchoolTotals__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HEstudents</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_MainLocation.SEStudentSchoolTotals__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SEstudents</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_MainLocation.PEStudentSchoolTotals__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PEstudents</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_MainLocation.VEStudentSchoolTotals__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VEstudents</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_MainLocation.Student1ASchoolTotals__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>students1A</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_MainLocation.Students3Doorstroom__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>students3Doorstroom</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_MainLocation.Student3DubbelSchoolTotals__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>students3Dubbel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_MainLocation.Student3ArbeidSchoolTotals__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>students3Arbeid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_MainLocation.NumberofStudents__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>totalNumberOfStudentsMainAccount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_MainLocation.NumberOfStudentsHierarchy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>totalNumberOfStudentsMainAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_students_on_Account_to_0</name>
        <label>Set students on Account to 0</label>
        <locationX>1678</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>Loop_Accounts_to_get_Classifications.HEStudents__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Accounts_to_get_Classifications.SEStudents__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Accounts_to_get_Classifications.VEStudents__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Accounts_to_get_Classifications.PEStudents__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Accounts_to_get_Classifications.KGStudents__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Accounts_to_get_Classifications.Students1A__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Accounts_to_get_Classifications.Students3Doorstroom__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Accounts_to_get_Classifications.Students3Dubbel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Accounts_to_get_Classifications.Students3Arbeid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Accounts_to_get_Classifications.NumberofStudents__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>studentsPerAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Accounts_to_get_Classifications.NumberOfStudentsHierarchy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Total_Number_of_Students</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IsMainlocation</name>
        <label>IsMainlocation</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Get_Main_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.SchoolType__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Location</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Main_Account_2</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Marketsegment</name>
        <label>Marketsegment</label>
        <locationX>2426</locationX>
        <locationY>1631</locationY>
        <defaultConnector>
            <targetReference>Plantyn_Extra_Student_info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count_Total_Number_of_Students.isHigherEducation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_HE_Students</targetReference>
            </connector>
            <label>HE</label>
        </rules>
        <rules>
            <name>PE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count_Total_Number_of_Students.isPrimaryEducation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_PE_Students</targetReference>
            </connector>
            <label>PE</label>
        </rules>
        <rules>
            <name>SE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count_Total_Number_of_Students.isSecondaryEducation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_SE_Students</targetReference>
            </connector>
            <label>SE</label>
        </rules>
        <rules>
            <name>VE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count_Total_Number_of_Students.isVocationalEducation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_VE_Students</targetReference>
            </connector>
            <label>VE</label>
        </rules>
        <rules>
            <name>KG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count_Total_Number_of_Students.isKindergarten__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_KG_Students</targetReference>
            </connector>
            <label>KG</label>
        </rules>
    </decisions>
    <decisions>
        <name>Plantyn_Extra_Student_info</name>
        <label>Plantyn_Extra_Student_info</label>
        <locationX>2426</locationX>
        <locationY>2087</locationY>
        <defaultConnector>
            <targetReference>Count_Total_Number_of_Students</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Students_1A</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count_Total_Number_of_Students.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1e lj A</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Students_1A</targetReference>
            </connector>
            <label>Students 1A</label>
        </rules>
        <rules>
            <name>Students_3_Doorstroom</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count_Total_Number_of_Students.ClassificationAttributeValueName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Algemeen secundair onderwijs</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Students_3_Doorstroom</targetReference>
            </connector>
            <label>Students 3 Doorstroom</label>
        </rules>
        <rules>
            <name>Students_3_Dubbel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count_Total_Number_of_Students.ClassificationAttributeValueName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technisch secundair onderwijs</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Students_3_Dubbel</targetReference>
            </connector>
            <label>Students 3 Dubbel</label>
        </rules>
        <rules>
            <name>Students_3_Arbeid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count_Total_Number_of_Students.ClassificationAttributeValueName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Beroepssecundair onderwijs</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Studemts_3_Arbeid</targetReference>
            </connector>
            <label>Students 3 Arbeid</label>
        </rules>
    </decisions>
    <description>Added functionality to count number of students to specific market segment</description>
    <interviewLabel>Count Number Of students on Custom Data {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Number Of Students from Classification Data to Account</label>
    <loops>
        <name>Count_Total_Number_of_Students</name>
        <label>Count Total Number of Students</label>
        <locationX>1678</locationX>
        <locationY>1391</locationY>
        <collectionReference>Get_Classification_Data</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_NumberOfStudents</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Number_of_Students</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Accounts_to_get_Classifications</name>
        <label>Loop Accounts to get Classifications</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <collectionReference>COL_All_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Classification_Data</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_NumberOfStudents_on_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsMainlocation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_all_Accounts_for_Classification_Count</name>
        <label>Get all Accounts for Classification Count</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Accounts_to_get_Classifications</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MainLocation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>COL_All_Accounts</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Accounts_For_Classification_Count_2</name>
        <label>Get All Accounts For Classification Count</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Accounts_to_get_Classifications</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Main_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MainLocation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Main_Account.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>COL_All_Accounts</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Classification_Data</name>
        <label>Get Classification Data</label>
        <locationX>1678</locationX>
        <locationY>1151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_students_on_Account_to_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Accounts_to_get_Classifications.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ClassificationData__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Main_Account</name>
        <label>Get Main Account</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Main_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.MainLocation__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_0</name>
        <label>Update Main Account</label>
        <locationX>182</locationX>
        <locationY>3215</locationY>
        <inputReference>VAR_MainLocation</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Accounts</name>
        <label>Update Accounts</label>
        <locationX>182</locationX>
        <locationY>3095</locationY>
        <connector>
            <targetReference>Update_Account_0</targetReference>
        </connector>
        <inputReference>COL_AccountsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NumberOfStudents__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ClassificationData__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Classifications</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ClassificationData__c</objectType>
    </variables>
    <variables>
        <name>COL_AccountsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>COL_All_Accounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>HEstudents</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>KGstudents</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>PEstudents</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SEstudents</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>students1A</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>students3Arbeid</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>students3Doorstroom</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>students3Dubbel</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>studentsPerAccount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TotalNumberofStudents</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>totalNumberOfStudentsMainAccount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>VAR_MainLocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>VEstudents</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
