force-app/main/default/flows/StoreShippingCost.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Charge</name>
        <label>Assign Charge</label>
        <locationX>572</locationX>
        <locationY>603</locationY>
        <assignmentItems>
            <assignToReference>sov_Order.ShippingRule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_Order.ShippingRule__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.ShippingCostDomestic__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_ShippingCostDomestic.Charge__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.ShippingCostNonDomestic__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_ShippingCostNonDomestic.Charge__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Order.ShippingCost__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sov_ShippingCostDomestic.Charge__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Domestic_variables</name>
        <label>Assign Domestic variables</label>
        <locationX>1029</locationX>
        <locationY>105</locationY>
        <assignmentItems>
            <assignToReference>var_DomesticWeight</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_OrderItem.Weight__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_OrderItem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Non_Domestic_variables</name>
        <label>Assign Non Domestic variables</label>
        <locationX>1029</locationX>
        <locationY>414</locationY>
        <assignmentItems>
            <assignToReference>var_NonDomesticWeight</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_OrderItem.Weight__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_OrderItem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Non_variables</name>
        <label>Assign Non variables</label>
        <locationX>431</locationX>
        <locationY>509</locationY>
        <assignmentItems>
            <assignToReference>sov_Order.ShippingCost__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sov_ShippingCostNonDomestic.Charge__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Shipping_cost_Domestic</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Shipping_Indication_Rule</name>
        <label>Shipping Indication Rule</label>
        <locationX>904</locationX>
        <locationY>246</locationY>
        <defaultConnector>
            <targetReference>Loop_OrderItem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Based_on_weight_Domestic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_OrderItem.ShippingIndicationRule__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Based on weight Domestic</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Domestic_variables</targetReference>
            </connector>
            <label>Based on weight Domestic</label>
        </rules>
        <rules>
            <name>Based_on_weight_non_Domestic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_OrderItem.ShippingIndicationRule__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Based on weight non Domestic</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Non_Domestic_variables</targetReference>
            </connector>
            <label>Based on weight non Domestic</label>
        </rules>
        <rules>
            <name>Shipping_Cost_Exempt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_OrderItem.ShippingIndicationRule__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shipping Cost Exempt</stringValue>
                </rightValue>
            </conditions>
            <label>Shipping Cost Exempt</label>
        </rules>
    </decisions>
    <interviewLabel>Store Shipping Cost {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Store Shipping Cost</label>
    <loops>
        <name>Loop_OrderItem</name>
        <label>Loop OrderItem</label>
        <locationX>683</locationX>
        <locationY>239</locationY>
        <collectionReference>Get_all_OrderLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Shipping_Indication_Rule</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Shipping_cost_Non_Domestic</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_OrderLineItems</name>
        <label>Get all OrderLineItems</label>
        <locationX>561</locationX>
        <locationY>141</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_OrderItem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Order.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>419</locationX>
        <locationY>141</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_all_OrderLineItems</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Order.Id</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputReference>sov_Order</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ShippingCost__c</queriedFields>
        <queriedFields>ShippingCostDomestic__c</queriedFields>
        <queriedFields>ShippingCostMethod__c</queriedFields>
        <queriedFields>ShippingCostNonDomestic__c</queriedFields>
        <queriedFields>ShippingRule__c</queriedFields>
        <queriedFields>AccountSubsidiaryLegalName__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Shipping_cost_Domestic</name>
        <label>Get Shipping cost Domestic</label>
        <locationX>699</locationX>
        <locationY>435</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Charge</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RangeValue__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>var_DomesticWeight</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subsidiary__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Order.AccountSubsidiaryLegalName__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ShippingRule__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Based on weight Domestic</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ShippingCost__c</object>
        <outputReference>sov_ShippingCostDomestic</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Charge__c</queriedFields>
        <queriedFields>ShippingRule__c</queriedFields>
        <sortField>RangeValue__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Shipping_cost_Non_Domestic</name>
        <label>Get Shipping cost Non Domestic</label>
        <locationX>431</locationX>
        <locationY>356</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Non_variables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RangeValue__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>var_NonDomesticWeight</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subsidiary__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Order.AccountSubsidiaryLegalName__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ShippingRule__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Based on weight non Domestic</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ShippingCost__c</object>
        <outputReference>sov_ShippingCostNonDomestic</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Charge__c</queriedFields>
        <queriedFields>ShippingRule__c</queriedFields>
        <sortField>RangeValue__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_order</name>
        <label>Update order</label>
        <locationX>572</locationX>
        <locationY>759</locationY>
        <inputReference>sov_Order</inputReference>
    </recordUpdates>
    <start>
        <locationX>46</locationX>
        <locationY>123</locationY>
        <connector>
            <targetReference>Get_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sov_Order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>sov_ShippingCostDomestic</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ShippingCost__c</objectType>
    </variables>
    <variables>
        <name>sov_ShippingCostNonDomestic</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ShippingCost__c</objectType>
    </variables>
    <variables>
        <name>var_DomesticWeight</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_NonDomesticWeight</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_TypeShippingCost</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Weight</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
    </variables>
</Flow>
