force-app/main/default/flows/StoreVAT.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Variables</name>
        <label>Assign Variables</label>
        <locationX>652</locationX>
        <locationY>65</locationY>
        <assignmentItems>
            <assignToReference>sov_OrderItem.VATRule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_VAT.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_OrderLineItem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables_0</name>
        <label>Assign Variables</label>
        <locationX>713</locationX>
        <locationY>314</locationY>
        <assignmentItems>
            <assignToReference>sov_OrderItem.VATRule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_OrderLineItem</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Record_found</name>
        <label>Record found</label>
        <locationX>574</locationX>
        <locationY>195</locationY>
        <defaultConnector>
            <targetReference>Assign_Variables_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_VAT_Rule</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Variables</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Store VAT {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Store VAT</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_VAT_Rule</name>
        <label>Get VAT Rule</label>
        <locationX>500</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subsidiary__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_OrderItem.Order.AccountSubsidiary__r.LegalName__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>NexusCountry__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_OrderItem.ShippingCountry__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_OrderItem.Product2.VAT__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>VAT__c</object>
        <outputReference>sov_VAT</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_OrderLineItem</name>
        <label>Update OrderLineItem</label>
        <locationX>821</locationX>
        <locationY>68</locationY>
        <inputReference>sov_OrderItem</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_VAT_Rule</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>sov_OrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>sov_VAT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VAT__c</objectType>
    </variables>
</Flow>
