force-app/main/default/flows/SubflowCreateSalesStatistics.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>defineSource</name>
        <dataType>String</dataType>
        <expression>IF(
{!recRetailerStatisticsImport.OrderDate__c}&lt; DATE(2022,10,19), &quot;Klopotek&quot;, &quot;Netsuite&quot;
)</expression>
    </formulas>
    <formulas>
        <name>forBooklistRecordTypeId</name>
        <dataType>String</dataType>
        <expression>{!$Label.BooklistRecordTypeId}</expression>
    </formulas>
    <formulas>
        <name>forYear</name>
        <dataType>Number</dataType>
        <expression>YEAR({!recRetailerStatisticsImport.OrderDate__c})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Subflow Create Sales Statistics {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow Create Sales Statistics</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateBooklistAsset</name>
        <label>Create Booklist Asset</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignRecordIdToReference>varCreatedAsset</assignRecordIdToReference>
        <connector>
            <targetReference>UpdateRetailerStatisticsImportRecord</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recRetailerStatisticsImport.SoldToAccount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel__c</field>
            <value>
                <stringValue>Retailer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsSalesStatistic__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>recRetailerStatisticsImport.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OperatingCompany__c</field>
            <value>
                <elementReference>recRetailerStatisticsImport.OperatingCompany__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderDate__c</field>
            <value>
                <elementReference>recRetailerStatisticsImport.OrderDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>recRetailerStatisticsImport.Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>recRetailerStatisticsImport.Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>forBooklistRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RetailerName__c</field>
            <value>
                <elementReference>recRetailerStatisticsImport.Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceSystemOrderId__c</field>
            <value>
                <elementReference>recRetailerStatisticsImport.TradePartnerOrderNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceSystemRowId__c</field>
            <value>
                <elementReference>recRetailerStatisticsImport.RowId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceSystem__c</field>
            <value>
                <elementReference>defineSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year__c</field>
            <value>
                <elementReference>forYear</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordCreates>
    <recordLookups>
        <name>GetRetailerStatisticsImport</name>
        <label>Get Retailer Statistics Import</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateBooklistAsset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recRetailerStatisticsImport.Id</elementReference>
            </value>
        </filters>
        <object>Retailer_Statistics_Import__c</object>
        <outputReference>recRetailerStatisticsImport</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SoldToAccount__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>OperatingCompany__c</queriedFields>
        <queriedFields>Product__c</queriedFields>
        <queriedFields>Quantity__c</queriedFields>
        <queriedFields>OrderDate__c</queriedFields>
        <queriedFields>Source__c</queriedFields>
        <queriedFields>TradePartnerOrderNumber__c</queriedFields>
        <queriedFields>RowId__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateRetailerStatisticsImportRecord</name>
        <label>Update Retailer Statistics Import record</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recRetailerStatisticsImport.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Asset__c</field>
            <value>
                <elementReference>varCreatedAsset</elementReference>
            </value>
        </inputAssignments>
        <object>Retailer_Statistics_Import__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRetailerStatisticsImport</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recRetailerStatisticsImport</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Retailer_Statistics_Import__c</objectType>
    </variables>
    <variables>
        <name>varCreatedAsset</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
