force-app/main/default/flows/UpdateCreditLimit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>assignCreditLimitNotReached</name>
        <label>assignCreditLimitNotReached</label>
        <locationX>666</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varCreditLimitReached</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopAccountSubsidiaries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignCreditLimitReached_2</name>
        <label>assignCreditLimitReached</label>
        <locationX>754</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varCreditLimitReached</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopAccountSubsidiaries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignCreditLimitReachted</name>
        <label>assignCreditLimitReachted</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varCreditLimitReached</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateRelatedAccount</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CreditLimitReached_x</name>
        <label>CreditLimitReached</label>
        <locationX>886</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>loopAccountSubsidiaries</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CreditLimitReached_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopAccountSubsidiaries.creditLimitReached__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignCreditLimitReached_2</targetReference>
            </connector>
            <label>CreditLimit Reached</label>
        </rules>
    </decisions>
    <decisions>
        <name>decCreditLimitReached</name>
        <label>decCreditLimitReached</label>
        <locationX>358</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>assignCreditLimitNotReached</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CreditLimitReached</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getSubsidiaryRecordDetails.creditLimitReached__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignCreditLimitReachted</targetReference>
            </connector>
            <label>CreditLimit Reached</label>
        </rules>
    </decisions>
    <description>CH 20231123: Only update the account if the account subsidiary is the primary account subsidiary</description>
    <environments>Default</environments>
    <interviewLabel>Update credit Limit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update credit Limit</label>
    <loops>
        <name>loopAccountSubsidiaries</name>
        <label>loopAccountSubsidiaries</label>
        <locationX>666</locationX>
        <locationY>566</locationY>
        <collectionReference>getAllSubsidiaries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CreditLimitReached_x</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateRelatedAccount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAllSubsidiaries</name>
        <label>getAllSubsidiaries</label>
        <locationX>358</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decCreditLimitReached</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getSubsidiaryRecordDetails.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Deleted__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsInactive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountSubsidiary__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getSubsidiaryRecordDetails</name>
        <label>getSubsidiaryRecordDetails</label>
        <locationX>358</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAllSubsidiaries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountSubsidiaryID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountSubsidiary__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateRelatedAccount</name>
        <label>updateRelatedAccount</label>
        <locationX>358</locationX>
        <locationY>1142</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getSubsidiaryRecordDetails.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account_Subsidiary__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountSubsidiaryID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CreditLimitReached__c</field>
            <value>
                <elementReference>varCreditLimitReached</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getSubsidiaryRecordDetails</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Invoice</description>
        <name>PaymentTerm_Invoice</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Invoice</text>
    </textTemplates>
    <variables>
        <name>varAccountSubsidiaryID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCreditLimitReached</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
