force-app/main/default/flows/UpdateBlockonAccount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>assignBlocked</name>
        <label>assignBlocked</label>
        <locationX>776</locationX>
        <locationY>271</locationY>
        <assignmentItems>
            <assignToReference>varBlocked</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBlockingReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopAccountSubsidiariesBlocked.BlockReason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPaymentMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopAccountSubsidiariesBlocked.PaymentTerms__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopAccountSubsidiariesBlocked</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignBlocked_0</name>
        <label>assignBlocked</label>
        <locationX>272</locationX>
        <locationY>740</locationY>
        <assignmentItems>
            <assignToReference>varBlocked</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBlockingReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getSubsidiaryRecordDetails.BlockReason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPaymentMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getSubsidiaryRecordDetails.PaymentTerms__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateRelatedAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignNotBlocked</name>
        <label>assignNotBlocked</label>
        <locationX>330</locationX>
        <locationY>202</locationY>
        <assignmentItems>
            <assignToReference>varBlocked</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBlockingReason</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPaymentMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PaymentTerm_Invoice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopAccountSubsidiariesBlocked</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decIsBlocked</name>
        <label>decIsBlocked</label>
        <locationX>181</locationX>
        <locationY>423</locationY>
        <defaultConnector>
            <targetReference>assignNotBlocked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isBlocked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getSubsidiaryRecordDetails.Blocked__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignBlocked_0</targetReference>
            </connector>
            <label>isBlocked</label>
        </rules>
    </decisions>
    <decisions>
        <name>isBlockedSet</name>
        <label>isBlockedSet</label>
        <locationX>626</locationX>
        <locationY>136</locationY>
        <defaultConnector>
            <targetReference>loopAccountSubsidiariesBlocked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>blocked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopAccountSubsidiariesBlocked.Blocked__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignBlocked</targetReference>
            </connector>
            <label>blocked</label>
        </rules>
    </decisions>
    <description>Flow to update accounts whenever subsidiary field Blocked is updated from Netsuite. Launched from general account subsidiary process builder.
WK - 20210526 Downgraded the API version from 52 to 51 due to incompatibility issues with other orgs.
WK - 20210615 Updated the IsUpdateNeeded decision to only update if varblocked is true.
JK - 20211015 Updated to also update the Payment Method on Account
CH - 20231123: Only update the account if the account subsidiary is the primary account subsidiary</description>
    <environments>Default</environments>
    <interviewLabel>Update Block on Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Block on Account</label>
    <loops>
        <name>loopAccountSubsidiariesBlocked</name>
        <label>loopAccountSubsidiariesBlocked</label>
        <locationX>461</locationX>
        <locationY>203</locationY>
        <collectionReference>getAllSubsidiaries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>isBlockedSet</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateRelatedAccount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAllSubsidiaries</name>
        <label>getAllSubsidiaries</label>
        <locationX>172</locationX>
        <locationY>197</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decIsBlocked</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getSubsidiaryRecordDetails.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Deleted__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsInactive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountSubsidiary__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getSubsidiaryRecordDetails</name>
        <label>getSubsidiaryRecordDetails</label>
        <locationX>54</locationX>
        <locationY>198</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAllSubsidiaries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountSubsidiaryID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountSubsidiary__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateRelatedAccount</name>
        <label>updateRelatedAccount</label>
        <locationX>766</locationX>
        <locationY>737</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getSubsidiaryRecordDetails.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account_Subsidiary__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountSubsidiaryID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BlockReason__c</field>
            <value>
                <elementReference>varBlockingReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Blocked__c</field>
            <value>
                <elementReference>varBlocked</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentMethod__c</field>
            <value>
                <elementReference>varPaymentMethod</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>111</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getSubsidiaryRecordDetails</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Invoice</description>
        <name>PaymentTerm_Invoice</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Invoice</text>
    </textTemplates>
    <variables>
        <name>varAccountSubsidiaryID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBlocked</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBlockedCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varBlockingReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPaymentMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
