force-app/main/default/flows/User_DeactivateInactiveUsers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Deletes Swell users that have not logged in for over 2 months --&gt; Admins are excluded.</description>
        <name>Delete_Inactive_Swell_Users</name>
        <label>Delete Inactive Swell Users</label>
        <locationX>176</locationX>
        <locationY>984</locationY>
        <actionName>SWELL_deleteInactiveUsers_Invocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>SWELL_deleteInactiveUsers_Invocable</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Suspends users that have not logged in for over 1 month --&gt; Only Agents, Admins are excluded.</description>
        <name>Suspend_Inactive_Zendesk_Users</name>
        <label>Suspend Inactive Zendesk Users</label>
        <locationX>176</locationX>
        <locationY>876</locationY>
        <actionName>ZD_suspendInactiveUsers_Invocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Delete_Inactive_Swell_Users</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>ZD_suspendInactiveUsers_Invocable</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_User_to_Update_List</name>
        <label>Add User to Update List</label>
        <locationX>264</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>UserUpdateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopUsers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopUsers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Deactivate_Users</name>
        <label>Deactivate Users</label>
        <locationX>264</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>LoopUsers.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_User_to_Update_List</targetReference>
        </connector>
    </assignments>
    <description>JK 2023/06/01 --&gt; Changed inactive time for SF Users from 1 month to 2 months.</description>
    <environments>Default</environments>
    <formulas>
        <name>OneMonthAgo</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(TODAY(),-1)</expression>
    </formulas>
    <formulas>
        <name>TwoMonthsAgo</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(TODAY(),-2)</expression>
    </formulas>
    <interviewLabel>User - Deactivate inactive Users {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User - Deactivate inactive Users</label>
    <loops>
        <name>LoopUsers</name>
        <label>Loop Users</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>GetInactiveUserRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Deactivate_Users</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateUsers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetInactiveUserRecords</name>
        <label>Get Inactive User Records</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopUsers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LastLoginDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>TwoMonthsAgo</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>00e3V000000MEnOQAW</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateUsers</name>
        <label>Update Users</label>
        <locationX>176</locationX>
        <locationY>768</locationY>
        <connector>
            <targetReference>Suspend_Inactive_Zendesk_Users</targetReference>
        </connector>
        <inputReference>UserUpdateList</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetInactiveUserRecords</targetReference>
        </connector>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2023-01-29</startDate>
            <startTime>01:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>UserUpdateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
