force-app/main/default/flows/UserAfterSaveUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Which_update</name>
        <label>Which update</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Role_change</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.UserRoleId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff_Customer_Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff_Knowledge_Base_Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff_Customer_Service_Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Permissionset_Removal</targetReference>
            </connector>
            <label>Role change</label>
        </rules>
        <rules>
            <name>New_user</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>form_isnew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Permissionset_Assignment_new_user</targetReference>
            </connector>
            <label>New user</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>form_isnew</name>
        <dataType>Boolean</dataType>
        <expression>isnew()</expression>
    </formulas>
    <interviewLabel>User - After Save Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User - After Save Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Which_update</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>OperatingCompany__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Noordhoff</stringValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Permissionset_Assignment</name>
        <label>Permissionset Assignment</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <flowName>SCPermissionsetAssignment</flowName>
        <inputAssignments>
            <name>sov_User</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Permissionset_Assignment_new_user</name>
        <label>Permissionset Assignment</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <flowName>SCPermissionsetAssignment</flowName>
        <inputAssignments>
            <name>sov_User</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Permissionset_Removal</name>
        <label>Permissionset Removal</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Permissionset_Assignment</targetReference>
        </connector>
        <flowName>SCPermissionsetRemoval</flowName>
        <inputAssignments>
            <name>sov_User</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
